Repository google/flatbuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, swift, nim, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen, documentation, CI, grpc

Parsing from proto should keep field ID. (fixes #7645) (#7655)
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_fbs.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/proto_test.cpp
  tests/proto_test.h
  tests/prototest/GenerateProtoGoldens.sh
  tests/prototest/non-positive-id.proto
  tests/prototest/test.golden.fbs
  tests/prototest/test.proto
  tests/prototest/test_id.golden.fbs
  tests/prototest/test_include.golden.fbs
  tests/prototest/test_include_id.golden.fbs
  tests/prototest/test_suffix.golden.fbs
  tests/prototest/test_suffix_id.golden.fbs
  tests/prototest/test_union.golden.fbs
  tests/prototest/test_union_id.golden.fbs
  tests/prototest/test_union_include.golden.fbs
  tests/prototest/test_union_include_id.golden.fbs
  tests/prototest/test_union_suffix.golden.fbs
  tests/prototest/test_union_suffix_id.golden.fbs
  tests/prototest/twice-id.proto
  tests/prototest/use-reserved-id.proto
  tests/test.cpp
Labels: c++, codegen

Ensure that empty modules can build in TypeScript isolatedModules mode (#7726)
  src/idl_gen_ts.cpp
Labels: javascript, typescript, c++, codegen

[Annotated Buffers] Improve efficiency (#7820)
  include/flatbuffers/flatc.h
  src/annotated_binary_text_gen.cpp
  src/annotated_binary_text_gen.h
  src/flatc.cpp
Labels: c++, codegen

Update pom.xml (#7849)
  java/pom.xml
Labels: none

Fix go_sample.sh (#7903)
  samples/go.mod
  samples/go_sample.sh
  samples/sample_binary.go
Labels: golang

TS/JS: Export object based classes on entry (#7822)
  src/idl_gen_ts.cpp
  tests/ts/arrays_test_complex/arrays_test_complex_generated.cjs
  tests/ts/arrays_test_complex/my-game/example.d.ts
  tests/ts/arrays_test_complex/my-game/example.js
  tests/ts/arrays_test_complex/my-game/example.ts
  tests/ts/monster_test.d.ts
  tests/ts/monster_test.js
  tests/ts/monster_test.ts
  tests/ts/monster_test_generated.cjs
  tests/ts/my-game.d.ts
  tests/ts/my-game.js
  tests/ts/my-game.ts
  tests/ts/my-game/example.d.ts
  tests/ts/my-game/example.js
  tests/ts/my-game/example.ts
  tests/ts/my-game/example2.d.ts
  tests/ts/my-game/example2.js
  tests/ts/my-game/example2.ts
  tests/ts/my-game/other-name-space.d.ts
  tests/ts/my-game/other-name-space.js
  tests/ts/my-game/other-name-space.ts
  tests/ts/reflection.d.ts
  tests/ts/reflection.js
  tests/ts/reflection.ts
  tests/ts/typescript_keywords_generated.cjs
  tests/ts/union_vector/union_vector.d.ts
  tests/ts/union_vector/union_vector.js
  tests/ts/union_vector/union_vector.ts
  tests/ts/union_vector/union_vector_generated.cjs
Labels: javascript, typescript, c++, codegen

README.md: PyPI case typo (#7880)
  README.md
Labels: documentation

Updated remaining usages of LICENSE.txt
  CMake/PackageRedhat.cmake
  conanfile.py
  docs/source/FlatBuffers.md
  net/FlatBuffers/Google.FlatBuffers.csproj
  package.json
  python/setup.cfg
  python/setup.py
Labels: c#, python, json, documentation

Only use absl headers if C++14 is available. (#7824)
  include/flatbuffers/base.h
Labels: c++

fixed bad math for --annotate-sparse-vectors
  src/annotated_binary_text_gen.cpp
Labels: c++, codegen

[Android][Kotlin] fixed build after decomission of jcenter and gradle update (#7840)
  android/.project
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/cpp/generated/animal_generated.h
  android/app/src/main/java/generated/com/fbs/app/Animal.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  kotlin/benchmark/build.gradle.kts
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlexBuffersBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/JsonBenchmark.kt
  kotlin/build.gradle.kts
  kotlin/gradle/libs.versions.toml
  kotlin/gradle/wrapper/gradle-wrapper.properties
Labels: kotlin, c++

Update stale.yml
  .github/workflows/stale.yml
Labels: CI

explicitly declare enum values (#7811)
  include/flatbuffers/idl.h
  src/idl_gen_swift.cpp
Labels: swift, c++, codegen

Update go documentation link to point to root module (#7879)
  README.md
Labels: documentation

fix using null string in vector (#7872)
  net/FlatBuffers/FlatBufferBuilder.cs
  net/FlatBuffers/Table.cs
Labels: c#

Adding comment for code clarification (#7856)
  dart/test/monster_test.fbs
Labels: none

Go: add test for FinishWithFileIdentifier (#7905)
  tests/go_test.go
Labels: golang

ToCamelCase() when kLowerCamel now converts first char to lower. (#7838)
  src/idl_gen_kotlin.cpp
  src/util.cpp
  tests/MyGame/Example/Any.kt
  tests/util_test.cpp
Labels: kotlin, c++, codegen

Simplify and fix TypeScript compilation output (#7815)
  package.json
  tests/ts/TypeScriptTest.py
  tsconfig.json
  tsconfig.mjs.json
  yarn.lock
Labels: python, json

TS/JS: Use TypeError instead of Error when appropriate (#7910)
  ts/builder.ts
Labels: typescript

Add Code Generator for idl_gen_fbs to parse .proto files (#7832)
  include/flatbuffers/idl.h
  scripts/generate_code.py
  src/BUILD.bazel
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_fbs.h
Labels: python, c++, codegen

Allow manual runs of stale.yml
  .github/workflows/stale.yml
Labels: CI

Allow to use functions from `BuildFlatBuffers.cmake` from a flatbuffers installation installed with CMake. (#7912)
  CMake/BuildFlatBuffers.cmake
  CMake/flatbuffers-config.cmake
Labels: none

Add `flatbuffers-64` branch to CI for pushes
  .github/workflows/build.yml
Labels: CI

Optionally generate type prefixes and suffixes for python code (#7857)
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  include/flatbuffers/idl.h
  python/flatbuffers/reflection/Enum.py
  python/flatbuffers/reflection/EnumVal.py
  python/flatbuffers/reflection/Field.py
  python/flatbuffers/reflection/KeyValue.py
  python/flatbuffers/reflection/Object.py
  python/flatbuffers/reflection/RPCCall.py
  python/flatbuffers/reflection/Schema.py
  python/flatbuffers/reflection/SchemaFile.py
  python/flatbuffers/reflection/Service.py
  python/flatbuffers/reflection/Type.py
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.py
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
Labels: python, c++, codegen, grpc

made changes to the rust docs so they would compile. new_with_capacity is deprecated should use with_capacity, get_root_as_monster should be root_as_monster (#7871)
  docs/source/Tutorial.md
Labels: documentation

use switch statements for BASE_TYPE_ lookups (#7813)
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_gen_fbs.cpp
  src/idl_parser.cpp
  tests/fuzz_test.cpp
Labels: c++, codegen

use Bool for flatbuffers bool instead of Byte (#7876)
  src/idl_gen_swift.cpp
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
Labels: swift, c++, codegen

Add Java reflection bindings to the distribution (#7851)
  java/src/main/java/com/google/flatbuffers/reflection/AdvancedFeatures.java
  java/src/main/java/com/google/flatbuffers/reflection/BaseType.java
  java/src/main/java/com/google/flatbuffers/reflection/Enum.java
  java/src/main/java/com/google/flatbuffers/reflection/EnumVal.java
  java/src/main/java/com/google/flatbuffers/reflection/Field.java
  java/src/main/java/com/google/flatbuffers/reflection/KeyValue.java
  java/src/main/java/com/google/flatbuffers/reflection/Object.java
  java/src/main/java/com/google/flatbuffers/reflection/RPCCall.java
  java/src/main/java/com/google/flatbuffers/reflection/Schema.java
  java/src/main/java/com/google/flatbuffers/reflection/SchemaFile.java
  java/src/main/java/com/google/flatbuffers/reflection/Service.java
  java/src/main/java/com/google/flatbuffers/reflection/Type.java
  scripts/generate_code.py
Labels: python, java

Update filename to README.md and improve formatting (#7855)
  README.md
Labels: documentation

Move defined part to idl.h (#7823)
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
Labels: c++, codegen

[CS] Verifier (#7850)
  docs/source/CsharpUsage.md
  docs/source/doxyfile
  net/FlatBuffers/FlatBufferVerify.cs
  net/FlatBuffers/FlatBuffers.net35.csproj
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/FlatBuffers.Test/FlatBuffersFuzzTests.cs
  tests/KeywordTest/KeywordsInTable.cs
  tests/KeywordTest/KeywordsInUnion.cs
  tests/KeywordTest/Table2.cs
  tests/MyGame/Example/Any.cs
  tests/MyGame/Example/AnyAmbiguousAliases.cs
  tests/MyGame/Example/AnyUniqueAliases.cs
  tests/MyGame/Example/ArrayTable.cs
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Referrable.cs
  tests/MyGame/Example/Stat.cs
  tests/MyGame/Example/TestSimpleTableWithEnum.cs
  tests/MyGame/Example/TypeAliases.cs
  tests/MyGame/Example2/Monster.cs
  tests/MyGame/InParentNamespace.cs
  tests/MyGame/MonsterExtra.cs
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.cs
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.cs
  tests/namespace_test/NamespaceA/SecondTableInA.cs
  tests/namespace_test/NamespaceA/TableInFirstNS.cs
  tests/namespace_test/NamespaceC/TableInC.cs
  tests/nested_namespace_test/nested_namespace_test3_generated.cs
  tests/optional_scalars/ScalarStuff.cs
  tests/type_field_collsion/Collision.cs
  tests/union_value_collsion/union_value_collision_generated.cs
  tests/union_vector/Attacker.cs
  tests/union_vector/Character.cs
  tests/union_vector/Gadget.cs
  tests/union_vector/HandFan.cs
  tests/union_vector/Movie.cs
Labels: c#, c++, codegen, documentation

TS/JS: Use minvalue from enum if not found (#7888)
  src/idl_gen_ts.cpp
  tests/ts/arrays_test_complex/arrays_test_complex_generated.cjs
  tests/ts/monster_test_generated.cjs
  tests/ts/my-game/example/vec3.js
  tests/ts/my-game/example/vec3.ts
  tests/ts/typescript_keywords_generated.cjs
  tests/ts/union_vector/union_vector_generated.cjs
Labels: javascript, typescript, c++, codegen

Sample adjusted for Python3 (#7819)
  samples/sample_binary.py
Labels: python

Added GENERATE_<TARGET> to flatbuffers_generate_headers (#7845)
  CMake/BuildFlatBuffers.cmake
Labels: none

Go: make generated code more compliant to "go fmt" (#7907)
  examples/go-echo/hero/Warrior.go
  examples/go-echo/net/Request.go
  examples/go-echo/net/Response.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Ability.go
  tests/MyGame/Example/Any.go
  tests/MyGame/Example/AnyAmbiguousAliases.go
  tests/MyGame/Example/AnyUniqueAliases.go
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/MyGame/Example/StructOfStructs.go
  tests/MyGame/Example/StructOfStructsOfStructs.go
  tests/MyGame/Example/Test.go
  tests/MyGame/Example/TestSimpleTableWithEnum.go
  tests/MyGame/Example/TypeAliases.go
  tests/MyGame/Example/Vec3.go
  tests/MyGame/Example2/Monster.go
  tests/MyGame/InParentNamespace.go
Labels: golang, c++, codegen

Fix help output for --java-checkerframework (#7854)
  src/flatc.cpp
Labels: c++, codegen

Add a FileWriter interface (#7821)
  BUILD.bazel
  CMakeLists.txt
  include/flatbuffers/file_manager.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatc.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/minireflect.h
  include/flatbuffers/util.h
  src/BUILD.bazel
  src/file_binary_writer.cpp
  src/file_name_saving_file_manager.cpp
  src/file_writer.cpp
  src/flatc.cpp
Labels: c++, codegen

Support file_identifier in Go (#7904)
  go/lib.go
  grpc/examples/go/greeter/models/HelloReply.go
  grpc/examples/go/greeter/models/HelloRequest.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/MyGame/Example/TestSimpleTableWithEnum.go
  tests/MyGame/Example/TypeAliases.go
  tests/MyGame/Example2/Monster.go
  tests/MyGame/InParentNamespace.go
  tests/go_test.go
  tests/monsterdata_go_wire.mon.sp
Labels: golang, c++, codegen, grpc

Editorconfig: als configure to trim whitespaces end EOL. (#7833)
  .editorconfig
Labels: none

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

swift:
  - '**/*.swift'
  - swift/**/*
  - tests/swift/**
  - src/idl_gen_swift.cpp

nim:
  - '**/*.nim'
  - nim/**/*
  - src/idl_gen_nim.cpp
  - src/bfbs_gen_nim.cpp

javascript:
  - '**/*.js'
  - src/idl_gen_ts.cpp

typescript:
  - '**/*.ts'
  - src/idl_gen_ts.cpp
  - grpc/flatbuffers-js-grpc/**/*.ts

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

python:
  - '**/*.py'
  - src/idl_gen_python.cpp

java:
  - '**/*.java'
  - src/idl_gen_java.cpp

kotlin:
  - '**/*.kt'
  - src/idl_gen_kotlin.cpp

lua:
  - '**/*.lua'
  - lua/**/*
  - src/idl_gen_lua.cpp
  - src/bfbs_gen_lua.cpp

lobster:
  - '**/*.lobster'
  - src/idl_gen_lobster.cpp

php:
  - '**/*.php'
  - src/idl_gen_php.cpp

rust:
  - '**/*.rs'
  - rust/**/*
  - src/idl_gen_rust.cpp

dart:
  - '**/*.dart'
  - src/idl_gen_dart.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.bazelci/**/*'

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp
