Repository google/flatbuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, swift, nim, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen, documentation, CI, grpc

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

swift:
  - '**/*.swift'
  - swift/**/*
  - tests/swift/**
  - src/idl_gen_swift.cpp

nim:
  - '**/*.nim'
  - nim/**/*
  - src/idl_gen_nim.cpp
  - src/bfbs_gen_nim.cpp

javascript:
  - '**/*.js'
  - src/idl_gen_ts.cpp

typescript:
  - '**/*.ts'
  - src/idl_gen_ts.cpp
  - grpc/flatbuffers-js-grpc/**/*.ts

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

python:
  - '**/*.py'
  - src/idl_gen_python.cpp

java:
  - '**/*.java'
  - src/idl_gen_java.cpp

kotlin:
  - '**/*.kt'
  - src/idl_gen_kotlin.cpp

lua:
  - '**/*.lua'
  - lua/**/*
  - src/idl_gen_lua.cpp
  - src/bfbs_gen_lua.cpp

lobster:
  - '**/*.lobster'
  - src/idl_gen_lobster.cpp

php:
  - '**/*.php'
  - src/idl_gen_php.cpp

rust:
  - '**/*.rs'
  - rust/**/*
  - src/idl_gen_rust.cpp

dart:
  - '**/*.dart'
  - src/idl_gen_dart.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.bazelci/**/*'

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp

`release.yml`: Add publishing to PyPi
  .github/workflows/release.yml
Labels: CI

Temporary fix for SLSA generators (#7636)
  .github/workflows/build.yml
Labels: CI

Fix missing spaces in flatc help text (#7612)
  src/flatc.cpp
Labels: c++, codegen

Add missing #include <algorithm> for std::min/std::max uses, and #include <limits> for std::numeric_limits<> (#7624)
  include/flatbuffers/buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  include/flatbuffers/vector_downward.h
  src/annotated_binary_text_gen.cpp
  src/binary_annotator.cpp
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_go.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_text.cpp
  tests/flexbuffers_test.cpp
  tests/fuzz_test.cpp
  tests/monster_test.cpp
  tests/parser_test.cpp
  tests/test.cpp
Labels: golang, c++, json, codegen

[Go] Fix GenNativeUnionUnPack for imported union type. (#7579)
  src/idl_gen_go.cpp
  tests/MyGame/Example/Any.go
  tests/MyGame/Example/AnyAmbiguousAliases.go
  tests/MyGame/Example/AnyUniqueAliases.go
Labels: golang, c++, codegen

Fix current official name of macOS (#7627)
  readme.md
Labels: documentation

`release.yml` Add Nuget support
  .github/workflows/release.yml
Labels: CI

`build.yml` Update to Kotlin Wrapper 1.0.5
  .github/workflows/build.yml
Labels: CI

Create release.yml (#7605)
  .github/workflows/release.yml
Labels: CI

Add check for presence of realpath to CMakeLists.txt to support more platforms (#7603)
  CMakeLists.txt
Labels: none

release.yml: Remove `npm ci`
  .github/workflows/release.yml
Labels: CI

Add _deps/ to gitignore
  .gitignore
Labels: none

release.yml: Typo
  .github/workflows/release.yml
Labels: CI

[C++] Minireflect: Add option to indent when converting table to string (#7602)
  include/flatbuffers/minireflect.h
Labels: c++

Update DartTest.sh golden files (#7606)
  dart/test/bool_structs_generated.dart
  dart/test/list_of_enums_generated.dart
  dart/test/monster_test.fbs
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monsterdata_test.mon
Labels: dart

`release.yml` Add GPG key for Maven
  .github/workflows/release.yml
Labels: CI

Fix import problem in dart generated files. (fixes #7609). (#7621)
  dart/test/include_test1_generated.dart
  dart/test/include_test2_my_game.other_name_space_generated.dart
  dart/test/monster_test.fbs
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  scripts/generate_code.py
  src/idl_gen_dart.cpp
  tests/DartTest.sh
  tests/include_test1_generated.dart
  tests/include_test2_my_game.other_name_space_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
Labels: python, dart, c++, codegen

[TS] Add support for fixed length arrays on Typescript (#5864) (#7021) (#7581)
  .gitignore
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/ts/JavaScriptComplexArraysTest.js
  tests/ts/TypeScriptTest.py
  tests/ts/arrays_test_complex/arrays_test_complex.fbs
  tests/ts/arrays_test_complex/arrays_test_complex_generated.js
  tests/ts/arrays_test_complex/arrays_test_complex_generated.ts
  tests/ts/reflection/enum-val.js
  tests/ts/reflection/enum-val.ts
  tests/ts/reflection_generated.js
  tests/ts/reflection_generated.ts
  tests/ts/tsconfig.json
  tests/ts/union_vector/movie.ts
Labels: javascript, typescript, python, c++, json, codegen

`release_yml` Use new dotnet version
  .github/workflows/release.yml
Labels: CI

Fix help output for --gen-includes (#7611)
  src/flatc.cpp
Labels: c++, codegen

Fixes #7345 to add the option to minify enums (#7566)
  .gitignore
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  tests/minified_enums/enums.fbs
  tests/minified_enums/enums_generated.h
Labels: c++, codegen

python: object generation prefix and suffix (#7565)
  src/idl_gen_python.cpp
Labels: python, c++, codegen

Fix: arduino platform build (#7625)
  include/flatbuffers/base.h
Labels: c++

Added option to not requires an EoF token when parsing JSON (#7620)
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

Add support for parsing proto map fields (#7613)
  include/flatbuffers/idl.h
  src/idl_gen_fbs.cpp
  src/idl_parser.cpp
  tests/proto_test.cpp
  tests/prototest/GenerateProtoGoldens.sh
  tests/prototest/test.golden
  tests/prototest/test.proto
  tests/prototest/test_include.golden
  tests/prototest/test_suffix.golden
  tests/prototest/test_union.golden
  tests/prototest/test_union_include.golden
  tests/prototest/test_union_suffix.golden
Labels: c++, codegen

`release.yml` Use env var for passphrase
  .github/workflows/release.yml
Labels: CI

Add comparison operator to python objects under --gen-compare option (#7610)
  src/idl_gen_python.cpp
  tests/MyGame/MonsterExtra.py
Labels: python, c++, codegen

[vector] Allow to iterate with mutables (#7586)
  include/flatbuffers/array.h
  include/flatbuffers/buffer.h
  include/flatbuffers/vector.h
  tests/monster_test.cpp
Labels: c++

`release.yml` Changed Push to follow examples
  .github/workflows/release.yml
Labels: CI

`setup.py`: Define version directly
  python/setup.py
Labels: python

Uses swift build command directly in the CI (#7635)
  .github/workflows/build.yml
Labels: CI

Add CreateSharedString to python builder (#7608)
  python/flatbuffers/builder.py
  tests/py_test.py
Labels: python

`release.yml`: Add Maven Steps
  .github/workflows/release.yml
Labels: CI

[swift] fix broken swift test build (#7633) (#7634)
  scripts/generate_code.py
  src/idl_gen_swift.cpp
  tests/nan_inf_test.fbs
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersNanInfTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/nan_inf_test_generated.swift
Labels: swift, python, c++, codegen

`release.yml` Use NuGet Key directly
  .github/workflows/release.yml
Labels: CI

`build.yml`: Fix missing 'v' in version
  .github/workflows/build.yml
Labels: CI

`release.yml`: Switch to `python` directory
  .github/workflows/release.yml
Labels: CI

`release.yml` Fix nuget push command
  .github/workflows/release.yml
Labels: CI

[CMake]: only warn when the working directory in a git worktree (#7562)
  CMake/Version.cmake
Labels: none

Bump Rust version to 22.10.26 before publication (#7622)
  rust/flatbuffers/Cargo.toml
Labels: rust
