Repository google/flatbuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, swift, nim, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen, documentation, CI, grpc

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

swift:
  - '**/*.swift'
  - swift/**/*
  - tests/swift/**
  - src/idl_gen_swift.cpp

nim:
  - '**/*.nim'
  - nim/**/*
  - src/idl_gen_nim.cpp
  - src/bfbs_gen_nim.cpp

javascript:
  - '**/*.js'
  - src/idl_gen_ts.cpp

typescript:
  - '**/*.ts'
  - src/idl_gen_ts.cpp
  - grpc/flatbuffers-js-grpc/**/*.ts

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

python:
  - '**/*.py'
  - src/idl_gen_python.cpp

java:
  - '**/*.java'
  - src/idl_gen_java.cpp

kotlin:
  - '**/*.kt'
  - src/idl_gen_kotlin.cpp

lua:
  - '**/*.lua'
  - lua/**/*
  - src/idl_gen_lua.cpp
  - src/bfbs_gen_lua.cpp

lobster:
  - '**/*.lobster'
  - src/idl_gen_lobster.cpp

php:
  - '**/*.php'
  - src/idl_gen_php.cpp

rust:
  - '**/*.rs'
  - rust/**/*
  - src/idl_gen_rust.cpp

dart:
  - '**/*.dart'
  - src/idl_gen_dart.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.bazelci/**/*'

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp

Add CI step to build with -DFLATBUFFERS_NO_FILE_TESTS. (#7729)
  .github/workflows/build.yml
  tests/test.cpp
Labels: c++, CI

Add key lookup support for tables in Go (#7644)
  go/builder.go
  go/lib.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Any.go
  tests/MyGame/Example/AnyAmbiguousAliases.go
  tests/MyGame/Example/AnyUniqueAliases.go
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/go_test.go
Labels: golang, c++, codegen

Add link to building guide (#7733)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, CI

Add include guards around DoNotRequireEofTest (#7728)
  tests/test.cpp
Labels: c++

`build.yml`: MacOs Build Inplace (#7677)
  .github/workflows/build.yml
Labels: CI

`build.yml` Update dependencies (#7674)
  .github/workflows/build.yml
Labels: CI

[Kotlin] Control the generation of reflection with --reflect-names (#7775)
  samples/SampleBinary.kt
  src/idl_gen_kotlin.cpp
  tests/DictionaryLookup/LongFloatEntry.kt
  tests/DictionaryLookup/LongFloatMap.kt
  tests/MyGame/Example/Ability.kt
  tests/MyGame/Example/Any.kt
  tests/MyGame/Example/AnyAmbiguousAliases.kt
  tests/MyGame/Example/AnyUniqueAliases.kt
  tests/MyGame/Example/Color.kt
  tests/MyGame/Example/LongEnum.kt
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Race.kt
  tests/MyGame/Example/Referrable.kt
  tests/MyGame/Example/Stat.kt
  tests/MyGame/Example/StructOfStructs.kt
  tests/MyGame/Example/StructOfStructsOfStructs.kt
  tests/MyGame/Example/Test.kt
  tests/MyGame/Example/TestSimpleTableWithEnum.kt
  tests/MyGame/Example/TypeAliases.kt
  tests/MyGame/Example/Vec3.kt
  tests/MyGame/Example2/Monster.kt
  tests/MyGame/InParentNamespace.kt
  tests/MyGame/MonsterExtra.kt
  tests/flatc/flatc_kotlin_tests.py
  tests/flatc/main.py
  tests/optional_scalars/OptionalByte.kt
  tests/optional_scalars/ScalarStuff.kt
  tests/union_vector/Attacker.kt
  tests/union_vector/BookReader.kt
  tests/union_vector/Character.kt
  tests/union_vector/FallingTub.kt
  tests/union_vector/Gadget.kt
  tests/union_vector/HandFan.kt
  tests/union_vector/Movie.kt
  tests/union_vector/Rapunzel.kt
Labels: python, kotlin, c++, codegen

Refactor languages to use CodeGenerator interface. (#7797)
  CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/flatc.h
  src/BUILD.bazel
  src/flatc_main.cpp
  src/idl_gen_binary.cpp
  src/idl_gen_binary.h
  src/idl_gen_cpp.cpp
  src/idl_gen_cpp.h
  src/idl_gen_csharp.cpp
  src/idl_gen_csharp.h
  src/idl_gen_dart.cpp
  src/idl_gen_dart.h
  src/idl_gen_go.cpp
  src/idl_gen_go.h
  src/idl_gen_java.cpp
  src/idl_gen_java.h
  src/idl_gen_json_schema.cpp
  src/idl_gen_json_schema.h
  src/idl_gen_kotlin.cpp
  src/idl_gen_kotlin.h
  src/idl_gen_lobster.cpp
  src/idl_gen_lobster.h
  src/idl_gen_lua.cpp
  src/idl_gen_lua.h
  src/idl_gen_php.cpp
  src/idl_gen_php.h
  src/idl_gen_python.cpp
  src/idl_gen_python.h
  src/idl_gen_rust.cpp
  src/idl_gen_rust.h
  src/idl_gen_swift.cpp
  src/idl_gen_swift.h
  src/idl_gen_ts.cpp
  src/idl_gen_ts.h
Labels: c#, swift, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen

Use CMAKE_CURRENT_SOURCE_DIR in benchmark cpp path (#7781)
  benchmarks/CMakeLists.txt
Labels: none

Increase float to string precision to 17
  src/idl_parser.cpp
Labels: c++, codegen

[TS]: builder, Fix requiredField(). Verity that the field is present in the vtable (#7739) (#7752)
  tests/required_strings.fbs
  tests/ts/JavaScriptRequiredStringTest.js
  tests/ts/TypeScriptTest.py
  tests/ts/required-strings/foo.js
  tests/ts/required-strings/foo.ts
  tests/ts/required_strings_generated.js
  tests/ts/required_strings_generated.ts
  ts/builder.ts
Labels: javascript, typescript, python

Refactor usage message (#7803)
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
Labels: c++, codegen

Fix std::span autodetection (#7805)
  include/flatbuffers/stl_emulation.h
Labels: c++

Minor improvement (#7766)
  include/flatbuffers/detached_buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/vector_downward.h
Labels: c++

Add ts-no-import-ext flag (#7748)
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_ts.cpp
  tests/ts/TypeScriptTest.py
  tests/ts/no_import_ext/optional-scalars/optional-byte.js
  tests/ts/no_import_ext/optional-scalars/optional-byte.ts
  tests/ts/no_import_ext/optional-scalars/scalar-stuff.js
  tests/ts/no_import_ext/optional-scalars/scalar-stuff.ts
  tests/ts/no_import_ext/optional_scalars.js
  tests/ts/no_import_ext/optional_scalars.ts
  tests/ts/no_import_ext/optional_scalars_generated.js
  tests/ts/no_import_ext/optional_scalars_generated.ts
  tests/ts/tsconfig.json
Labels: javascript, typescript, python, c++, json, codegen

emit global scoped ::flatbuffers in c++ (#7764)
  include/flatbuffers/reflection_generated.h
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/alignment_test_generated.h
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/key_field/key_field_sample_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/native_inline_table_test_generated.h
  tests/native_type_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

Fix some identity/equality confusion in Python tests (#7768)
  tests/py_test.py
Labels: python

Fix operator==() generated for field of fixed sized array (#7749)
  include/flatbuffers/array.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/key_field/key_field_sample_generated.h
  tests/test.cpp
Labels: c++, codegen

[C++] Enable using struct and array of struct as key (#7741)
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
  tests/key_field/key_field_sample.fbs
  tests/key_field/key_field_sample_generated.h
  tests/key_field_test.cpp
  tests/key_field_test.h
  tests/test.cpp
Labels: c++, codegen

Annotated Binaries emit field names instead of type names (#7763)
  src/binary_annotator.cpp
  src/binary_annotator.h
  tests/annotated_binary/annotated_binary.afb
  tests/annotated_binary/tests/invalid_string_length.afb
  tests/annotated_binary/tests/invalid_string_length_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_array_field_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_field_cut_short.afb
  tests/annotated_binary/tests/invalid_table_field_offset.afb
  tests/annotated_binary/tests/invalid_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_length_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_scalars_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_strings_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_structs_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_tables_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_unions_cut_short.afb
  tests/annotated_binary/tests/invalid_vtable_field_offset.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size_short.afb
  tests/monsterdata_test.afb
Labels: c++, codegen

Supported cmake 3.8 (#7801)
  CMake/CMakeLists_legacy.cmake.in
  CMake/PackageDebian.cmake
  CMake/PackageRedhat.cmake
  CMakeLists.txt
  benchmarks/CMakeLists.txt
Labels: none

Remove go.mod to resolve ambiguous import issue (#7783)
  go/go.mod
Labels: none

Refactor FlatC to receive `FlatCOptions` (#7770)
  include/flatbuffers/flatc.h
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/flatc_main.cpp
Labels: c++, codegen

Update Readme.md for versioning
  readme.md
Labels: documentation

Fix [C#] Object API - Invalid Property Name used in UnPackTo for unio… (#7751)
  scripts/generate_code.py
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/union_value_collision.fbs
  tests/union_value_collsion/union_value_collision_generated.cs
Labels: c#, python, c++, codegen

Stop using deprecated imp package in Python tests (#7769)
  tests/py_test.py
Labels: python

Fixed vtable duplication for binary annotator (#7809)
  src/annotated_binary_text_gen.cpp
  src/binary_annotator.cpp
  src/binary_annotator.h
  tests/annotated_binary/annotated_binary.afb
  tests/annotated_binary/tests/invalid_root_offset.afb
  tests/annotated_binary/tests/invalid_root_table_too_short.afb
  tests/annotated_binary/tests/invalid_root_table_vtable_offset.afb
  tests/annotated_binary/tests/invalid_string_length.afb
  tests/annotated_binary/tests/invalid_string_length_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_array_field_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_field_cut_short.afb
  tests/annotated_binary/tests/invalid_table_field_offset.afb
  tests/annotated_binary/tests/invalid_table_field_size.afb
  tests/annotated_binary/tests/invalid_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_length_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_scalars_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_strings_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_structs_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_tables_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_unions_cut_short.afb
  tests/annotated_binary/tests/invalid_vtable_field_offset.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size_short.afb
  tests/annotated_binary/tests/invalid_vtable_size.afb
  tests/annotated_binary/tests/invalid_vtable_size_short.afb
  tests/monster_test.afb
  tests/monsterdata_test.afb
Labels: c++, codegen

Fix a typo in a Python test name (#7774)
  tests/py_test.py
Labels: python

Final refactor for bfsb_generator* and text generator (#7806)
  BUILD.bazel
  CMakeLists.txt
  android/app/src/main/cpp/flatbuffers/CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/flatc.h
  src/BUILD.bazel
  src/bfbs_gen.h
  src/bfbs_gen_lua.cpp
  src/bfbs_gen_lua.h
  src/bfbs_gen_nim.cpp
  src/bfbs_gen_nim.h
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_binary.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_go.cpp
  src/idl_gen_java.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_lobster.cpp
  src/idl_gen_lua.cpp
  src/idl_gen_php.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_text.cpp
  src/idl_gen_text.h
  src/idl_gen_ts.cpp
Labels: c#, swift, nim, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen

Rename LICENSE.txt to LICENSE (#7808)
  CMake/PackageDebian.cmake
  LICENSE
  readme.md
Labels: documentation

Code generator refactor bug fix (#7802)
  src/flatc_main.cpp
Labels: c++, codegen

Add pointer reference to sibling union field on FieldDef (#7755)
  include/flatbuffers/idl.h
  src/idl_parser.cpp
Labels: c++, codegen

Fix Python host-endianness dependencies (#7773)
  python/flatbuffers/flexbuffers.py
  tests/py_flexbuffers_test.py
  tests/py_test.py
Labels: python

Defined CodeGenerator Interface and implement C++ (#7771)
  BUILD.bazel
  CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen

Fix binary output different in different platform (#7718)
  .github/workflows/build.yml
  include/flatbuffers/util.h
  scripts/check-grpc-generated-code.py
  scripts/check_generate_code.py
  scripts/generate_code.py
  scripts/generate_grpc_examples.py
  scripts/util.py
Labels: python, c++, CI

Clean up extra white spaces (#7800)
  src/idl_gen_cpp.cpp
  tests/key_field/key_field_sample_generated.h
Labels: c++, codegen

[C++] Add Command-Line Flag to Suppress MIN and MAX Enums (#7705)
  docs/source/Compiler.md
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen, documentation

Use full project version as SOVERSION for the shared library (#7777)
  CMake/CMakeLists_legacy.cmake.in
  CMakeLists.txt
Labels: none

Expand wildcard imports in the generated Kotlin files. (#7757)
  android/app/src/main/java/generated/com/fbs/app/Animal.kt
  src/idl_gen_kotlin.cpp
  tests/DictionaryLookup/LongFloatEntry.kt
  tests/DictionaryLookup/LongFloatMap.kt
  tests/MyGame/Example/Ability.kt
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Referrable.kt
  tests/MyGame/Example/Stat.kt
  tests/MyGame/Example/StructOfStructs.kt
  tests/MyGame/Example/StructOfStructsOfStructs.kt
  tests/MyGame/Example/Test.kt
  tests/MyGame/Example/TestSimpleTableWithEnum.kt
  tests/MyGame/Example/TypeAliases.kt
  tests/MyGame/Example/Vec3.kt
  tests/MyGame/Example2/Monster.kt
  tests/MyGame/InParentNamespace.kt
  tests/MyGame/MonsterExtra.kt
  tests/namespace_test/NamespaceA/NamespaceB/StructInNestedNS.kt
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.kt
  tests/namespace_test/NamespaceA/SecondTableInA.kt
  tests/namespace_test/NamespaceA/TableInFirstNS.kt
  tests/namespace_test/NamespaceC/TableInC.kt
  tests/optional_scalars/ScalarStuff.kt
  tests/union_vector/Attacker.kt
  tests/union_vector/BookReader.kt
  tests/union_vector/FallingTub.kt
  tests/union_vector/HandFan.kt
  tests/union_vector/Movie.kt
  tests/union_vector/Rapunzel.kt
Labels: kotlin, c++, codegen

[Kotlin] Improve field nullability based on (required) (#7658)
  src/idl_gen_kotlin.cpp
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Stat.kt
Labels: kotlin, c++, codegen
