Repository google/flatbuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, swift, nim, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen, documentation, CI, grpc

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

swift:
  - '**/*.swift'
  - swift/**/*
  - tests/swift/**
  - src/idl_gen_swift.cpp

nim:
  - '**/*.nim'
  - nim/**/*
  - src/idl_gen_nim.cpp
  - src/bfbs_gen_nim.cpp

javascript:
  - '**/*.js'
  - src/idl_gen_ts.cpp

typescript:
  - '**/*.ts'
  - src/idl_gen_ts.cpp
  - grpc/flatbuffers-js-grpc/**/*.ts

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

python:
  - '**/*.py'
  - src/idl_gen_python.cpp

java:
  - '**/*.java'
  - src/idl_gen_java.cpp

kotlin:
  - '**/*.kt'
  - src/idl_gen_kotlin.cpp

lua:
  - '**/*.lua'
  - lua/**/*
  - src/idl_gen_lua.cpp
  - src/bfbs_gen_lua.cpp

lobster:
  - '**/*.lobster'
  - src/idl_gen_lobster.cpp

php:
  - '**/*.php'
  - src/idl_gen_php.cpp

rust:
  - '**/*.rs'
  - rust/**/*
  - src/idl_gen_rust.cpp

dart:
  - '**/*.dart'
  - src/idl_gen_dart.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.bazelci/**/*'

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp

Increase limit on stale.yml items processed
  .github/workflows/stale.yml
Labels: CI

Add a --java-package-prefix option to flatc (#7848)
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_java.cpp
Labels: java, c++, codegen

proto_test.cpp don't warn about gaps
  tests/proto_test.cpp
Labels: c++

[CS] Naming collision if field has same name as table and used as key (#7842)
  src/idl_gen_csharp.cpp
  tests/union_value_collision.fbs
  tests/union_value_collsion/union_value_collision_generated.cs
Labels: c#, c++, codegen

[TS/JS] Upgrade dependencies (#7889)
  package.json
  yarn.lock
Labels: json

Make JSON supporting advanced union features (#7869)
  src/idl_parser.cpp
  tests/json_test.cpp
  tests/json_test.h
  tests/test.cpp
Labels: c++, codegen

drop glibc from runtime dependencies (#7906)
  .github/workflows/build.yml
Labels: CI

Replace deprecated command with environment file (#7921)
  .github/workflows/build.yml
Labels: CI

Optionally generate Python type annotations (#7858)
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  include/flatbuffers/idl.h
  python/flatbuffers/reflection/Enum.py
  python/flatbuffers/reflection/EnumVal.py
  python/flatbuffers/reflection/Field.py
  python/flatbuffers/reflection/KeyValue.py
  python/flatbuffers/reflection/Object.py
  python/flatbuffers/reflection/RPCCall.py
  python/flatbuffers/reflection/Schema.py
  python/flatbuffers/reflection/SchemaFile.py
  python/flatbuffers/reflection/Service.py
  python/flatbuffers/reflection/Type.py
  python/py.typed
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedStruct.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/NestedUnion/Test.py
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.py
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
  tests/test.fbs
Labels: python, c++, codegen, grpc

`flat_buffers.dart`: mark const variable finals for internal Dart linters
  dart/lib/flat_buffers.dart
Labels: dart

Migrate from rules_nodejs to rules_js/rules_ts (#7923)
  .bazelignore
  .bazelrc
  .npmrc
  BUILD.bazel
  WORKSPACE
  build_defs.bzl
  grpc/src/compiler/BUILD.bazel
  package.json
  pnpm-lock.yaml
  reflection/BUILD.bazel
  reflection/ts/BUILD.bazel
  src/BUILD.bazel
  tests/BUILD.bazel
  tests/ts/BUILD.bazel
  tests/ts/bazel_repository_test.sh
  tests/ts/bazel_repository_test_dir/.bazelignore
  tests/ts/bazel_repository_test_dir/.bazelrc
  tests/ts/bazel_repository_test_dir/.gitignore
  tests/ts/bazel_repository_test_dir/.npmrc
  tests/ts/bazel_repository_test_dir/BUILD
  tests/ts/bazel_repository_test_dir/WORKSPACE
  tests/ts/bazel_repository_test_dir/import_test.js
  tests/ts/bazel_repository_test_dir/one.fbs
  tests/ts/bazel_repository_test_dir/package.json
  tests/ts/bazel_repository_test_dir/pnpm-lock.yaml
  tests/ts/bazel_repository_test_dir/two.fbs
  tests/ts/test_dir/BUILD.bazel
  tests/ts/test_dir/import_test.js
  tests/ts/test_dir/package.json
  tests/ts/test_dir/typescript_include.fbs
  ts/BUILD.bazel
  ts/compile_flat_file.sh
  typescript.bzl
  yarn.lock
Labels: javascript, json, codegen, grpc

Add binary schema reflection (#7932)
  CMakeLists.txt
  build_defs.bzl
  src/idl_gen_cpp.cpp
  tests/BUILD.bazel
  tests/monster_test_generated.h
  tests/test.cpp
Labels: c++, codegen

Fix missing return error string for GenerateText
  src/idl_gen_text.cpp
Labels: c++, codegen

Revert "Migrate from rules_nodejs to rules_js/rules_ts (#7923)" (#7927)
  .bazelignore
  .bazelrc
  .npmrc
  BUILD.bazel
  WORKSPACE
  build_defs.bzl
  grpc/src/compiler/BUILD.bazel
  package.json
  pnpm-lock.yaml
  reflection/BUILD.bazel
  reflection/ts/BUILD.bazel
  src/BUILD.bazel
  tests/BUILD.bazel
  tests/ts/BUILD.bazel
  tests/ts/bazel_repository_test.sh
  tests/ts/bazel_repository_test_dir/.bazelignore
  tests/ts/bazel_repository_test_dir/.bazelrc
  tests/ts/bazel_repository_test_dir/.gitignore
  tests/ts/bazel_repository_test_dir/.npmrc
  tests/ts/bazel_repository_test_dir/BUILD
  tests/ts/bazel_repository_test_dir/WORKSPACE
  tests/ts/bazel_repository_test_dir/import_test.js
  tests/ts/bazel_repository_test_dir/one.fbs
  tests/ts/bazel_repository_test_dir/package.json
  tests/ts/bazel_repository_test_dir/pnpm-lock.yaml
  tests/ts/bazel_repository_test_dir/two.fbs
  tests/ts/package.json
  tests/ts/test_dir/BUILD.bazel
  tests/ts/test_dir/import_test.js
  tests/ts/test_dir/package.json
  tests/ts/test_dir/typescript_include.fbs
  ts/BUILD.bazel
  ts/compile_flat_file.sh
  typescript.bzl
  yarn.lock
Labels: javascript, json, codegen, grpc

inject no long for FBS generation to remove logs in flattests (#7926)
  CMakeLists.txt
  include/flatbuffers/idl.h
  src/BUILD.bazel
  src/idl_gen_fbs.cpp
  src/idl_gen_fbs.h
  tests/BUILD.bazel
  tests/proto_test.cpp
  tests/test_assert.h
Labels: c++, codegen

fix possible null dereference for nested_root accessor
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
Labels: c++

Only generate @kotlin.ExperimentalUnsigned annotation on create*Vector methods having an unsigned array type parameter. (#7881)
  src/idl_gen_kotlin.cpp
  tests/DictionaryLookup/LongFloatEntry.kt
  tests/DictionaryLookup/LongFloatMap.kt
  tests/MyGame/Example/Ability.kt
  tests/MyGame/Example/Any.kt
  tests/MyGame/Example/AnyAmbiguousAliases.kt
  tests/MyGame/Example/AnyUniqueAliases.kt
  tests/MyGame/Example/Color.kt
  tests/MyGame/Example/LongEnum.kt
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Race.kt
  tests/MyGame/Example/Referrable.kt
  tests/MyGame/Example/Stat.kt
  tests/MyGame/Example/StructOfStructs.kt
  tests/MyGame/Example/StructOfStructsOfStructs.kt
  tests/MyGame/Example/Test.kt
  tests/MyGame/Example/TestSimpleTableWithEnum.kt
  tests/MyGame/Example/TypeAliases.kt
  tests/MyGame/Example/Vec3.kt
  tests/MyGame/Example2/Monster.kt
  tests/MyGame/InParentNamespace.kt
  tests/MyGame/MonsterExtra.kt
  tests/optional_scalars/OptionalByte.kt
  tests/optional_scalars/ScalarStuff.kt
  tests/union_vector/Attacker.kt
  tests/union_vector/BookReader.kt
  tests/union_vector/Character.kt
  tests/union_vector/FallingTub.kt
  tests/union_vector/Gadget.kt
  tests/union_vector/HandFan.kt
  tests/union_vector/Movie.kt
  tests/union_vector/Rapunzel.kt
Labels: kotlin, c++, codegen

fix possible null dereference for nested_root accessor
  src/idl_gen_cpp.cpp
  tests/monster_test_generated.h
Labels: c++, codegen

additional check for absl::string_view availability (#7897)
  include/flatbuffers/base.h
Labels: c++

fixed some windows warnings (#7929)
  include/flatbuffers/flatbuffer_builder.h
  src/idl_gen_cpp.cpp
  tests/monster_test.cpp
Labels: c++, codegen

more window fixes
  src/binary_annotator.cpp
  src/binary_annotator.h
  src/reflection.cpp
Labels: c++, codegen

remove defining generated files in test srcs
  CMakeLists.txt
Labels: none

GenerateText gives text error on failure
  include/flatbuffers/code_generator.h
  include/flatbuffers/idl.h
  include/flatbuffers/registry.h
  samples/sample_bfbs.cpp
  samples/sample_text.cpp
  src/flatc.cpp
  src/idl_gen_text.cpp
  tests/fuzz_test.cpp
  tests/json_test.cpp
  tests/monster_test.cpp
  tests/parser_test.cpp
  tests/proto_test.cpp
  tests/test.cpp
  tests/test_assert.h
Labels: c++, codegen

Migrate from rules_nodejs to rules_js/rules_ts (take 2) (#7928)
  .bazelignore
  .bazelrc
  .npmrc
  BUILD.bazel
  WORKSPACE
  build_defs.bzl
  grpc/src/compiler/BUILD.bazel
  package.json
  pnpm-lock.yaml
  reflection/BUILD.bazel
  reflection/ts/BUILD.bazel
  src/BUILD.bazel
  tests/BUILD.bazel
  tests/ts/BUILD.bazel
  tests/ts/bazel_repository_test.sh
  tests/ts/bazel_repository_test_dir/.bazelignore
  tests/ts/bazel_repository_test_dir/.bazelrc
  tests/ts/bazel_repository_test_dir/.gitignore
  tests/ts/bazel_repository_test_dir/.npmrc
  tests/ts/bazel_repository_test_dir/BUILD
  tests/ts/bazel_repository_test_dir/WORKSPACE
  tests/ts/bazel_repository_test_dir/import_test.js
  tests/ts/bazel_repository_test_dir/one.fbs
  tests/ts/bazel_repository_test_dir/package.json
  tests/ts/bazel_repository_test_dir/pnpm-lock.yaml
  tests/ts/bazel_repository_test_dir/two.fbs
  tests/ts/test_dir/BUILD.bazel
  tests/ts/test_dir/import_test.js
  tests/ts/test_dir/package.json
  tests/ts/test_dir/typescript_include.fbs
  ts/BUILD.bazel
  ts/compile_flat_file.sh
  typescript.bzl
  yarn.lock
Labels: javascript, json, codegen, grpc

Rework cmake flatc codegeneration (#7938)
  CMakeLists.txt
  samples/monster_generated.h
  scripts/generate_code.py
  tests/alignment_test_generated.h
  tests/arrays_test_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test2_generated.h
  tests/native_inline_table_test_generated.h
  tests/native_type_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: python, c++
