Repository google/flatbuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, swift, nim, javascript, typescript, golang, python, java, kotlin, lua, lobster, php, rust, dart, c++, json, codegen, documentation, CI, grpc

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

swift:
  - '**/*.swift'
  - swift/**/*
  - tests/swift/**
  - src/idl_gen_swift.cpp

nim:
  - '**/*.nim'
  - nim/**/*
  - src/idl_gen_nim.cpp
  - src/bfbs_gen_nim.cpp

javascript:
  - '**/*.js'
  - src/idl_gen_ts.cpp

typescript:
  - '**/*.ts'
  - src/idl_gen_ts.cpp
  - grpc/flatbuffers-js-grpc/**/*.ts

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

python:
  - '**/*.py'
  - src/idl_gen_python.cpp

java:
  - '**/*.java'
  - src/idl_gen_java.cpp

kotlin:
  - '**/*.kt'
  - src/idl_gen_kotlin.cpp

lua:
  - '**/*.lua'
  - lua/**/*
  - src/idl_gen_lua.cpp
  - src/bfbs_gen_lua.cpp

lobster:
  - '**/*.lobster'
  - src/idl_gen_lobster.cpp

php:
  - '**/*.php'
  - src/idl_gen_php.cpp

rust:
  - '**/*.rs'
  - rust/**/*
  - src/idl_gen_rust.cpp

dart:
  - '**/*.dart'
  - src/idl_gen_dart.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.bazelci/**/*'

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp

[Python] Fixed the issue with nested unions relying on InitFromBuf. (#7576)
  scripts/generate_code.py
  src/idl_gen_python.cpp
  tests/MyGame/Example/Ability.py
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedStruct.py
  tests/MyGame/Example/NestedUnion/Any.py
  tests/MyGame/Example/NestedUnion/Color.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/NestedUnion/Test.py
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.py
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/NestedUnion/__init__.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/StructOfStructs.py
  tests/MyGame/Example/StructOfStructsOfStructs.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example/Vec3.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/PythonTest.sh
  tests/monster_test_generated.py
  tests/nested_union_test.fbs
  tests/optional_scalars/ScalarStuff.py
  tests/py_test.py
Labels: python, c++, codegen

[C#] Fix collision of member if union name is "Value" (#7648)
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

Fix confrom failure for nullptr dereference. (#7688)
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/evolution_test.cpp
Labels: c++, codegen

Refactor src/idl_gen_cpp.cpp (#7693)
  src/idl_gen_cpp.cpp
Labels: c++, codegen

[Go] Fix bug where `bytes` wasn't being imported when using --gen-onefile flag (#7706)
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
Labels: golang, c++, codegen

Fix PHP byte validation and reenable builds (#7670)
  .github/workflows/build.yml
  php/ByteBuffer.php
  tests/phpTest.php
Labels: php, CI

Perform nil check on string fields when packing (#7719)
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Stat.go
Labels: golang, c++, codegen

Add swift link
  readme.md
Labels: documentation

Fixed the BytesConsumed function, which was pointing slightly ahead. (#7657)
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

[C++] Fix clang `-Wnewline-eof` warning (#7711)
  CMakeLists.txt
  include/flatbuffers/allocator.h
  include/flatbuffers/buffer_ref.h
  include/flatbuffers/default_allocator.h
  include/flatbuffers/string.h
  include/flatbuffers/struct.h
  src/bfbs_gen_lua.cpp
  src/bfbs_gen_lua.h
  src/bfbs_namer.h
  src/binary_annotator.h
  tests/flexbuffers_test.h
  tests/json_test.cpp
  tests/json_test.h
  tests/monster_test.h
  tests/optional_scalars_test.cpp
  tests/parser_test.h
  tests/proto_test.h
Labels: lua, c++, codegen

chore: emit more reasonable error message when using incomplete type in struct (#7678)
  include/flatbuffers/idl.h
  src/idl_parser.cpp
Labels: c++, codegen

Rurel (#7663)
  rust/flatbuffers/Cargo.toml
  scripts/release.sh
Labels: rust

Move Nim to completed language
  readme.md
Labels: documentation

Fix go.mod name (#7756)
  go/go.mod
Labels: none

Fix go generator undefined Package name, also throwing exception (#7632)
  scripts/generate_code.py
  src/idl_gen_go.cpp
  src/namer.h
  tests/GoTest.sh
  tests/Pizza.go
  tests/go_test.go
  tests/include_test/order.fbs
  tests/include_test/sub/no_namespace.fbs
  tests/order/Food.go
Labels: golang, python, c++, codegen

[Go]Add go.mod (#7720)
  go/go.mod
Labels: none

add buildkite badge
  readme.md
Labels: documentation

Put documentation to bfbs if it is not empty (#7649)
  samples/monster.bfbs
  src/idl_parser.cpp
  tests/arrays_test.bfbs
  tests/monster_test.afb
  tests/monster_test.bfbs
  tests/monster_test_bfbs_generated.h
Labels: c++, codegen

Remove --gen-name-strings flag from cmake command for generating union_vector_generated.h (#7684)
  CMakeLists.txt
Labels: none

Update missing C# namespace to Google.FlatBuffers
  docs/source/CsharpUsage.md
  docs/source/Tutorial.md
  samples/SampleBinary.cs
  tests/namespace_test/NamespaceA/TableInC.cs
Labels: c#, documentation

[C++] Update to address comparator failure in big endian (#7681)
  src/idl_gen_cpp.cpp
  tests/key_field/key_field_sample_generated.h
  tests/key_field_test.cpp
Labels: c++, codegen

[Rust] Restore public visibility of previously-public fields (#7700)
  rust/flatbuffers/src/table.rs
Labels: rust

Add Ref.AsStringBytes to flatbuffers.flexbuffers Python API (#7713)
  python/flatbuffers/flexbuffers.py
Labels: python

Use FinshedBytes() in go-echo example instead of manually encoding offset (#7660)
  examples/go-echo/client/client.go
  examples/go-echo/server/server.go
Labels: golang

Fix Rust codegen escaping field in tables. (#7659)
  dart/test/keyword_test_keyword_test_generated.dart
  src/idl_gen_rust.cpp
  src/idl_namer.h
  tests/KeywordTest/Table2.cs
  tests/keyword_test.fbs
  tests/keyword_test/keyword_test/table_2_generated.rs
  tests/keyword_test/mod.rs
Labels: c#, rust, dart, c++, codegen

Upgrade rules_go for Bazel 7.0 support (#7691)
  WORKSPACE
Labels: none

Add LICENSE.txt to python (#7692)
  python/setup.cfg
  python/setup.py
Labels: python

updated method call (#7642)
  src/idl_gen_ts.cpp
Labels: javascript, typescript, c++, codegen

Fix "'flatbuffers::FieldDef* field' shadows a parameter" (#7740)
  src/idl_gen_go.cpp
Labels: golang, c++, codegen

Fix a bug where a floating point number was cast to int and the value was stored incorrectly because of low byte width. (#7703)
  dart/lib/src/types.dart
  dart/test/flex_builder_test.dart
  dart/test/flex_reader_test.dart
Labels: dart

inline initialize byte_width
  include/flatbuffers/flexbuffers.h
Labels: c++

Add --go-module-name flag to support generating Go module compatible code (#7651)
  examples/go-echo/README.md
  examples/go-echo/client/client.go
  examples/go-echo/go.mod
  examples/go-echo/hero.fbs
  examples/go-echo/hero/Warrior.go
  examples/go-echo/net.fbs
  examples/go-echo/net/Request.go
  examples/go-echo/net/Response.go
  examples/go-echo/server/server.go
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_go.cpp
  tests/GoTest.sh
Labels: golang, c++, codegen, documentation

Add CI job to build linux and run unit test on s390x (#7707)
  .github/workflows/extrabuild.yml
Labels: CI

Fix schema to binary test, when build and run from all directories. specially when add to other projects. (#7650)
  CMakeLists.txt
Labels: none

Add clang-tidy, fix some bugpron problems. (#7708)
  .clang-tidy
  scripts/clang-tidy-git.sh
Labels: none

tests/reflection_test.h: add missing <stdint.h> include (#7680)
  tests/reflection_test.h
Labels: c++

Fix "Download Doxygen" URL (#7699)
  docs/source/README_TO_GENERATE_DOCS.md
Labels: documentation

Add support for using array of scalar as key field in Cpp (#7623)
  CMakeLists.txt
  include/flatbuffers/reflection_generated.h
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/key_field/key_field_sample.fbs
  tests/key_field/key_field_sample_generated.h
  tests/key_field_test.cpp
  tests/key_field_test.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/test.cpp
Labels: c++, codegen

fix clang format plus implicit cast error. (#7704)
  include/flatbuffers/flexbuffers.h
Labels: c++

Specify min android SDK version of 14
  android/AndroidManifest.xml
Labels: none
