Repository google/flatbuffers, pull requests merged in 2020-11, with the labels that each got.

#6232 Golang size prefix support
  go/builder.go
  go/lib.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/MyGame/Example/TestSimpleTableWithEnum.go
  tests/MyGame/Example/TypeAliases.go
  tests/MyGame/Example2/Monster.go
  tests/MyGame/InParentNamespace.go
  tests/go_test.go
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.go
  tests/namespace_test/NamespaceA/SecondTableInA.go
  tests/namespace_test/NamespaceA/TableInFirstNS.go
  tests/namespace_test/NamespaceC/TableInC.go
Labels: codegen, golang

#6236 Added required-nested-flatbuffer to monster_test and fixed rust
  src/idl_gen_rust.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Monster.php
  tests/MyGame/Example/Monster.py
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.js
  tests/monster_test_generated.lobster
  tests/monster_test_generated.rs
  tests/monster_test_generated.ts
  tests/monster_test_my_game.example_generated.dart
  tests/rust_usage_test/tests/integration_test.rs
Labels: codegen, rust, swift

#6247 [Swift] Resets buffer without deallocating current pointer
  swift/FlatBuffers.podspec
  swift/Sources/FlatBuffers/ByteBuffer.swift
Labels: swift

#6251 Union As Accessors for C#
  src/idl_gen_csharp.cpp
  tests/MyGame/Example/Monster.cs
  tests/union_vector/Movie.cs
Labels: c#, c++, codegen

#6252 flatc should support --binary --schema with optional scalar fields.
  src/idl_parser.cpp
Labels: c++, codegen

#6205 Remove _POSIX_C_SOURCE and _XOPEN_SOURCE definitions when compiling o…
  src/util.cpp
Labels: c++, codegen

#6257 Rust flexbuffers serde human readable set to false (BREAKING)
  rust/flexbuffers/Cargo.toml
  rust/flexbuffers/src/builder/ser.rs
  rust/flexbuffers/src/reader/de.rs
Labels: rust

#6263 [Swift] Adds a fix for enum generation
  src/idl_gen_swift.cpp
Labels: c++, codegen, swift

#6250 [Swift] Adds a format file and reformats the swift project
  grpc/src/compiler/swift_generator.cc
  samples/sample_binary.swift
  src/idl_gen_swift.cpp
  swift.swiftformat
  swift/Package.swift
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/Constants.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/FlatBuffersUtils.swift
  swift/Sources/FlatBuffers/Int+extension.swift
  swift/Sources/FlatBuffers/Message.swift
  swift/Sources/FlatBuffers/Mutable.swift
  swift/Sources/FlatBuffers/NativeTable.swift
  swift/Sources/FlatBuffers/Offset.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  tests/FlatBuffers.Benchmarks.swift/Package.swift
  tests/FlatBuffers.Benchmarks.swift/Sources/FlatBuffers.Benchmarks.swift/main.swift
  tests/FlatBuffers.GRPC.Swift/Package.swift
  tests/FlatBuffers.GRPC.Swift/Sources/Model/greeter.grpc.swift
  tests/FlatBuffers.GRPC.Swift/Sources/Model/greeter_generated.swift
  tests/FlatBuffers.GRPC.Swift/Sources/client/main.swift
  tests/FlatBuffers.GRPC.Swift/Sources/server/main.swift
  tests/FlatBuffers.Test.Swift/Package.swift
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/main.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersStructsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersDoubleTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test.grpc.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/LinuxMain.swift
Labels: c++, codegen, grpc, swift

#6264 [typescript] Add type annotation to unspecified array
  ts/builder.ts
Labels: typescript

#6280 fix typo
  docs/source/Tutorial.md
Labels: documentation

#6253 idl_gen_json_schema.cpp: Changed generation of array element types
  src/idl_gen_json_schema.cpp
  tests/arrays_test.schema.json
  tests/monster_test.schema.json
Labels: c++, codegen, json

#6277 Add --require-explicit-ids to require explicit ids
  docs/source/Compiler.md
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_parser.cpp
Labels: c++, codegen, documentation

#6270 Documentation updates for Optional Scalars (#6014)
  docs/source/Schemas.md
  docs/source/Support.md
  docs/source/Tutorial.md
Labels: documentation
