Repository google/flatbuffers, pull requests merged in 2020-12, with the labels that each got.

#6269 Rust Flatbuffers Verifier
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/follow.rs
  rust/flatbuffers/src/get_root.rs
  rust/flatbuffers/src/lib.rs
  rust/flatbuffers/src/table.rs
  rust/flatbuffers/src/vector.rs
  rust/flatbuffers/src/verifier.rs
  samples/monster_generated.rs
  samples/sample_binary.rs
  src/idl_gen_rust.cpp
  tests/include_test/include_test1_generated.rs
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
  tests/rust_usage_test/bin/flatbuffers_alloc_check.rs
  tests/rust_usage_test/bin/monster_example.rs
  tests/rust_usage_test/tests/integration_test.rs
  tests/rust_usage_test/tests/optional_scalars_test.rs
Labels: c++, codegen, rust

#6273 Generate nullable properties in C# object-based API for optional scalars. (without -gen-mutable)
  src/idl_gen_csharp.cpp
  tests/generate_code.bat
  tests/generate_code.sh
  tests/optional_scalars/ScalarStuff.cs
Labels: c#, c++, codegen

#6272 [CI] Adds formatter to CI
  .travis.yml
  .travis/format_check.sh
  .travis/format_install.sh
  Formatters.md
Labels: CI, documentation, enhancement

#6328 Add vectorNumElements attribute to Builder for simpler vector creation.
  docs/source/Tutorial.md
  python/flatbuffers/builder.py
  src/idl_gen_python.cpp
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/MonsterExtra.py
  tests/py_test.py
Labels: c++, codegen, documentation, python

#6340 Renaming infinity variables in test.cpp
  tests/test.cpp
Labels: c++

#6342 Fix typos in usage/comments; Make rust generator respect to --filenam…
  src/flatc.cpp
  src/idl_gen_rust.cpp
  src/idl_parser.cpp
Labels: c++, codegen, rust

#6326 [Swift] Rebuild the way swift handles structs from scratch
  docs/source/SwiftUsage.md
  docs/source/Tutorial.md
  samples/monster_generated.swift
  samples/sample_binary.swift
  src/idl_gen_swift.cpp
  swift/FlatBuffers.podspec
  swift/README.md
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/UnionObject.swift
  tests/FlatBuffers.Benchmarks.swift/Sources/FlatBuffers.Benchmarks.swift/main.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersStructsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/MutatingBool_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
Labels: c++, codegen, documentation, swift

#6330 include_prefix support for rust
  src/idl_gen_rust.cpp
Labels: c++, codegen, rust
