Repository google/flatbuffers, pull requests merged in 2021-11, with the labels that each got.

#6883 Support `--conform` for vector of unions
  src/flatc.cpp
  src/idl_parser.cpp
Labels: c++, codegen

#6903 [Python] Verify EnumDef is not generated in GenUnionCreator
  src/idl_gen_python.cpp
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.py
Labels: python, c++, codegen

#6879 Keep methods with struct name and switch them to default
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.py
  tests/namespace_test/NamespaceA/SecondTableInA.py
  tests/namespace_test/NamespaceA/TableInFirstNS.py
  tests/namespace_test/NamespaceC/TableInC.py
Labels: python, c++, grpc, codegen

#6868 [C++] Split flatbuffers.h into separate files
  BUILD.bazel
  CMakeLists.txt
  android/app/src/main/cpp/flatbuffers/CMakeLists.txt
  include/flatbuffers/allocator.h
  include/flatbuffers/array.h
  include/flatbuffers/base.h
  include/flatbuffers/buffer.h
  include/flatbuffers/buffer_ref.h
  include/flatbuffers/default_allocator.h
  include/flatbuffers/detached_buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/registry.h
  include/flatbuffers/string.h
  include/flatbuffers/struct.h
  include/flatbuffers/table.h
  include/flatbuffers/vector.h
  include/flatbuffers/vector_downward.h
  include/flatbuffers/verifier.h
  src/idl_parser.cpp
  tests/fuzzer/CMakeLists.txt
Labels: c++, codegen

#6914 move [[ ]] to calling sites
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/vector.h
Labels: c++

#6918 Removal of support for FLATBUFFERS_CPP98_STL
  android/app/build.gradle
  include/flatbuffers/base.h
  include/flatbuffers/detached_buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/idl.h
  include/flatbuffers/reflection.h
  include/flatbuffers/registry.h
  include/flatbuffers/stl_emulation.h
  include/flatbuffers/util.h
  include/flatbuffers/vector.h
  include/flatbuffers/vector_downward.h
  samples/monster_generated.h
  src/code_generators.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_java.cpp
  src/idl_gen_kotlin.cpp
  src/idl_parser.cpp
  src/reflection.cpp
  src/util.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test1_generated.h
  tests/test.cpp
  tests/test_assert.h
  tests/test_builder.cpp
  tests/test_builder.h
Labels: java, c#, c++, codegen, kotlin

#6915 [Java] lookup by byteArray is giving back wrong entry
  java/com/google/flatbuffers/FlexBuffers.java
  tests/JavaTest.java
Labels: java

#6920 Added Google benchmarks (and gtests)
  .gitignore
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/cpp/bench.h
  benchmarks/cpp/benchmark_main.cpp
  benchmarks/cpp/flatbuffers/bench.fbs
  benchmarks/cpp/flatbuffers/bench_generated.h
  benchmarks/cpp/flatbuffers/fb_bench.cpp
  benchmarks/cpp/flatbuffers/fb_bench.h
Labels: c++

#6924 Added Raw C++ benchmarks
  benchmarks/CMakeLists.txt
  benchmarks/cpp/benchmark_main.cpp
  benchmarks/cpp/flatbuffers/fb_bench.cpp
  benchmarks/cpp/raw/raw_bench.cpp
  benchmarks/cpp/raw/raw_bench.h
Labels: c++

#6923 [C++] Fix compile failure on Object API union construction for struct member
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test1_generated.h
  tests/test.cpp
  tests/union_vector/FallingTub.cs
  tests/union_vector/FallingTub.java
  tests/union_vector/FallingTub.kt
  tests/union_vector/FallingTub.php
  tests/union_vector/FallingTubT.java
  tests/union_vector/Gadget.cs
  tests/union_vector/Gadget.java
  tests/union_vector/Gadget.kt
  tests/union_vector/Gadget.php
  tests/union_vector/GadgetUnion.java
  tests/union_vector/HandFan.cs
  tests/union_vector/HandFan.java
  tests/union_vector/HandFan.kt
  tests/union_vector/HandFan.php
  tests/union_vector/HandFanT.java
  tests/union_vector/falling-tub.ts
  tests/union_vector/gadget.ts
  tests/union_vector/hand-fan.ts
  tests/union_vector/union_vector.fbs
  tests/union_vector/union_vector.ts
  tests/union_vector/union_vector_generated.h
Labels: java, c#, c++, typescript, codegen, swift, php, kotlin

#6928 Add benchmarks to Linux CI
  .github/workflows/build.yml
Labels: CI

#6927 WIP: Dart release 2.0
  .github/workflows/build.yml
  dart/CHANGELOG.md
  dart/README.md
  dart/pubspec.yaml
Labels: documentation, CI

#6941 clang-all
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_python.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_ts.cpp
  src/reflection.cpp
  src/util.cpp
  tests/native_type_test_impl.h
  tests/test.cpp
Labels: python, c#, c++, javascript, typescript, codegen, swift, json, kotlin

#6946 test: fix undefined order of functio parameters.
  tests/test_builder.h
Labels: c++

#6947 Fix flexbuffers clang-analyzer warning
  include/flatbuffers/flexbuffers.h
Labels: c++

#6925 Vector Downward GetSize optimization
  benchmarks/CMakeLists.txt
  benchmarks/cpp/benchmark_main.cpp
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/vector_downward.h
Labels: c++

#6922 rust: remove needless borrow
  rust/flatbuffers/src/get_root.rs
  rust/flatbuffers/src/vector.rs
Labels: rust
