Repository google/flatbuffers, pull requests merged in 2021-04, with the labels that each got.

#6540 [CI] Limit the formatter CI
  .travis.yml
Labels: CI

#6544 [CI] Fixes buildkite
  grpc/src/compiler/BUILD.bazel
  src/BUILD.bazel
  tests/BUILD.bazel
Labels: codegen, grpc

#6505 Default-empty vectors of enums
  src/idl_gen_swift.cpp
  src/idl_parser.cpp
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersMoreDefaults.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
  tests/more_defaults.fbs
  tests/more_defaults_generated.rs
  tests/rust_usage_test/tests/more_defaults_test.rs
  tests/test.cpp
Labels: c++, codegen, rust, swift

#6565 silenced clippy warning
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/more_defaults_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
Labels: c++, codegen, rust

#6548 [Rust] Add support for fixed size arrays
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/array.rs
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/endian_scalar.rs
  rust/flatbuffers/src/lib.rs
  rust/flatbuffers/src/vector.rs
  rust/flatbuffers/src/verifier.rs
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  src/idl_parser.cpp
  tests/arrays_test_generated.rs
  tests/docker/languages/Dockerfile.testing.rust.1_51_0
  tests/docker/languages/Dockerfile.testing.rust.big_endian.1_51_0
  tests/generate_code.bat
  tests/generate_code.sh
  tests/include_test/include_test1_generated.rs
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/more_defaults_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
  tests/rust_usage_test/Cargo.toml
  tests/rust_usage_test/tests/arrays_test.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c++, codegen, rust

#6573 [Rust] Specify Minimum Supported Rust Version
  rust/flatbuffers/Cargo.toml
Labels: rust

#6575 [TS] Remove duplicated build-ts ci
  .github/workflows/build.yml
Labels: CI

#6576 [Lua] Fix EnforceNumberAndPack for bool type
  lua/flatbuffers/numTypes.lua
  tests/luatest.lua
Labels: lua

#6579 [TS] Commit the generated tests code
  tests/monster_test_grpc.d.ts
  tests/monster_test_grpc.js
Labels: javascript, typescript

#6585 [Rust] Fix small mistyping in a sample
  samples/sample_binary.rs
Labels: rust

#6589 [Swift] Implements union strings
  grpc/examples/swift/Greeter/Sources/Model/greeter_generated.swift
  src/idl_gen_swift.cpp
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/Offset.swift
  swift/Sources/FlatBuffers/String+extension.swift
  swift/Sources/FlatBuffers/Table.swift
  tests/FlatBuffers.Benchmarks.swift/Sources/FlatBuffers.Benchmarks.swift/main.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersDoubleTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/MutatingBool_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
Labels: c++, codegen, grpc, swift

#6588 Mark endian_scalar as unsafe.
  rust/flatbuffers/src/array.rs
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/endian_scalar.rs
  rust/flatbuffers/src/primitives.rs
  rust/flatbuffers/src/push.rs
  rust/flatbuffers/src/vector.rs
  rust/flatbuffers/src/vtable.rs
  rust/flatbuffers/src/vtable_writer.rs
  samples/monster_generated.rs
  samples/sample_flexbuffers.rs
  src/idl_gen_rust.cpp
  tests/arrays_test_generated.rs
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/more_defaults_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
  tests/rust_usage_test/tests/flexbuffers_tests/rwyw.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c++, codegen, rust

#6592 Rust Remove SafeSliceAccess for Arrays, and fix miri.
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/array.rs
  tests/RustTest.sh
  tests/rust_usage_test/tests/arrays_test.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: rust

#6546 Add advance feature indicators to reflection
  include/flatbuffers/idl.h
  include/flatbuffers/reflection_generated.h
  reflection/reflection.fbs
  src/idl_parser.cpp
  tests/arrays_test.bfbs
Labels: c++, codegen

#6593 [Lua] GetRootAs can accept strings. Made Luatest Benchmarks optional
  src/idl_gen_lua.cpp
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Referrable.lua
  tests/MyGame/Example/Stat.lua
  tests/MyGame/Example/TestSimpleTableWithEnum.lua
  tests/MyGame/Example/TypeAliases.lua
  tests/MyGame/Example2/Monster.lua
  tests/MyGame/InParentNamespace.lua
  tests/luatest.lua
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.lua
  tests/namespace_test/NamespaceA/SecondTableInA.lua
  tests/namespace_test/NamespaceA/TableInFirstNS.lua
  tests/namespace_test/NamespaceC/TableInC.lua
Labels: c#, c++, codegen, lua

#6595 fix typo in CppUsage.md
  docs/source/CppUsage.md
Labels: documentation

#6599 Introduce new_from_vec in Rust (also fix formatting)
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/array.rs
  rust/flatbuffers/src/builder.rs
Labels: rust

#6584 [Lua] Add LuaJIT support
  docs/source/LuaUsage.md
  lua/flatbuffers/binaryarray.lua
  lua/flatbuffers/builder.lua
  lua/flatbuffers/compat.lua
  lua/flatbuffers/compat_5_3.lua
  lua/flatbuffers/compat_luajit.lua
  lua/flatbuffers/view.lua
  tests/LuaTest.bat
  tests/LuaTest.sh
Labels: documentation, lua
