Repository google/flatbuffers, pull requests merged in 2021-12, with the labels that each got.

#6960 [C++] Restore FlatBufferBuilder::kFileIdentifierLength.
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#6948 [CI] switched to windows-latest virtual environment
  .github/workflows/build.yml
Labels: CI

#6873 Removed test/generate_code.{sh|bat}
  .appveyor/check-generate-code.bat
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  .travis.yml
  CMakeLists.txt
  appveyor.yml
  include/flatbuffers/reflection.h
  reflection/generate_code.bat
  reflection/generate_code.sh
  scripts/check-generate-code.sh
  scripts/check_generate_code.py
  scripts/generate_code.py
  tests/docker/build_flatc.run.sh
  tests/docker/cpp_test.run.sh
  tests/generate_code.bat
  tests/generate_code.sh
Labels: python, c++, CI

#6954 Have grpc include file with correct filename-suffix given to flatc
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/schema_interface.h
  src/idl_gen_grpc.cpp
Labels: c++, grpc, codegen

#6966 missing generated files
  tests/monster_test_generated.grpc.fb.cc
  tests/monster_test_generated.grpc.fb.h
Labels: c++

#6968 Update stale bot
  .github/workflows/stale.yml
Labels: CI

#6956 [TS] Fix reserved words as arguments (#6955)
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#6969 remove Appveyor's Vs2010 and 13 builds
  appveyor.yml
Labels: CI

#6973 Fix typo in variable name
  grpc/src/compiler/ts_generator.cc
Labels: c++, grpc

#6967 Bumping to Version 2.0.5
  CMake/Version.cmake
  CMakeLists.txt
  include/flatbuffers/base.h
  tests/MyGame/Example/Ability.lua
  tests/MyGame/Example/Any.lua
  tests/MyGame/Example/AnyAmbiguousAliases.lua
  tests/MyGame/Example/AnyUniqueAliases.lua
  tests/MyGame/Example/Color.lua
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Race.lua
  tests/MyGame/Example/Referrable.lua
  tests/MyGame/Example/Stat.lua
  tests/MyGame/Example/StructOfStructs.lua
  tests/MyGame/Example/Test.lua
  tests/MyGame/Example/TestSimpleTableWithEnum.lua
  tests/MyGame/Example/TypeAliases.lua
  tests/MyGame/Example/Vec3.lua
  tests/MyGame/Example2/Monster.lua
  tests/MyGame/InParentNamespace.lua
  tests/MyGame/OtherNameSpace/FromInclude.lua
  tests/MyGame/OtherNameSpace/TableB.lua
  tests/MyGame/OtherNameSpace/Unused.lua
  tests/TableA.lua
Labels: c++, lua

#6976 Make idl_parser deterministic
  src/idl_parser.cpp
Labels: c++, codegen

#6953 Enable --gen-onefile in Python
  docs/source/Compiler.md
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/MyGame/Example/Any.py
  tests/MyGame/Example/AnyAmbiguousAliases.py
  tests/MyGame/Example/AnyUniqueAliases.py
  tests/MyGame/Example/Color.py
  tests/MyGame/Example/Race.py
  tests/MyGame/Example/TestEnum.py
  tests/PythonTest.sh
  tests/monster_test_generated.py
  tests/namespace_test/NamespaceA/NamespaceB/EnumInNestedNS.py
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.py
  tests/py_test.py
Labels: python, c++, codegen, documentation

#6977 Verifier for FlexBuffers
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/verifier.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_text.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/fuzzer/CMakeLists.txt
  tests/fuzzer/flexbuffers_verifier_fuzzer.cc
  tests/fuzzer/readme.md
  tests/monster_test_generated.h
  tests/test.cpp
Labels: c++, codegen, documentation

#6982 Add .NET test to github workflows
  .github/workflows/build.yml
  appveyor.yml
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
Labels: c#, CI

#6985 Validate C# json/object-api options
  docs/source/CsharpUsage.md
  scripts/generate_code.py
  src/flatc.cpp
Labels: python, c++, codegen, documentation

#6987 Refractor Flatc Options
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
Labels: c++, codegen

#6991 Prevent shadow with _{{FIELD_NAME}}
  include/flatbuffers/reflection_generated.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
Labels: c++, codegen

#6995 Reverting grpc generated file suffix
  grpc/samples/greeter/Makefile
  grpc/src/compiler/cpp_generator.cc
  src/idl_gen_grpc.cpp
Labels: c++, grpc, codegen

#7000 Rearrange #include directives to pass to compilation with a particula…
  include/flatbuffers/util.h
Labels: c++

#7003 Avoid implicit conversion from float to double.
  include/flatbuffers/util.h
Labels: c++
