Repository google/flatbuffers, pull requests merged in 2021-07, with the labels that each got.

#6711 Dart - add custom allocator support
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#6717 Fix 6348
  docs/source/CppUsage.md
  docs/source/Tutorial.md
Labels: documentation

#6726 [C++] Fix undefined behaviour in CreateVectorOfStructs in case of an empty vector
  include/flatbuffers/flatbuffers.h
Labels: c++

#6716 Dart - make sure added padding is zeroed, same as in C++
  dart/lib/flat_buffers.dart
Labels: dart

#6722 Dart - fix flex-builder compilation error
  dart/lib/src/builder.dart
  tests/DartTest.sh
Labels: dart

#6723 Dart - unpack() must use eager list reader
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example_generated.dart
Labels: c++, codegen, dart

#6715 Remove ubuntu1604 from presubmit.yml
  .bazelci/presubmit.yml
Labels: CI

#6712 Dart - finish/lowFinish/buffer changes
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart

#6728 Dart - store empty vectors instead of NULL
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example_generated.dart
Labels: c++, codegen, dart

#6730 flexbuffers C++: Add variant of Blob() that takes a key
  include/flatbuffers/flexbuffers.h
Labels: c++

#6733 Dart - regenerate example after recent flatc changes
  dart/example/example.dart
  dart/example/monster_my_game.sample_generated.dart
  samples/dart_sample.sh
Labels: dart

#6734 Dart - make vTable deduplication optional
  dart/example/monster_my_game.sample_generated.dart
  dart/lib/flat_buffers.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart

#6735 Dart - make vTable fixed size
  dart/example/monster_my_game.sample_generated.dart
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart

#6743 fix lints in rust tests
  samples/sample_binary.rs
  src/idl_gen_rust.cpp
  tests/monster_test_generated.rs
  tests/rust_usage_test/tests/flexbuffers_tests/qc_serious.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c++, codegen, rust

#6737 Dart - make writeString() argument non-nullable
  dart/example/monster_my_game.sample_generated.dart
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_test_my_game.example_generated.dart
Labels: c++, codegen, dart

#6736 Dart - optimize writeString for ASCII
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#6745 [C++] Fix union type handling on object api in C++17
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/cpp17/test_cpp17.cpp
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/generate_code.bat
  tests/generate_code.sh
Labels: c++, codegen

#6753 Dart - fixup writeString() return type after previous merges
  dart/lib/flat_buffers.dart
Labels: dart

#6105 [C#] Add Union Constructor Utility for ObjectAPI.
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/MyGame/Example/Any.cs
  tests/MyGame/Example/AnyAmbiguousAliases.cs
  tests/MyGame/Example/AnyUniqueAliases.cs
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.cs
  tests/union_vector/Character.cs
Labels: c#, c++, codegen, stale

#6757 [C#] Fix field name struct name collision (#6744)
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

#6755 Dart - inline small functions to increase performance
  dart/lib/flat_buffers.dart
Labels: dart

#6754 Dart - change table building to assert() instead of exceptions
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#6758 Dart - make ascii optimization optional in StringReader
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#6756 [C++] Use proper gRPC C++ API when using MemoryBuffer Slice
  CMakeLists.txt
  WORKSPACE
  grpc/README.md
  grpc/build_grpc.sh
  grpc/tests/message_builder_test.cpp
  include/flatbuffers/grpc.h
Labels: c++, documentation, grpc
