Repository google/flatbuffers, pull requests merged in 2021-09, with the labels that each got.

#6829 Fix typos in docs
  docs/source/CUsage.md
  docs/source/Internals.md
  docs/source/JavaScriptUsage.md
  docs/source/RustUsage.md
  docs/source/Schemas.md
  docs/source/Tutorial.md
  docs/source/TypeScriptUsage.md
  docs/source/WhitePaper.md
Labels: documentation

#6831 Jsonschema: Issue error if root type is missing
  src/idl_gen_json_schema.cpp
Labels: c++, codegen, json

#6823 Changes to support binary schema file loading and parsing (flatc)
  src/flatc.cpp
Labels: c++, codegen

#6814 [C++] Let builder accept custom-alloc std::vector
  include/flatbuffers/flatbuffers.h
Labels: c++

#6834 [C#] Use @ for keyword escaping
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/FlatBuffers.Test/NetTest.sh
  tests/KeywordTest/ABC.cs
  tests/KeywordTest/KeywordsInTable.cs
  tests/KeywordTest/KeywordsInUnion.cs
  tests/KeywordTest/public.cs
  tests/generate_code.bat
  tests/generate_code.sh
  tests/keyword_test.fbs
  tests/keyword_test/keyword_test/abc_generated.rs
  tests/keyword_test/keyword_test/keywords_in_table_generated.rs
  tests/keyword_test/keyword_test/keywords_in_union_generated.rs
  tests/keyword_test/keyword_test/public_generated.rs
  tests/keyword_test/mod.rs
  tests/keyword_test/public.cs
  tests/keyword_test/type_generated.rs
Labels: c#, c++, rust, codegen

#6835 BugFix: Optional enum when it is null
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/optional_scalars/ScalarStuff.cs
Labels: c#, c++, codegen

#6841 Delete IDLOptions::lang
  include/flatbuffers/idl.h
  src/code_generators.cpp
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen, dart

#6839 Dart: binary lists (typed_data)
  dart/lib/flat_buffers.dart
  dart/lib/src/reference.dart
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_test_my_game.example_generated.dart
Labels: c++, codegen, dart

#6767 [C#] Using 'global::' as qualifying_start_ within BaseGenerator
  docs/source/Compiler.md
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
  tests/generate_code.bat
  tests/generate_code.sh
  tests/nested_namespace_test/nested_namespace_test1.fbs
  tests/nested_namespace_test/nested_namespace_test1_generated.cs
  tests/nested_namespace_test/nested_namespace_test2.fbs
  tests/nested_namespace_test/nested_namespace_test2_generated.cs
  tests/nested_namespace_test/nested_namespace_test3.fbs
  tests/nested_namespace_test/nested_namespace_test3_generated.cs
Labels: c#, c++, codegen, documentation

#6852 Add support for Apple silicon
  .github/workflows/build.yml
  CMakeLists.txt
Labels: CI

#6851 Use ArrayBuffer type for JS flexbuffer's toObject method
  ts/flexbuffers.ts
  ts/flexbuffers/reference.ts
Labels: typescript

#6850 Include subdirectories in published npm JS package
  .gitignore
  package.json
Labels: json

#6855 Make and generate_code.sh generate same outputs
  .appveyor/check-generate-code.bat
  samples/monster.bfbs
  scripts/check-generate-code.sh
  tests/arrays_test.bfbs
  tests/generate_code.bat
  tests/generate_code.sh
  tests/monster_test_bfbs_generated.h
Labels: c++, CI

#6860 Fix linker errors on (Free|Open)BSD.
  BUILD.bazel
  src/BUILD.bazel
Labels: codegen

#6846 dart - add Packable interface
  dart/example/monster_my_game.sample_generated.dart
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart

#6866 [Cmake] Add a post build command after flatc to run the new generate_code.py script.
  CMakeLists.txt
  scripts/generate_code.py
Labels: python

#6872 Default Arguments for Mutators C++ [Updated]
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen
