Repository google/flatbuffers, pull requests merged in 2021-08, with the labels that each got.

#6759 Dart 2.0 release prep
  dart/CHANGELOG.md
  dart/publish.sh
  dart/pubspec.yaml
  dart/test/monster_test.fbs
  dart/test/monsterdata_test.mon
  samples/dart_sample.sh
  tests/DartTest.sh
Labels: documentation

#6761 [C++] Fix compiler warning -Wredundant-parens in clang
  include/flatbuffers/flatbuffers.h
Labels: c++

#6762 [C++] Use nullptr instead of 0 in generated headers
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test2_generated.h
Labels: c++, codegen

#6765 Store vtables sorted in Rust builder
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/vtable_writer.rs
  tests/rust_usage_test/benches/flatbuffers_benchmarks.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: rust

#6725 [C++] Use UnPackTo instead of UnPack if pointer exists
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test2_generated.h
Labels: c++, codegen

#6769 [C++] Using calculated fields_number for field_names size
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
Labels: c++, codegen

#6729 avoiding even more NoSuchMethod exceptions
  java/com/google/flatbuffers/ByteBufferUtil.java
  java/com/google/flatbuffers/FlatBufferBuilder.java
  java/com/google/flatbuffers/Table.java
  java/com/google/flatbuffers/Utf8Old.java
Labels: java

#6783 [Kotlin] Change Java Compiler to 11
  .github/workflows/build.yml
Labels: CI

#6779 [C#] Respect command line parameter for file name extension and suffix
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

#6775 [C#] Handle keywords
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
  tests/generate_code.bat
  tests/generate_code.sh
  tests/keyword_test.fbs
  tests/keyword_test/ABC.cs
  tests/keyword_test/KeywordsInTable.cs
  tests/keyword_test/KeywordsInUnion.cs
  tests/keyword_test/public.cs
Labels: c#, c++, codegen

#6787 Fix ptr in CPP tutorial
  docs/source/Tutorial.md
Labels: documentation

#6791 [C#] Remove superfluous semicolon in C# structs
  src/idl_gen_csharp.cpp
  tests/MyGame/Example/Ability.cs
  tests/MyGame/Example/ArrayStruct.cs
  tests/MyGame/Example/ArrayTable.cs
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/NestedStruct.cs
  tests/MyGame/Example/Referrable.cs
  tests/MyGame/Example/Stat.cs
  tests/MyGame/Example/StructOfStructs.cs
  tests/MyGame/Example/Test.cs
  tests/MyGame/Example/TestSimpleTableWithEnum.cs
  tests/MyGame/Example/TypeAliases.cs
  tests/MyGame/Example/Vec3.cs
  tests/MyGame/Example2/Monster.cs
  tests/MyGame/InParentNamespace.cs
  tests/MyGame/MonsterExtra.cs
  tests/keyword_test/KeywordsInTable.cs
  tests/namespace_test/NamespaceA/NamespaceB/StructInNestedNS.cs
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.cs
  tests/namespace_test/NamespaceA/SecondTableInA.cs
  tests/namespace_test/NamespaceA/TableInFirstNS.cs
  tests/namespace_test/NamespaceC/TableInC.cs
  tests/optional_scalars/ScalarStuff.cs
  tests/union_vector/Attacker.cs
  tests/union_vector/BookReader.cs
  tests/union_vector/Movie.cs
  tests/union_vector/Rapunzel.cs
Labels: c#, c++, codegen

#6794 Fix Rust keyword inconsistency
  src/idl_gen_rust.cpp
  tests/generate_code.sh
  tests/keyword_test.fbs
  tests/keyword_test/KeywordsInTable.cs
  tests/keyword_test/KeywordsInUnion.cs
  tests/keyword_test/abc_generated.rs
  tests/keyword_test/keywords_in_table_generated.rs
  tests/keyword_test/keywords_in_union_generated.rs
  tests/keyword_test/mod.rs
  tests/keyword_test/public_generated.rs
  tests/keyword_test/type.cs
  tests/keyword_test/type_generated.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c#, c++, rust, codegen

#6809 Refactor idl_gen_rust and Rust generated code to use consistent whitespace
  samples/rust_generated/mod.rs
  samples/rust_generated/my_game/sample/monster_generated.rs
  samples/rust_generated/my_game/sample/vec_3_generated.rs
  samples/rust_generated/my_game/sample/weapon_generated.rs
  src/idl_gen_rust.cpp
  tests/arrays_test/mod.rs
  tests/arrays_test/my_game/example/array_struct_generated.rs
  tests/arrays_test/my_game/example/array_table_generated.rs
  tests/arrays_test/my_game/example/nested_struct_generated.rs
  tests/include_test1/mod.rs
  tests/include_test1/my_game/other_name_space/table_b_generated.rs
  tests/include_test1/my_game/other_name_space/unused_generated.rs
  tests/include_test1/table_a_generated.rs
  tests/include_test2/mod.rs
  tests/include_test2/my_game/other_name_space/table_b_generated.rs
  tests/include_test2/my_game/other_name_space/unused_generated.rs
  tests/include_test2/table_a_generated.rs
  tests/keyword_test/keywords_in_table_generated.rs
  tests/monster_test/mod.rs
  tests/monster_test/my_game/example/ability_generated.rs
  tests/monster_test/my_game/example/monster_generated.rs
  tests/monster_test/my_game/example/referrable_generated.rs
  tests/monster_test/my_game/example/stat_generated.rs
  tests/monster_test/my_game/example/struct_of_structs_generated.rs
  tests/monster_test/my_game/example/test_generated.rs
  tests/monster_test/my_game/example/test_simple_table_with_enum_generated.rs
  tests/monster_test/my_game/example/type_aliases_generated.rs
  tests/monster_test/my_game/example/vec_3_generated.rs
  tests/monster_test/my_game/example_2/monster_generated.rs
  tests/monster_test/my_game/in_parent_namespace_generated.rs
  tests/monster_test/my_game/other_name_space/table_b_generated.rs
  tests/monster_test/my_game/other_name_space/unused_generated.rs
  tests/monster_test/table_a_generated.rs
  tests/more_defaults/more_defaults_generated.rs
  tests/namespace_test/mod.rs
  tests/namespace_test/namespace_a/namespace_b/struct_in_nested_ns_generated.rs
  tests/namespace_test/namespace_a/namespace_b/table_in_nested_ns_generated.rs
  tests/namespace_test/namespace_a/second_table_in_a_generated.rs
  tests/namespace_test/namespace_a/table_in_first_ns_generated.rs
  tests/namespace_test/namespace_c/table_in_c_generated.rs
  tests/optional_scalars/mod.rs
  tests/optional_scalars/optional_scalars/scalar_stuff_generated.rs
Labels: c++, rust, codegen

#6810 fix parser string=null
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#6808 Dart lints
  dart/analysis_options.yaml
  dart/example/example.dart
  dart/example/monster_my_game.sample_generated.dart
  dart/lib/flat_buffers.dart
  dart/lib/src/builder.dart
  dart/lib/src/reference.dart
  dart/lib/src/types.dart
  dart/pubspec.yaml
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart

#6811 flattests_cpp17 doesn't compile with Visual Studio 2017: warning C410…
  tests/cpp17/stringify_util.h
Labels: c++

#6815 [C++] Add GetMutableSizePrefixedRoot and generate GetMutableSizePrefixedXxx functions
  include/flatbuffers/flatbuffers.h
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/native_type_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#6785 [Java] Avoid casting ByteBuffer to Buffer
  .github/workflows/build.yml
  java/com/google/flatbuffers/ByteBufferReadWriteBuf.java
  java/com/google/flatbuffers/ByteBufferUtil.java
  java/com/google/flatbuffers/FlatBufferBuilder.java
  java/com/google/flatbuffers/FlexBuffers.java
  java/com/google/flatbuffers/Table.java
  java/com/google/flatbuffers/Utf8Old.java
  java/com/google/flatbuffers/Utf8Safe.java
Labels: java, CI

#6826 [C++] Add mutable version of LookupByKey and test
  include/flatbuffers/flatbuffers.h
  tests/test.cpp
Labels: c++
