Repository google/flatbuffers, pull requests merged in 2021-06, with the labels that each got.

#6674 [TS] Generate entry point module
  src/idl_gen_ts.cpp
  tests/monster_test.js
  tests/monster_test.ts
  tests/tsconfig.json
  tests/union_vector/union_vector.js
  tests/union_vector/union_vector.ts
Labels: c++, codegen, javascript, json, typescript

#6676 [TS] Fix module reference in package.json
  package.json
Labels: json

#6671 avoiding more NoSuchMethod exceptions
  grpc/flatbuffers-java-grpc/pom.xml
  grpc/pom.xml
  grpc/tests/pom.xml
  java/com/google/flatbuffers/ByteBufferReadWriteBuf.java
  java/com/google/flatbuffers/FlatBufferBuilder.java
  java/com/google/flatbuffers/Utf8Old.java
  pom.xml
Labels: grpc, java

#6681 Use unoptimized path for ReadUInt64 for win32 build
  include/flatbuffers/flexbuffers.h
Labels: c++

#6677 [C++/grpc] added hiding of unused variables in the generated code
  grpc/src/compiler/cpp_generator.cc
  tests/monster_test.grpc.fb.cc
  tests/monster_test.grpc.fb.h
Labels: c++, grpc

#6669 [C++] flatc --cpp-field-case-style option to permit camel-case field names in C++
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#6686 [Python] [Codegen] Fixes nested structs with underscore names
  src/idl_gen_python.cpp
Labels: c++, codegen, python

#6690 Update docs - structs can't be roots
  docs/source/Schemas.md
Labels: documentation

#6661 [performance] Dart builder reset() - don't reallocate the buffer
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#6682 Dart object API
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  docs/source/DartUsage.md
  docs/source/Support.md
  src/idl_gen_dart.cpp
  tests/DartTest.sh
  tests/generate_code.sh
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart, documentation

#6685 Intermediate Representation docs
  docs/source/IntermediateRepresentation.md
  docs/source/Schemas.md
  docs/source/doxyfile
  docs/source/doxygen_layout.xml
Labels: documentation

#6613 Add the file a symbol is declared in to Reflection
  CMakeLists.txt
  grpc/examples/generate.sh
  include/flatbuffers/idl.h
  include/flatbuffers/reflection_generated.h
  include/flatbuffers/util.h
  reflection/reflection.fbs
  samples/monster.bfbs
  scripts/check-grpc-generated-code.sh
  scripts/clang-format-all.sh
  scripts/clang-format-git.sh
  src/flatc.cpp
  src/idl_parser.cpp
  src/util.cpp
  tests/arrays_test.bfbs
  tests/generate_code.bat
  tests/generate_code.sh
  tests/monster_test.bfbs
  tests/monster_test_bfbs_generated.h
  tests/rust_usage_test/outdir/build.rs
  tests/test.cpp
Labels: c++, codegen, grpc, rust

#6362 Fix warning about deprecated module in Python: imp
  python/flatbuffers/compat.py
Labels: c#, python

#6702 Fix incorrect assertion usage in Rust generator.
  src/idl_gen_rust.cpp
Labels: c++, codegen, rust

#6703 Replace filenames in reflection with filenames+includes.
  include/flatbuffers/reflection_generated.h
  reflection/reflection.fbs
  samples/monster.bfbs
  src/idl_parser.cpp
  tests/arrays_test.bfbs
  tests/monster_test.bfbs
  tests/monster_test_bfbs_generated.h
  tests/test.cpp
Labels: c++, codegen

#6486 Improve generated comparisons for tables
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/optional_scalars_generated.h
  tests/test.cpp
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#6617 Jsonschema add prop comments
  src/idl_gen_json_schema.cpp
  tests/monster_test.schema.json
Labels: c++, codegen, json

#6705 Make --bfbs-filenames default to location of first schema file.
  docs/source/IntermediateRepresentation.md
  src/flatc.cpp
  src/util.cpp
  tests/test.cpp
Labels: c++, codegen, documentation

#6696 Dart null safety
  dart/example/example.dart
  dart/example/monster_my_game.sample_generated.dart
  dart/lib/flat_buffers.dart
  dart/lib/src/builder.dart
  dart/lib/src/reference.dart
  dart/lib/src/types.dart
  dart/pubspec.yaml
  dart/test/flat_buffers_test.dart
  dart/test/flex_builder_test.dart
  dart/test/flex_reader_test.dart
  dart/test/flex_types_test.dart
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  samples/dart_sample.sh
  src/idl_gen_dart.cpp
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/namespace_test/namespace_test2_namespace_c_generated.dart
Labels: c++, codegen, dart

#6708 Fix a -Wdeprecated-copy warning.
  include/flatbuffers/flatbuffers.h
Labels: c++

#6663 [C++] add make_span for Array<T,N>
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/stl_emulation.h
  tests/test.cpp
Labels: c++

#6714 Fix typo in docu
  docs/source/LobsterUsage.md
  docs/source/Schemas.md
  java/com/google/flatbuffers/FlexBuffersBuilder.java
Labels: documentation, java
