Repository google/flatbuffers, pull requests merged in 2021-03, with the labels that each got.

#6434 [idl_parser] Track included files by hash
  include/flatbuffers/idl.h
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/monster_test_generated.rs
Labels: c++, codegen, javascript, rust, typescript

#6493 [idl_parser, JSON] Disable parsing of JSON for incomplete schemes
  src/idl_parser.cpp
Labels: c++, codegen

#6324 [C++17] Add compile-time reflection for fields.
  .github/workflows/build.yml
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/stringify_util.h
  tests/cpp17/test_cpp17.cpp
  tests/generate_code.sh
Labels: CI, c++, codegen

#6506 Disable x64-specific optimizations for ARM64EC ReadInt64
  include/flatbuffers/flexbuffers.h
Labels: c++

#6503 [C++17] Move Traits struct and Create method out of --cpp-static-reflection.
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#6507 [swift] Bump grpc to 1.0.0 & adding Void to keywords
  grpc/examples/swift/Greeter/Package.swift
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/Package.swift
Labels: c++, codegen, grpc, swift

#6509 fixed packing structs in nested buffers
  src/idl_gen_ts.cpp
  tests/my-game/example/monster.ts
  tests/namespace_test/namespace-a/second-table-in-a.ts
  tests/namespace_test/namespace-a/table-in-first-n-s.ts
  tests/namespace_test/namespace-c/table-in-c.ts
Labels: c++, codegen, javascript, typescript

#6512 [flexbuffers, json] Parse `nan` and `inf`
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#6513 [fuzzer] Add `monster_debug` target
  tests/fuzzer/CMakeLists.txt
  tests/fuzzer/flatbuffers_monster_fuzzer.cc
  tests/fuzzer/fuzzer_assert.h
  tests/fuzzer/monster_debug.cpp
Labels: c++

#6514 [C++] #6501 - Problem when mapping a native type multiple times
  docs/source/CppUsage.md
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  tests/native_type_test.fbs
  tests/native_type_test_generated.h
  tests/native_type_test_impl.cpp
  tests/native_type_test_impl.h
  tests/test.cpp
Labels: c++, codegen, documentation

#6518 [GO] Tries to add go format to the CI
  .travis/format_check.sh
  .travis/format_install.sh
  grpc/examples/go/format.sh
Labels: CI, grpc

#6530 fixed packing structs
  src/idl_gen_ts.cpp
  tests/my-game/example/monster.ts
  tests/namespace_test/namespace-a/table-in-first-n-s.ts
  tests/ts/my-game/example/monster.ts
Labels: c++, codegen, javascript, typescript

#6338 [grpc] Support latest version of grpc PoC
  .travis.yml
  CMakeLists.txt
  WORKSPACE
  bazel/grpc_deps_1_15_1.patch
  bazel/grpc_deps_1_15_1_02.patch
  bazel/protobuf_deps_3_6_1.patch
  grpc/boringssl.patch
  grpc/build_grpc.sh
  grpc/samples/greeter/client.cpp
  grpc/samples/greeter/server.cpp
  grpc/src/compiler/cpp_generator.cc
  grpc/tests/grpctest.cpp
  include/flatbuffers/grpc.h
  tests/monster_test.grpc.fb.cc
  tests/monster_test.grpc.fb.h
Labels: CI, c++, grpc

#6417 [Kotlin][FlexBuffers] JSON support for Flexbuffers
  kotlin/benchmark/build.gradle.kts
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlexBuffersBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/JsonBenchmark.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Buffers.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/JSON.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Utf8.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/FlexBuffersTest.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/JSONTest.kt
Labels: kotlin

#6539 Rust structz
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/MyGame/Example/StructOfStructs.cs
  tests/MyGame/Example/StructOfStructs.go
  tests/MyGame/Example/StructOfStructs.java
  tests/MyGame/Example/StructOfStructs.kt
  tests/MyGame/Example/StructOfStructs.lua
  tests/MyGame/Example/StructOfStructs.php
  tests/MyGame/Example/StructOfStructs.py
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.lobster
  tests/monster_test_generated.rs
  tests/monster_test_my_game.example_generated.dart
  tests/my-game/example/struct-of-structs.ts
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c#, c++, codegen, dart, golang, java, json, kotlin, lobster, lua, php, python, rust, swift, typescript
