Repository google/flatbuffers, pull requests merged in 2021-05, with the labels that each got.

#6610 Bump Rust to 0.9.0
  rust/flatbuffers/Cargo.toml
Labels: rust

#6601 removed unneeded type prefixing
  src/idl_gen_ts.cpp
  tests/namespace_test/namespace-a/table-in-first-n-s.ts
Labels: c++, codegen, javascript, typescript

#6605 Fixed LuaJIT when not compiled with COMPAT mode
  lua/flatbuffers/builder.lua
  lua/flatbuffers/compat_luajit.lua
  tests/LuaTest.sh
  tests/luatest.lua
Labels: lua

#6604 [TS] Remove wrong and obsolete NS prefix use
  tests/namespace_test/namespace-a/namespace-b/enum-in-nested-n-s.js
  tests/namespace_test/namespace-a/namespace-b/struct-in-nested-n-s.js
  tests/namespace_test/namespace-a/namespace-b/table-in-nested-n-s.js
  tests/namespace_test/namespace-a/namespace-b/union-in-nested-n-s.js
  tests/namespace_test/namespace-a/second-table-in-a.js
  tests/namespace_test/namespace-a/table-in-first-n-s.js
  tests/namespace_test/namespace-c/table-in-c.js
  tests/tsconfig.json
Labels: javascript, json

#6606 [Lua] Adds support for Lua 5.2, 5.2 and 5.4
  lua/flatbuffers/compat.lua
  lua/flatbuffers/compat_5_1.lua
  tests/LuaTest.sh
  tests/luatest.lua
Labels: lua

#6614 [Lua] Avoid infinite loop when creating empty string
  lua/flatbuffers/binaryarray.lua
  tests/luatest.lua
Labels: lua

#6616 [swift] Updates generated monster sample file & adds frozen attributes to lib structs
  samples/monster_generated.swift
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
Labels: swift

#6607 [C++] Fix union copy constructor to work with nested structs (#6552)
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#6624 [Lua] manipulate byte array as string
  lua/flatbuffers/view.lua
  src/idl_gen_lua.cpp
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/TypeAliases.lua
  tests/luatest.lua
Labels: c++, codegen, lua

#6626 Fix reverse iterators for Vector and Array
  include/flatbuffers/flatbuffers.h
  tests/test.cpp
Labels: c++

#6633 [Go] Add missing namespace when using Object API
  src/idl_gen_go.cpp
Labels: c++, codegen, golang

#6634 [Swift] Updated Cocoapods
  swift/FlatBuffers.podspec
  swift/README.md
Labels: documentation, swift

#6635 Implement Serialize for flexbuffer::Reader
  rust/flexbuffers/src/buffer.rs
  rust/flexbuffers/src/builder/map.rs
  rust/flexbuffers/src/builder/mod.rs
  rust/flexbuffers/src/builder/ser.rs
  rust/flexbuffers/src/lib.rs
  rust/flexbuffers/src/reader/mod.rs
  rust/flexbuffers/src/reader/serialize.rs
  rust/flexbuffers/src/reader/vector.rs
  tests/rust_usage_test/tests/flexbuffers_tests/qc_serious.rs
Labels: rust

#6612 Deprecate EnumVal.object from reflection.fbs
  include/flatbuffers/reflection.h
  include/flatbuffers/reflection_generated.h
  reflection/reflection.fbs
  samples/monster.bfbs
  src/idl_parser.cpp
  tests/monster_test.bfbs
  tests/monster_test_bfbs_generated.h
Labels: c++, codegen

#6373 [Swift] Verifier implementation
  .gitignore
  grpc/examples/swift/Greeter/Sources/Model/greeter_generated.swift
  src/idl_gen_swift.cpp
  swift.swiftformat
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/Constants.swift
  swift/Sources/FlatBuffers/Enum.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/FlatBuffersUtils.swift
  swift/Sources/FlatBuffers/FlatbuffersErrors.swift
  swift/Sources/FlatBuffers/Message.swift
  swift/Sources/FlatBuffers/NativeObject.swift
  swift/Sources/FlatBuffers/Root.swift
  swift/Sources/FlatBuffers/String+extension.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/TableVerifier.swift
  swift/Sources/FlatBuffers/VeriferOptions.swift
  swift/Sources/FlatBuffers/Verifiable.swift
  swift/Sources/FlatBuffers/Verifier.swift
  tests/FlatBuffers.Benchmarks.swift/Sources/FlatBuffers.Benchmarks.swift/main.swift
  tests/FlatBuffers.Test.Swift/Package.swift
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/fuzzer.fbs
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/fuzzer_generated.swift
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/main.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersDoubleTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersVerifierTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
Labels: c++, codegen, grpc, swift

#6562 [idl_parser] Check structs and enums do not clash in a namespace
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/name_clash_test/invalid_test1.fbs
  tests/name_clash_test/invalid_test2.fbs
  tests/name_clash_test/valid_test1.fbs
  tests/name_clash_test/valid_test2.fbs
  tests/test.cpp
Labels: c++, codegen

#6637 Fixed generation of c++ code with flags
  CMakeLists.txt
  src/idl_gen_cpp.cpp
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#6652 Added README for Rust Flatbuffers (before publishing v=2.0)
  rust/flatbuffers/README.md
Labels: documentation, rust

#6620 [C++] Removed most heap allocations in builder
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffers.h
Labels: c++

#6646 Fix gRPC test to use EndVector without specifying the length.
  grpc/tests/grpctest.py
Labels: grpc, python

#6653 [GO] Update GRPC code to allow go to communicate with other languages
  grpc/examples/go/greeter/server/go.mod
  grpc/examples/go/greeter/server/main.go
Labels: golang, grpc

#6651 [Java] Flexbuffers - Negative signed object length
  java/com/google/flatbuffers/FlexBuffers.java
  tests/JavaTest.java
Labels: java

#6660 Dart test fix
  .github/workflows/build.yml
  dart/test/flat_buffers_test.dart
Labels: CI, dart

#6662 Removed most heap allocations in builder
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffers.h
  tests/test.cpp
Labels: c++

#6658 avoiding NoSuchMethod exception
  java/com/google/flatbuffers/ByteBufferReadWriteBuf.java
  java/com/google/flatbuffers/ByteBufferUtil.java
  java/com/google/flatbuffers/FlatBufferBuilder.java
  java/com/google/flatbuffers/FlexBuffers.java
  java/com/google/flatbuffers/Table.java
  java/com/google/flatbuffers/Utf8Old.java
  java/com/google/flatbuffers/Utf8Safe.java
Labels: java

#6664 Fix typo in "synchronisation primitives" in C++ doc
  docs/source/CppUsage.md
Labels: documentation
