Repository google/flatbuffers, pull requests merged in 2021-02, with the labels that each got.

#6439 [Swift] Upgrade GRPC to alpha 24
  grpc/src/compiler/swift_generator.cc
  swift/Sources/FlatBuffers/Message.swift
  tests/FlatBuffers.GRPC.Swift/Package.swift
  tests/FlatBuffers.GRPC.Swift/Sources/Model/greeter.grpc.swift
  tests/FlatBuffers.GRPC.Swift/Sources/server/main.swift
  tests/FlatBuffers.Test.Swift/Package.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test.grpc.swift
Labels: c++, grpc, swift

#6444 Implement Rust object API defaults
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  tests/monster_test_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
  tests/rust_usage_test/tests/integration_test.rs
  tests/rust_usage_test/tests/optional_scalars_test.rs
Labels: c++, codegen, rust

#6430 [idl_parser] Validate `force_align` on all possible paths
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  src/idl_parser.cpp
Labels: c++, codegen

#6452 JSON schema - tailing double quotes for maximum
  src/idl_gen_json_schema.cpp
  tests/arrays_test.schema.json
  tests/monster_test.schema.json
Labels: c++, codegen, json

#6441 [TS] Fixes GRPC code
  .gitignore
  grpc/flatbuffers-js-grpc/src/client.ts
  grpc/flatbuffers-js-grpc/src/greeter.fbs
  grpc/flatbuffers-js-grpc/src/greeter_generated.ts
  grpc/flatbuffers-js-grpc/src/greeter_grpc.d.ts
  grpc/flatbuffers-js-grpc/src/greeter_grpc.js
  grpc/flatbuffers-js-grpc/src/models/hello-reply.ts
  grpc/flatbuffers-js-grpc/src/models/hello-request.ts
  grpc/flatbuffers-js-grpc/src/server.ts
  grpc/src/compiler/ts_generator.cc
Labels: c++, grpc, javascript, typescript

#6429 [Build, cmake] Add -Werror override option
  CMakeLists.txt
  docs/source/Building.md
Labels: documentation

#6421 Default strings and vectors: Parser + Rust support
  include/flatbuffers/idl.h
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/vector.rs
  src/idl_gen_rust.cpp
  src/idl_parser.cpp
  tests/generate_code.sh
  tests/monster_test_generated.rs
  tests/more_defaults.fbs
  tests/more_defaults_generated.rs
  tests/rust_usage_test/tests/integration_test.rs
  tests/rust_usage_test/tests/more_defaults_test.rs
  tests/test.cpp
Labels: c#, c++, codegen, rust

#6460 [Swift] Fixes typo in docs
  docs/source/Tutorial.md
Labels: documentation

#6469 [Swift] Renaming protocols
  src/idl_gen_swift.cpp
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/NativeObject.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
Labels: c++, codegen, swift

#6450 [rust] Genericize flexbuffer reader
  rust/flexbuffers/Cargo.toml
  rust/flexbuffers/src/buffer.rs
  rust/flexbuffers/src/builder/push.rs
  rust/flexbuffers/src/lib.rs
  rust/flexbuffers/src/reader/de.rs
  rust/flexbuffers/src/reader/iter.rs
  rust/flexbuffers/src/reader/map.rs
  rust/flexbuffers/src/reader/mod.rs
  rust/flexbuffers/src/reader/vector.rs
  tests/rust_usage_test/benches/flexbuffers_benchmarks.rs
  tests/rust_usage_test/tests/flexbuffers_tests/binary_format.rs
  tests/rust_usage_test/tests/flexbuffers_tests/interop.rs
  tests/rust_usage_test/tests/flexbuffers_tests/other_api.rs
  tests/rust_usage_test/tests/flexbuffers_tests/rwyw.rs
Labels: rust

#6470 Fix a typo in Swift codegen
  src/idl_gen_swift.cpp
Labels: c++, codegen, swift

#6473 Update Building.md
  docs/source/Building.md
Labels: documentation

#6461 [Swift] adds support for default vectors and strings
  src/idl_gen_swift.cpp
  src/idl_parser.cpp
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersMoreDefaults.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/generate_code.sh
Labels: c++, codegen, swift

#6448 [GO] updated grpc support to v1.35.x + adds working example.
  .gitignore
  grpc/examples/README.md
  grpc/examples/generate.sh
  grpc/examples/go/greeter/.gitignore
  grpc/examples/go/greeter/README.md
  grpc/examples/go/greeter/client/go.mod
  grpc/examples/go/greeter/client/main.go
  grpc/examples/go/greeter/models/Greeter_grpc.go
  grpc/examples/go/greeter/models/HelloReply.go
  grpc/examples/go/greeter/models/HelloRequest.go
  grpc/examples/go/greeter/models/go.mod
  grpc/examples/go/greeter/server/go.mod
  grpc/examples/go/greeter/server/main.go
  grpc/examples/greeter.fbs
  grpc/src/compiler/go_generator.cc
  grpc/src/compiler/schema_interface.h
  grpc/tests/go_test.go
  src/idl_gen_grpc.cpp
  tests/MyGame/Example/MonsterStorage_grpc.go
Labels: c++, codegen, documentation, golang, grpc

#6436 updated JS docs to reflect current status
  docs/source/JavaScriptUsage.md
  docs/source/Tutorial.md
  docs/source/TypeScriptUsage.md
  samples/samplebinary.js
Labels: documentation, javascript

#6478 Fix sample_binary.py to use latest EndVector without a size.
  samples/sample_binary.py
Labels: python

#6477 [Swift] Fixes grammer
  docs/source/Tutorial.md
  samples/monster_generated.swift
  samples/sample_binary.swift
  src/idl_gen_swift.cpp
  tests/FlatBuffers.GRPC.Swift/Sources/Model/greeter_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
Labels: c++, codegen, documentation, swift

#6476 [TS] Moves to examples folder
  grpc/examples/generate.sh
  grpc/examples/ts/greeter/README.md
  grpc/examples/ts/greeter/package.json
  grpc/examples/ts/greeter/src/client.ts
  grpc/examples/ts/greeter/src/greeter_grpc.d.ts
  grpc/examples/ts/greeter/src/greeter_grpc.js
  grpc/examples/ts/greeter/src/models/hello-reply.ts
  grpc/examples/ts/greeter/src/models/hello-request.ts
  grpc/examples/ts/greeter/src/server.ts
  grpc/examples/ts/greeter/tsconfig.json
  grpc/flatbuffers-js-grpc/src/greeter.fbs
Labels: documentation, grpc, javascript, json, typescript

#6479 [Swift] Moves grpc example to grpc/examples
  grpc/examples/generate.sh
  grpc/examples/swift/Greeter/Package.swift
  grpc/examples/swift/Greeter/README.md
  grpc/examples/swift/Greeter/Sources/Model/greeter.grpc.swift
  grpc/examples/swift/Greeter/Sources/Model/greeter_generated.swift
  grpc/examples/swift/Greeter/Sources/client/main.swift
  grpc/examples/swift/Greeter/Sources/server/main.swift
  tests/FlatBuffers.GRPC.Swift/Sources/Model/greeter.fbs
  tests/FlatBuffers.GRPC.Swift/Sources/Model/greeter_generated.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/generate_code.sh
Labels: documentation, grpc, swift

#6482 [CI] Adds Code Generation tests on Github Actions
  .github/workflows/build.yml
  .travis.yml
  grpc/examples/generate.sh
  scripts/check-generate-code.sh
  scripts/check-grpc-generated-code.sh
  tests/docker/build_flatc.run.sh
  tests/docker/cpp_test.run.sh
  tests/generate_code.sh
Labels: CI, grpc

#6462 [C#] Fix truncated ArraySegment<byte> if elementSize != 1
  net/FlatBuffers/Table.cs
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Stat.cs
  tests/MyGame/Example/TypeAliases.cs
  tests/MyGame/MonsterExtra.cs
Labels: c#, c++, codegen

#6475 [rust] Remove debug code
  rust/flexbuffers/src/reader/map.rs
  rust/flexbuffers/src/reader/mod.rs
  tests/rust_usage_test/bin/flexbuffers_alloc_check.rs
Labels: rust

#6456 [Python] updates grpc support to v1.35.0
  CMakeLists.txt
  grpc/examples/README.md
  grpc/examples/generate.sh
  grpc/examples/python/greeter/README.md
  grpc/examples/python/greeter/client.py
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  grpc/examples/python/greeter/models/__init__.py
  grpc/examples/python/greeter/models/greeter_grpc_fb.py
  grpc/examples/python/greeter/server.py
  grpc/src/compiler/BUILD
  grpc/src/compiler/python_generator.cc
  grpc/src/compiler/python_generator.h
  grpc/src/compiler/python_private_generator.h
  src/idl_gen_grpc.cpp
Labels: c++, codegen, documentation, grpc, python

#6474 fix for noUncheckedIndexedAccess in ts
  .gitignore
  src/idl_gen_ts.cpp
Labels: c++, codegen, javascript, typescript
