Repository google/flatbuffers, pull requests merged in 2021-01, with the labels that each got.

#6378 [Swift] Updates license date to 2021
  samples/sample_binary.swift
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/Constants.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/FlatBuffersUtils.swift
  swift/Sources/FlatBuffers/Int+extension.swift
  swift/Sources/FlatBuffers/Message.swift
  swift/Sources/FlatBuffers/Mutable.swift
  swift/Sources/FlatBuffers/Offset.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/UnionObject.swift
  tests/FlatBuffers.Benchmarks.swift/Sources/FlatBuffers.Benchmarks.swift/main.swift
  tests/FlatBuffers.GRPC.Swift/Sources/client/main.swift
  tests/FlatBuffers.GRPC.Swift/Sources/server/main.swift
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/main.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersStructsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersDoubleTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/LinuxMain.swift
Labels: swift

#6367 [Rust] Shared String
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/primitives.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: rust

#6354 Generate code to encode and decode nested flatbuffers in Python.
  src/idl_gen_python.cpp
  tests/MyGame/Example/Monster.py
  tests/py_test.py
Labels: c++, codegen, python

#6363 [idl_parser] Check the range of explicitly set field's id value
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#6364 [idl_parser] Improve stack overflow protection
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/fuzzer/CMakeLists.txt
  tests/fuzzer/flatbuffers_monster_fuzzer.cc
Labels: c++, codegen

#6355 fixed warnings
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  tests/include_test/include_test1_generated.rs
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
Labels: c++, codegen, rust

#6381 Disabled PHP CI
  .github/workflows/build.yml
Labels: CI

#6382 Implements type promotion for Java enum
  src/idl_gen_java.cpp
  tests/MyGame/Example/Color.java
Labels: c++, codegen, java

#6385 Fix generated Python EndVector.
  src/idl_gen_python.cpp
  tests/MyGame/Example/Monster.py
Labels: c++, codegen, python

#6375 [C++, JSON] Fix nullptr access when reading a key with a default value.
  src/idl_gen_text.cpp
  src/idl_parser.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Monster.php
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/Stat.cs
  tests/MyGame/Example/Stat.java
  tests/MyGame/Example/Stat.kt
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.js
  tests/monster_test_generated.lobster
  tests/monster_test_generated.rs
  tests/monster_test_generated.ts
  tests/monster_test_my_game.example_generated.dart
  tests/monsterdata_test.json
  tests/monsterdata_test.mon
  tests/rust_usage_test/tests/integration_test.rs
  tests/test.cpp
Labels: c#, c++, codegen, dart, golang, java, javascript, json, kotlin, lobster, lua, php, python, rust, swift, typescript

#6386 fix Dart Builder.reset() - clear vTables
  dart/lib/flat_buffers.dart
Labels: dart

#6390 fix Dart Builder._writeString() - always write trailing zero byte
  dart/lib/flat_buffers.dart
Labels: dart

#6388 [go] tests/GoTest.sh: Fix flags.Parse location to work on new go SDKs.
  .github/workflows/build.yml
  tests/GoTest.sh
  tests/go_test.go
  tests/monsterdata_go_wire.mon.sp
Labels: CI, golang

#6389 Fix up scripts, fix generated enum value for strong mode, regenerate files
  .github/workflows/build.yml
  dart/example/monster_my_game.sample_generated.dart
  dart/publish.sh
  dart/test/flat_buffers_test.dart
  dart/test/monster_test_my_game.example_generated.dart
  src/idl_gen_dart.cpp
  tests/DartTest.sh
  tests/monster_test_my_game.example_generated.dart
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
Labels: CI, c++, codegen, dart

#6392 [fuzzer] Debug the monster_tets.bfbs on clusterfuzz server
  tests/fuzzer/flatbuffers_monster_fuzzer.cc
Labels: c++

#6394 [C++] Define Vector::value_type for STL compatibility
  include/flatbuffers/flatbuffers.h
Labels: c++

#6393 Fix Rust UB problems
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/endian_scalar.rs
  rust/flatbuffers/src/verifier.rs
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  tests/RustTest.sh
  tests/docker/languages/Dockerfile.testing.rust.nightly
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/rust_usage_test/bin/flatbuffers_alloc_check.rs
  tests/rust_usage_test/bin/flexbuffers_alloc_check.rs
  tests/rust_usage_test/tests/flexbuffers_tests/binary_format.rs
  tests/rust_usage_test/tests/flexbuffers_tests/mod.rs
  tests/rust_usage_test/tests/flexbuffers_tests/other_api.rs
  tests/rust_usage_test/tests/flexbuffers_tests/rwyw.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c++, codegen, rust

#6396 [fuzzer] Fix the binary schema loading in the monster_fuzzer
  tests/fuzzer/flatbuffers_monster_fuzzer.cc
Labels: c++

#6402 Unset FieldDef.optional if its key
  src/idl_parser.cpp
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test_bfbs_generated.h
Labels: c#, c++, codegen

#6404 [TS/JS] New gen TS code gen prequel to preserve history
  .github/labeler.yml
  CMakeLists.txt
  src/BUILD
  src/idl_gen_ts.cpp
Labels: CI, c++, codegen

#6406 Upgrade Rust dependencies
  rust/flatbuffers/Cargo.toml
  rust/flexbuffers/Cargo.toml
Labels: rust

#6371 Search for includes in the directory containg the current file
  src/idl_parser.cpp
Labels: c++, codegen

#6407 [idl_parser] Improve symbols lookup thru parent namespaces
  include/flatbuffers/idl.h
  src/idl_parser.cpp
Labels: c++, codegen

#6302 [TS/JS] New gen TS code gen
  appveyor.yml
  docs/source/Compiler.md
  docs/source/TypeScriptUsage.md
  include/flatbuffers/code_generators.h
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  package.json
  src/code_generators.cpp
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/JavaScriptFlexBuffersTest.js
  tests/JavaScriptTest.js
  tests/JavaScriptTest.sh
  tests/JavaScriptUnionVectorTest.js
  tests/TestAll.sh
  tests/TypeScriptTest.bat
  tests/TypeScriptTest.sh
  tests/docker/languages/Dockerfile.testing.node.10_13_0
  tests/docker/languages/Dockerfile.testing.node.11_2_0
  tests/docker/languages/Dockerfile.testing.node.12_20_1
  tests/docker/languages/Dockerfile.testing.node.14_15_4
  tests/generate_code.bat
  tests/generate_code.sh
  tests/monster_test_grpc.d.ts
  tests/monster_test_grpc.js
  tests/optional_scalars_generated.js
  tests/optional_scalars_generated.ts
  tests/package.json
  tests/ts/attacker.ts
  tests/ts/book-reader.ts
  tests/ts/character.ts
  tests/ts/movie.ts
  tests/ts/my-game/example/ability.ts
  tests/ts/my-game/example/any-ambiguous-aliases.ts
  tests/ts/my-game/example/any-unique-aliases.ts
  tests/ts/my-game/example/any.ts
  tests/ts/my-game/example/color.ts
  tests/ts/my-game/example/monster.ts
  tests/ts/my-game/example/race.ts
  tests/ts/my-game/example/referrable.ts
  tests/ts/my-game/example/stat.ts
  tests/ts/my-game/example/test-simple-table-with-enum.ts
  tests/ts/my-game/example/test.ts
  tests/ts/my-game/example/type-aliases.ts
  tests/ts/my-game/example/vec3.ts
  tests/ts/my-game/example2/monster.ts
  tests/ts/my-game/in-parent-namespace.ts
  tests/ts/rapunzel.ts
  tests/tsconfig.json
  ts/builder.ts
  ts/byte-buffer.ts
  ts/flatbuffers.ts
  ts/flexbuffers.ts
  yarn.lock
Labels: CI, c++, codegen, documentation, javascript, json, typescript

#6413 Remove invalid claim that Protocol Buffers does not support unions
  docs/source/FlatBuffers.md
Labels: documentation

#6403 Dart Builder - expose finished buffer size
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#6414 Explain how FlatBuffers encodes unions
  docs/source/Internals.md
Labels: documentation

#6416 Clarify that FlatBuffers unions do not support scalars
  docs/source/Schemas.md
Labels: documentation

#6415 Clarify that (Flat|Flex)Buffers do not deduplicate vector elements
  docs/source/Internals.md
Labels: documentation

#6070 Rust Object API
  rust/flexbuffers/src/builder/mod.rs
  rust/flexbuffers/src/builder/value.rs
  rust/flexbuffers/src/flexbuffer_type.rs
  rust/flexbuffers/src/lib.rs
  samples/monster_generated.rs
  samples/sample_binary.rs
  samples/sample_flexbuffers.rs
  src/idl_gen_rust.cpp
  tests/RustTest.sh
  tests/generate_code.bat
  tests/generate_code.sh
  tests/include_test/include_test1_generated.rs
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
  tests/rust_usage_test/bin/flatbuffers_alloc_check.rs
  tests/rust_usage_test/bin/monster_example.rs
  tests/rust_usage_test/tests/integration_test.rs
  tests/rust_usage_test/tests/optional_scalars_test.rs
Labels: c++, codegen, rust

#6349 [CPP] Formats cpp files with clang-format
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/reflection.h
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_go.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_php.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_parser.cpp
  tests/test.cpp
Labels: c#, c++, codegen, golang, json, php, python, rust

#6419 [c++] Apply NativeName before WrapInNameSpace in idl_gen_cpp.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#6420 Refactor FieldDef to model presense as an enum rather than 2 bools.
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_java.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_lobster.cpp
  src/idl_gen_php.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/test.cpp
Labels: c#, c++, codegen, java, javascript, json, kotlin, lobster, php, rust, swift, typescript

#6422 [Rust] Ensure unions are referenced with the correct path
  samples/monster_generated.rs
  src/idl_gen_rust.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
  tests/generate_code.bat
  tests/generate_code.sh
  tests/monster_test_generated.rs
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.cs
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.go
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.java
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.kt
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.lua
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.php
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.py
  tests/namespace_test/NamespaceA/TableInFirstNS.cs
  tests/namespace_test/NamespaceA/TableInFirstNS.go
  tests/namespace_test/NamespaceA/TableInFirstNS.java
  tests/namespace_test/NamespaceA/TableInFirstNS.kt
  tests/namespace_test/NamespaceA/TableInFirstNS.lua
  tests/namespace_test/NamespaceA/TableInFirstNS.php
  tests/namespace_test/NamespaceA/TableInFirstNS.py
  tests/namespace_test/namespace_test1.fbs
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test1_generated.lobster
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test1_namespace_a.namespace_b_generated.dart
  tests/namespace_test/namespace_test2.fbs
  tests/namespace_test/namespace_test2_generated.h
  tests/namespace_test/namespace_test2_generated.lobster
  tests/namespace_test/namespace_test2_generated.rs
  tests/namespace_test/namespace_test2_namespace_a_generated.dart
  tests/rust_usage_test/tests/integration_test.rs
Labels: c#, c++, codegen, dart, golang, java, kotlin, lobster, lua, php, python, rust

#6410 Rust: remove inner attributes
  samples/monster_generated.rs
  samples/sample_binary.rs
  src/idl_gen_rust.cpp
  tests/RustTest.sh
  tests/include_test/include_test1_generated.rs
  tests/include_test/sub/include_test2_generated.rs
  tests/monster_test_generated.rs
  tests/namespace_test/namespace_test1_generated.rs
  tests/namespace_test/namespace_test2_generated.rs
  tests/optional_scalars_generated.rs
  tests/rust_usage_test/Cargo.toml
  tests/rust_usage_test/outdir/Cargo.toml
  tests/rust_usage_test/outdir/build.rs
  tests/rust_usage_test/outdir/src/main.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: c++, codegen, rust

#6336 Better python generated code naming
  docs/source/Tutorial.md
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/PythonTest.sh
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.py
  tests/namespace_test/NamespaceA/SecondTableInA.py
  tests/namespace_test/NamespaceA/TableInFirstNS.py
  tests/namespace_test/NamespaceC/TableInC.py
  tests/py_test.py
Labels: c++, codegen, documentation, python

#6387 [Kotlin][FlexBuffers] Initial implementation of FlexBuffers on Kotlin Multiplatform.
  .github/workflows/build.yml
  kotlin/benchmark/build.gradle.kts
  kotlin/benchmark/src/jvmMain/java
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlexBuffersBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/UTF8Benchmark.kt
  kotlin/build.gradle.kts
  kotlin/flatbuffers-kotlin/build.gradle.kts
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Buffers.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/ByteArray.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlexBuffers.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlexBuffersBuilder.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlexBuffersInternals.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Utf8.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/ByteArrayTest.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/FlexBuffersTest.kt
  kotlin/flatbuffers-kotlin/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/ByteArray.kt
  kotlin/flatbuffers-kotlin/src/jvmTest/kotlin/com/google/flatbuffers/kotlin/Utf8Test.kt
  kotlin/flatbuffers-kotlin/src/jvmTest/resources/utf8_sample.txt
  kotlin/flatbuffers-kotlin/src/nativeMain/kotlin/com/google/flatbuffers/kotlin/ByteArray.kt
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew
  kotlin/gradlew.bat
  kotlin/settings.gradle
  kotlin/spotless/spotless.kt
Labels: CI, kotlin

#6431 [fuzzer] Limit parser_fuzzer execution time
  tests/fuzzer/flatbuffers_monster_fuzzer.cc
  tests/fuzzer/flatbuffers_parser_fuzzer.cc
Labels: c++
