Repository google/flatbuffers, pull requests merged in 2022-11, with the labels that each got.

#7620 Added option to not requires an EoF token when parsing JSON
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#7622 Bump Rust version to 22.10.26 before publication
  rust/flatbuffers/Cargo.toml
Labels: rust

#7624 Add missing #include <algorithm> for std::min/std::max uses, …
  include/flatbuffers/buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  include/flatbuffers/vector_downward.h
  src/annotated_binary_text_gen.cpp
  src/binary_annotator.cpp
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_go.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_text.cpp
  tests/flexbuffers_test.cpp
  tests/fuzz_test.cpp
  tests/monster_test.cpp
  tests/parser_test.cpp
  tests/test.cpp
Labels: golang, c++, codegen, json

#7627 Fix current official name of macOS
  readme.md
Labels: documentation

#7625 Fix: arduino platform build
  include/flatbuffers/base.h
Labels: c++

#7612 Fix missing spaces in flatc help text
  src/flatc.cpp
Labels: c++, codegen

#7611 Fix help output for --gen-includes
  src/flatc.cpp
Labels: c++, codegen

#7613 Add support for parsing proto map fields
  include/flatbuffers/idl.h
  src/idl_gen_fbs.cpp
  src/idl_parser.cpp
  tests/proto_test.cpp
  tests/prototest/GenerateProtoGoldens.sh
  tests/prototest/test.golden
  tests/prototest/test.proto
  tests/prototest/test_include.golden
  tests/prototest/test_suffix.golden
  tests/prototest/test_union.golden
  tests/prototest/test_union_include.golden
  tests/prototest/test_union_suffix.golden
Labels: c++, codegen

#7588 [TS/Rust/Go/Dart] Fix handling of +/-inf defaults in codegen
  dart/test/flat_buffers_test.dart
  include/flatbuffers/util.h
  src/bfbs_gen_nim.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_go.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_ts.cpp
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Monster.nim
  tests/MyGame/Example/Monster.php
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/MonsterT.java
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/test_cpp17.cpp
  tests/go_test.go
  tests/monster_test.afb
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test/my_game/example/monster_generated.rs
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.lobster
  tests/monster_test_generated.py
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_serialize/my_game/example/monster_generated.rs
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/reflection_test.cpp
  tests/rust_usage_test/tests/integration_test.rs
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/test.cpp
  tests/ts/monsterdata_javascript_wire.mon
  tests/ts/my-game/example/monster.js
  tests/ts/my-game/example/monster.ts
  tests/ts/ts-flat-files/monster_test_generated.ts
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin, nim

#7635 Uses swift build command directly in the CI
  .github/workflows/build.yml
Labels: CI

#7636 Temporary fix for SLSA generators
  .github/workflows/build.yml
Labels: CI

#7610 Add comparison operator to python objects under --gen-compare option
  src/idl_gen_python.cpp
  tests/MyGame/MonsterExtra.py
Labels: python, c++, codegen

#7602 [C++] Minireflect: Add option to indent when converting table to string
  include/flatbuffers/minireflect.h
Labels: c++

#7566 Fixes #7345 to add the option to minify enums
  .gitignore
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  tests/minified_enums/enums.fbs
  tests/minified_enums/enums_generated.h
Labels: c++, codegen

#7634 [swift] fix broken swift test build (#7633)
  scripts/generate_code.py
  src/idl_gen_swift.cpp
  tests/nan_inf_test.fbs
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersNanInfTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/nan_inf_test_generated.swift
Labels: python, c++, codegen, swift

#7621 Fix import problem in dart generated files. (fixes #7609).
  dart/test/include_test1_generated.dart
  dart/test/include_test2_my_game.other_name_space_generated.dart
  dart/test/monster_test.fbs
  dart/test/monster_test_my_game.example2_generated.dart
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monster_test_my_game_generated.dart
  scripts/generate_code.py
  src/idl_gen_dart.cpp
  tests/DartTest.sh
  tests/include_test1_generated.dart
  tests/include_test2_my_game.other_name_space_generated.dart
  tests/monster_test_my_game.example2_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_my_game_generated.dart
Labels: python, c++, codegen, dart

#7579 [Go] Fix GenNativeUnionUnPack for imported union type.
  src/idl_gen_go.cpp
  tests/MyGame/Example/Any.go
  tests/MyGame/Example/AnyAmbiguousAliases.go
  tests/MyGame/Example/AnyUniqueAliases.go
Labels: golang, c++, codegen

#7649 Put documentation to bfbs if it is not empty
  samples/monster.bfbs
  src/idl_parser.cpp
  tests/arrays_test.bfbs
  tests/monster_test.afb
  tests/monster_test.bfbs
  tests/monster_test_bfbs_generated.h
Labels: c++, codegen

#7623 Add support for using array of scalar as key field in Cpp
  CMakeLists.txt
  include/flatbuffers/reflection_generated.h
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/key_field/key_field_sample.fbs
  tests/key_field/key_field_sample_generated.h
  tests/key_field_test.cpp
  tests/key_field_test.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/test.cpp
Labels: c++, codegen

#7648 [C#] Fix collision of member if union name is "Value"
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

#7657 Fixed the BytesConsumed function, which was pointing slightly ahead.
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#7642 updated method generation to be independent of renaming code
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7632 Fix go generator undefined Package name, also throwing exception
  scripts/generate_code.py
  src/idl_gen_go.cpp
  src/namer.h
  tests/GoTest.sh
  tests/Pizza.go
  tests/go_test.go
  tests/include_test/order.fbs
  tests/include_test/sub/no_namespace.fbs
  tests/order/Food.go
Labels: golang, python, c++, codegen

#7644 Add key lookup support for tables in Go
  go/builder.go
  go/lib.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Any.go
  tests/MyGame/Example/AnyAmbiguousAliases.go
  tests/MyGame/Example/AnyUniqueAliases.go
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/go_test.go
Labels: golang, c++, codegen

#7651 Add --go-module-name flag to support generating Go module compatible code
  examples/go-echo/README.md
  examples/go-echo/client/client.go
  examples/go-echo/go.mod
  examples/go-echo/hero.fbs
  examples/go-echo/hero/Warrior.go
  examples/go-echo/net.fbs
  examples/go-echo/net/Request.go
  examples/go-echo/net/Response.go
  examples/go-echo/server/server.go
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_go.cpp
  tests/GoTest.sh
Labels: golang, c++, codegen, documentation

#7663 Rurel
  rust/flatbuffers/Cargo.toml
  scripts/release.sh
Labels: rust

#7674 `build.yml` Update dependencies
  .github/workflows/build.yml
Labels: CI

#7677 `build.yml`: MacOs Build Inplace
  .github/workflows/build.yml
Labels: CI

#7672 Fix java import wild card
  src/idl_gen_java.cpp
  tests/DictionaryLookup/LongFloatEntry.java
  tests/DictionaryLookup/LongFloatMap.java
  tests/MyGame/Example/Ability.java
  tests/MyGame/Example/AbilityT.java
  tests/MyGame/Example/ArrayStruct.java
  tests/MyGame/Example/ArrayStructT.java
  tests/MyGame/Example/ArrayTable.java
  tests/MyGame/Example/ArrayTableT.java
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/MonsterT.java
  tests/MyGame/Example/NestedStruct.java
  tests/MyGame/Example/NestedStructT.java
  tests/MyGame/Example/Referrable.java
  tests/MyGame/Example/ReferrableT.java
  tests/MyGame/Example/Stat.java
  tests/MyGame/Example/StatT.java
  tests/MyGame/Example/StructOfStructs.java
  tests/MyGame/Example/StructOfStructsOfStructs.java
  tests/MyGame/Example/StructOfStructsOfStructsT.java
  tests/MyGame/Example/StructOfStructsT.java
  tests/MyGame/Example/Test.java
  tests/MyGame/Example/TestSimpleTableWithEnum.java
  tests/MyGame/Example/TestSimpleTableWithEnumT.java
  tests/MyGame/Example/TestT.java
  tests/MyGame/Example/TypeAliases.java
  tests/MyGame/Example/TypeAliasesT.java
  tests/MyGame/Example/Vec3.java
  tests/MyGame/Example/Vec3T.java
  tests/MyGame/Example2/Monster.java
  tests/MyGame/Example2/MonsterT.java
  tests/MyGame/InParentNamespace.java
  tests/MyGame/InParentNamespaceT.java
  tests/MyGame/MonsterExtra.java
  tests/MyGame/MonsterExtraT.java
  tests/optional_scalars/ScalarStuff.java
  tests/union_vector/Attacker.java
  tests/union_vector/AttackerT.java
  tests/union_vector/BookReader.java
  tests/union_vector/BookReaderT.java
  tests/union_vector/FallingTub.java
  tests/union_vector/FallingTubT.java
  tests/union_vector/HandFan.java
  tests/union_vector/HandFanT.java
  tests/union_vector/Movie.java
  tests/union_vector/MovieT.java
  tests/union_vector/Rapunzel.java
  tests/union_vector/RapunzelT.java
Labels: java, c++, codegen

#7660 Use FinshedBytes() in go-echo example instead of manually encoding offset
  examples/go-echo/client/client.go
  examples/go-echo/server/server.go
Labels: golang

#7678 chore: emit more reasonable error message when using incomplete type …
  include/flatbuffers/idl.h
  src/idl_parser.cpp
Labels: c++, codegen

#7670 Fix PHP byte validation and reenable builds
  .github/workflows/build.yml
  php/ByteBuffer.php
  tests/phpTest.php
Labels: php, CI
