Repository google/flatbuffers, pull requests merged in 2022-09, with the labels that each got.

#7505 Fixes issue with cocoapods failing to be published because of docc
  swift/FlatBuffers.podspec
Labels: swift

#7503 [Android] Remove maven dependency of flatbuffers and use source folder
  .github/workflows/build.yml
  android/app/build.gradle
  android/app/src/main/cpp/generated/animal_generated.h
  android/app/src/main/java/generated/com/fbs/app/Animal.kt
Labels: c++, kotlin, CI

#7507 [Java][FlexBuffers] throwing exception for untyped fixed vectors
  java/com/google/flatbuffers/FlexBuffersBuilder.java
Labels: java

#7509 Moves all of the swift test code into tests/swift
  .github/labeler.yml
  .github/workflows/build.yml
  docs/source/SwiftUsage.md
  scripts/generate_code.py
  tests/docker/languages/Dockerfile.testing.swift_5_2
  tests/swift/Wasm.tests/Package.swift
  tests/swift/Wasm.tests/Sources/Wasm/Wasm.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/benchmarks/Package.swift
  tests/swift/benchmarks/Sources/benchmarks/main.swift
  tests/swift/tests/CodeGenerationTests/test_import.fbs
  tests/swift/tests/CodeGenerationTests/test_import_generated.swift
  tests/swift/tests/CodeGenerationTests/test_no_include.fbs
  tests/swift/tests/CodeGenerationTests/test_no_include_generated.swift
  tests/swift/tests/Package.swift
  tests/swift/tests/Sources/SwiftFlatBuffers/fuzzer.fbs
  tests/swift/tests/Sources/SwiftFlatBuffers/fuzzer_generated.swift
  tests/swift/tests/Sources/SwiftFlatBuffers/main.swift
  tests/swift/tests/SwiftTest.sh
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersStructsTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersDoubleTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersMoreDefaults.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersVerifierTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/MutatingBool_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test.grpc.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/vector_has_test_generated.swift
  tests/swift/tests/Tests/LinuxMain.swift
  tests/swift/tests/monsterdata_test.mon
Labels: python, swift, documentation, CI

#7521 [Java][Flexbuffers] Add API to add nullables into the buffer.
  java/com/google/flatbuffers/FlexBuffersBuilder.java
  tests/JavaTest.java
Labels: java

#7522 remove travis config
  .github/labeler.yml
  .travis.yml
  conan/appveyor/build.py
  conan/appveyor/install.py
  conan/build.py
  conan/travis/build.sh
  conan/travis/install.sh
  include/flatbuffers/util.h
  src/flatc_main.cpp
  src/util.cpp
  tests/test_assert.cpp
Labels: python, c++, codegen, CI

#7523 prevent force_align attribute on enums
  src/idl_parser.cpp
  tests/parser_test.cpp
Labels: c++, codegen

#7524 enabled cpp17 tests in CI
  .github/workflows/build.yml
  tests/cpp17/test_cpp17.cpp
Labels: c++, CI

#7500 Replace `bash JavaTest.sh` with `mvn test`
  .github/workflows/build.yml
  .gitignore
  android/app/build.gradle
  java/pom.xml
  java/src/main/java/com/google/flatbuffers/ArrayReadWriteBuf.java
  java/src/main/java/com/google/flatbuffers/BaseVector.java
  java/src/main/java/com/google/flatbuffers/BooleanVector.java
  java/src/main/java/com/google/flatbuffers/ByteBufferReadWriteBuf.java
  java/src/main/java/com/google/flatbuffers/ByteBufferUtil.java
  java/src/main/java/com/google/flatbuffers/ByteVector.java
  java/src/main/java/com/google/flatbuffers/Constants.java
  java/src/main/java/com/google/flatbuffers/DoubleVector.java
  java/src/main/java/com/google/flatbuffers/FlatBufferBuilder.java
  java/src/main/java/com/google/flatbuffers/FlexBuffers.java
  java/src/main/java/com/google/flatbuffers/FlexBuffersBuilder.java
  java/src/main/java/com/google/flatbuffers/FloatVector.java
  java/src/main/java/com/google/flatbuffers/IntVector.java
  java/src/main/java/com/google/flatbuffers/LongVector.java
  java/src/main/java/com/google/flatbuffers/ReadBuf.java
  java/src/main/java/com/google/flatbuffers/ReadWriteBuf.java
  java/src/main/java/com/google/flatbuffers/ShortVector.java
  java/src/main/java/com/google/flatbuffers/StringVector.java
  java/src/main/java/com/google/flatbuffers/Struct.java
  java/src/main/java/com/google/flatbuffers/Table.java
  java/src/main/java/com/google/flatbuffers/UnionVector.java
  java/src/main/java/com/google/flatbuffers/Utf8.java
  java/src/main/java/com/google/flatbuffers/Utf8Old.java
  java/src/main/java/com/google/flatbuffers/Utf8Safe.java
  java/src/test/java/DictionaryLookup
  java/src/test/java/JavaTest.java
  java/src/test/java/MyGame
  java/src/test/java/NamespaceA
  java/src/test/java/NamespaceC
  java/src/test/java/optional_scalars
  java/src/test/java/union_vector
  java/src/test/resources/monsterdata_test.mon
  kotlin/benchmark/src/jvmMain/java
  tests/JavaTest.bat
  tests/JavaTest.sh
Labels: java, CI

#7527 UnPackTo disable merge by default
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/monster_extra_generated.h
  tests/monster_test.cpp
  tests/monster_test.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test2_generated.h
  tests/native_inline_table_test_generated.h
  tests/native_type_test_generated.h
  tests/test.cpp
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#7532 Fix conform
  src/idl_parser.cpp
  tests/evolution_test.cpp
Labels: c++, codegen

#7520 [C++] Rare bad buffer content alignment if sizeof(T) != alignof(T)
  CMakeLists.txt
  include/flatbuffers/flatbuffer_builder.h
  src/idl_parser.cpp
  src/reflection.cpp
  tests/BUILD.bazel
  tests/alignment_test.cpp
  tests/alignment_test.fbs
  tests/alignment_test.h
  tests/alignment_test_generated.h
  tests/test.cpp
Labels: c++, codegen, release-notes

#7538 Upgrade grpc to 1.49.0 and make sure it builds
  WORKSPACE
  grpc/build_grpc_with_cxx14.patch
Labels: grpc

#7529 [Python] Python fixed size array
  python/flatbuffers/table.py
  src/idl_gen_python.cpp
  src/util.cpp
  tests/MyGame/Example/Ability.py
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedStruct.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/StructOfStructs.py
  tests/MyGame/Example/StructOfStructsOfStructs.py
  tests/MyGame/Example/Test.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example/Vec3.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/PythonTest.sh
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
  tests/py_test.py
  tests/util_test.cpp
Labels: python, c++, codegen, release-notes

#7545 Emit internal enums when swift_implementation_only
  src/idl_gen_swift.cpp
Labels: c++, codegen, swift

#7548 Moves swift package to root of repository so it can be used directly …
  FlatBuffers.podspec
  Package.swift
  Package@swift-5.5.swift
  swift/README.md
  tests/swift/Wasm.tests/Package.swift
  tests/swift/benchmarks/Package.swift
  tests/swift/tests/Package.swift
Labels: swift, documentation

#7549 [TS] Make strict compliant and improve typings
  package.json
  src/idl_gen_ts.cpp
  tests/ts/TypeScriptTest.py
  tests/ts/my-game/example/ability.ts
  tests/ts/my-game/example/monster.js
  tests/ts/my-game/example/monster.ts
  tests/ts/my-game/example/referrable.ts
  tests/ts/my-game/example/stat.ts
  tests/ts/my-game/example/struct-of-structs-of-structs.ts
  tests/ts/my-game/example/struct-of-structs.ts
  tests/ts/my-game/example/test-simple-table-with-enum.ts
  tests/ts/my-game/example/test.ts
  tests/ts/my-game/example/type-aliases.ts
  tests/ts/my-game/example/vec3.ts
  tests/ts/my-game/example2/monster.ts
  tests/ts/my-game/in-parent-namespace.ts
  tests/ts/reflection/enum-val.ts
  tests/ts/reflection/enum.ts
  tests/ts/reflection/field.ts
  tests/ts/reflection/key-value.ts
  tests/ts/reflection/object.ts
  tests/ts/reflection/rpccall.ts
  tests/ts/reflection/schema-file.ts
  tests/ts/reflection/schema.ts
  tests/ts/reflection/service.ts
  tests/ts/reflection/type.ts
  tests/ts/reflection_generated.ts
  tests/ts/typescript/object.ts
  tests/ts/typescript_keywords_generated.ts
  tests/ts/union_vector/attacker.ts
  tests/ts/union_vector/book-reader.ts
  tests/ts/union_vector/falling-tub.ts
  tests/ts/union_vector/hand-fan.ts
  tests/ts/union_vector/movie.js
  tests/ts/union_vector/movie.ts
  tests/ts/union_vector/rapunzel.ts
  ts/builder.ts
  ts/byte-buffer.ts
  ts/flatbuffers.ts
  ts/index.ts
  ts/types.ts
Labels: python, c++, javascript, typescript, codegen, json
