Repository google/flatbuffers, pull requests merged in 2022-12, with the labels that each got.

#7680 tests/reflection_test.h: add missing <stdint.h> include
  tests/reflection_test.h
Labels: c++

#7688 Fix confrom failure for nullptr dereference.
  include/flatbuffers/idl.h
  src/idl_parser.cpp
  tests/evolution_test.cpp
Labels: c++, codegen

#7692 Add LICENSE.txt to python
  python/setup.cfg
  python/setup.py
Labels: python

#7693 Refactor src/idl_gen_cpp.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#7699 Fix "Download Doxygen" URL
  docs/source/README_TO_GENERATE_DOCS.md
Labels: documentation

#7681 [C++] Update to address comparator failure in big endian
  src/idl_gen_cpp.cpp
  tests/key_field/key_field_sample_generated.h
  tests/key_field_test.cpp
Labels: c++, codegen

#7697 fix: byte_width_ = 1U << static_cast<BitWidth>(packed_type & 3) implicit-int-conversion fix.
  include/flatbuffers/flexbuffers.h
Labels: c++

#7700 [Rust] Restore public visibility of previously-public fields
  rust/flatbuffers/src/table.rs
Labels: rust

#7703 [FlexBuffers Dart] Fix a bug where a floating point number was cast to int and the value…
  dart/lib/src/types.dart
  dart/test/flex_builder_test.dart
  dart/test/flex_reader_test.dart
Labels: dart

#7704 fix clang format plus implicit cast error in flexbuffer
  include/flatbuffers/flexbuffers.h
Labels: c++

#7706 [Go] Fix bug where `bytes` wasn't being imported when using --gen-onefile flag
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
Labels: golang, c++, codegen

#7713 Add Ref.AsStringBytes to flatbuffers.flexbuffers Python API
  python/flatbuffers/flexbuffers.py
Labels: python

#7707 Add CI job to build linux and run unit test on s390x
  .github/workflows/extrabuild.yml
Labels: CI

#7711 [C++] Fix clang `-Wnewline-eof` warning
  CMakeLists.txt
  include/flatbuffers/allocator.h
  include/flatbuffers/buffer_ref.h
  include/flatbuffers/default_allocator.h
  include/flatbuffers/string.h
  include/flatbuffers/struct.h
  src/bfbs_gen_lua.cpp
  src/bfbs_gen_lua.h
  src/bfbs_namer.h
  src/binary_annotator.h
  tests/flexbuffers_test.h
  tests/json_test.cpp
  tests/json_test.h
  tests/monster_test.h
  tests/optional_scalars_test.cpp
  tests/parser_test.h
  tests/proto_test.h
Labels: c++, codegen, lua

#7659 Fix Rust codegen escaping field in tables.
  dart/test/keyword_test_keyword_test_generated.dart
  src/idl_gen_rust.cpp
  src/idl_namer.h
  tests/KeywordTest/Table2.cs
  tests/keyword_test.fbs
  tests/keyword_test/keyword_test/table_2_generated.rs
  tests/keyword_test/mod.rs
Labels: c#, c++, rust, codegen, dart

#7728 Add include guards around DoNotRequireEofTest
  tests/test.cpp
Labels: c++

#7729 Add CI step to build with -DFLATBUFFERS_NO_FILE_TESTS.
  .github/workflows/build.yml
  tests/test.cpp
Labels: c++, CI

#7719 [Go] Perform empty string check on string fields when packing objects
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Stat.go
Labels: golang, c++, codegen

#7732 Fixed test cases
  src/idl_gen_java.cpp
  tests/DictionaryLookup/LongFloatEntry.java
  tests/DictionaryLookup/LongFloatMap.java
  tests/MyGame/Example/Ability.java
  tests/MyGame/Example/AbilityT.java
  tests/MyGame/Example/ArrayStruct.java
  tests/MyGame/Example/ArrayStructT.java
  tests/MyGame/Example/ArrayTable.java
  tests/MyGame/Example/ArrayTableT.java
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/MonsterT.java
  tests/MyGame/Example/NestedStruct.java
  tests/MyGame/Example/NestedStructT.java
  tests/MyGame/Example/Referrable.java
  tests/MyGame/Example/ReferrableT.java
  tests/MyGame/Example/Stat.java
  tests/MyGame/Example/StatT.java
  tests/MyGame/Example/StructOfStructs.java
  tests/MyGame/Example/StructOfStructsOfStructs.java
  tests/MyGame/Example/StructOfStructsOfStructsT.java
  tests/MyGame/Example/StructOfStructsT.java
  tests/MyGame/Example/Test.java
  tests/MyGame/Example/TestSimpleTableWithEnum.java
  tests/MyGame/Example/TestSimpleTableWithEnumT.java
  tests/MyGame/Example/TestT.java
  tests/MyGame/Example/TypeAliases.java
  tests/MyGame/Example/TypeAliasesT.java
  tests/MyGame/Example/Vec3.java
  tests/MyGame/Example/Vec3T.java
  tests/MyGame/Example2/Monster.java
  tests/MyGame/Example2/MonsterT.java
  tests/MyGame/InParentNamespace.java
  tests/MyGame/InParentNamespaceT.java
  tests/MyGame/MonsterExtra.java
  tests/MyGame/MonsterExtraT.java
  tests/optional_scalars/ScalarStuff.java
  tests/py_test.py
  tests/union_vector/Attacker.java
  tests/union_vector/AttackerT.java
  tests/union_vector/BookReader.java
  tests/union_vector/BookReaderT.java
  tests/union_vector/FallingTub.java
  tests/union_vector/FallingTubT.java
  tests/union_vector/HandFan.java
  tests/union_vector/HandFanT.java
  tests/union_vector/Movie.java
  tests/union_vector/MovieT.java
  tests/union_vector/Rapunzel.java
  tests/union_vector/RapunzelT.java
Labels: python, java, c++, codegen

#7730 [TS] Fix getFullyQualifiedName codegen for typescript
  src/idl_gen_ts.cpp
  tests/ts/arrays_test_complex/arrays_test_complex_generated.js
  tests/ts/arrays_test_complex/arrays_test_complex_generated.ts
  tests/ts/my-game/example/ability.js
  tests/ts/my-game/example/ability.ts
  tests/ts/my-game/example/monster.js
  tests/ts/my-game/example/monster.ts
  tests/ts/my-game/example/referrable.js
  tests/ts/my-game/example/referrable.ts
  tests/ts/my-game/example/stat.js
  tests/ts/my-game/example/stat.ts
  tests/ts/my-game/example/struct-of-structs-of-structs.js
  tests/ts/my-game/example/struct-of-structs-of-structs.ts
  tests/ts/my-game/example/struct-of-structs.js
  tests/ts/my-game/example/struct-of-structs.ts
  tests/ts/my-game/example/test-simple-table-with-enum.js
  tests/ts/my-game/example/test-simple-table-with-enum.ts
  tests/ts/my-game/example/test.js
  tests/ts/my-game/example/test.ts
  tests/ts/my-game/example/type-aliases.js
  tests/ts/my-game/example/type-aliases.ts
  tests/ts/my-game/example/vec3.js
  tests/ts/my-game/example/vec3.ts
  tests/ts/my-game/example2/monster.js
  tests/ts/my-game/example2/monster.ts
  tests/ts/my-game/in-parent-namespace.js
  tests/ts/my-game/in-parent-namespace.ts
  tests/ts/optional-scalars/scalar-stuff.ts
  tests/ts/reflection/enum-val.js
  tests/ts/reflection/enum-val.ts
  tests/ts/reflection/enum.js
  tests/ts/reflection/enum.ts
  tests/ts/reflection/field.js
  tests/ts/reflection/field.ts
  tests/ts/reflection/key-value.js
  tests/ts/reflection/key-value.ts
  tests/ts/reflection/object.js
  tests/ts/reflection/object.ts
  tests/ts/reflection/rpccall.js
  tests/ts/reflection/rpccall.ts
  tests/ts/reflection/schema-file.js
  tests/ts/reflection/schema-file.ts
  tests/ts/reflection/schema.js
  tests/ts/reflection/schema.ts
  tests/ts/reflection/service.js
  tests/ts/reflection/service.ts
  tests/ts/reflection/type.js
  tests/ts/reflection/type.ts
  tests/ts/reflection_generated.js
  tests/ts/reflection_generated.ts
  tests/ts/typescript/object.js
  tests/ts/typescript/object.ts
  tests/ts/typescript_keywords_generated.js
  tests/ts/typescript_keywords_generated.ts
Labels: c++, javascript, typescript, codegen

#7733 Add link to building guide
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI
