Repository google/flatbuffers, pull requests merged in 2022-07, with the labels that each got.

#7377 Fix references to LICENSE file
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#7393 Updated Newtonsoft.Json to 13.0.1
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
Labels: c#

#7381 cpp_generator: comment out unused parameter to avoid warnings
  grpc/src/compiler/cpp_generator.cc
  tests/monster_test.grpc.fb.h
Labels: c++, grpc

#7361 fix(#7360): grpc used deprecated functions
  grpc/examples/go/greeter/client/main.go
Labels: golang, grpc

#7394 `keep-prefix` keeps relative pathing
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_ts.cpp
  src/util.cpp
Labels: c++, javascript, typescript, codegen
