Repository google/flatbuffers, pull requests merged in 2022-05, with the labels that each got.

#7295 Remove span ConstIterator/cbegin()/cend().
  include/flatbuffers/stl_emulation.h
  tests/test.cpp
Labels: c++

#7280 [swift] add 'has<ArrayName>' property to check optional array presence in mes…
  scripts/generate_code.py
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/fuzzer_generated.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/more_defaults_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/vector_has_test_generated.swift
  tests/vector_has_test.fbs
Labels: python, c++, codegen, swift

#7304 Add size check to fix out of bounds read risk
  include/flatbuffers/verifier.h
Labels: c++

#7312 Add explicit return types to lobster generated code
  samples/monster_generated.lobster
  src/idl_gen_lobster.cpp
  tests/monster_test_generated.lobster
  tests/optional_scalars_generated.lobster
Labels: c++, codegen, lobster

#7321 Use keep case for Rust union discriminant type.
  src/idl_gen_rust.cpp
Labels: c++, rust, codegen
