Repository google/flatbuffers, pull requests merged in 2022-03, with the labels that each got.

#7135 Fix 64-bit numeric enum values in typescript
  dart/test/flat_buffers_test.dart
  src/idl_gen_dart.cpp
  src/idl_gen_ts.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/MyGame/Example/LongEnum.cs
  tests/MyGame/Example/LongEnum.go
  tests/MyGame/Example/LongEnum.java
  tests/MyGame/Example/LongEnum.kt
  tests/MyGame/Example/LongEnum.lua
  tests/MyGame/Example/LongEnum.php
  tests/MyGame/Example/LongEnum.py
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Monster.php
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/MonsterT.java
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_extra_my_game_generated.dart
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test/mod.rs
  tests/monster_test/my_game/example/long_enum_generated.rs
  tests/monster_test/my_game/example/monster_generated.rs
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.lobster
  tests/monster_test_generated.py
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_serialize/mod.rs
  tests/monster_test_serialize/my_game/example/long_enum_generated.rs
  tests/monster_test_serialize/my_game/example/monster_generated.rs
  tests/my-game/example/long-enum.ts
  tests/my-game/example/monster.ts
  tests/rust_usage_test/tests/integration_test.rs
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin

#7137 [TS] Escape keywords in typescript object names
  src/idl_gen_ts.cpp
  tests/TypeScriptTest.sh
  tests/tsconfig.json
  tests/typescript_keywords.fbs
Labels: c++, javascript, typescript, codegen, json

#7144 Implement a config based name manager and use it in Rust codegen
  include/flatbuffers/util.h
  src/BUILD.bazel
  src/idl_gen_rust.cpp
  src/namer.h
  src/util.cpp
  tests/test.cpp
Labels: c++, rust, codegen

#7151 Fix missing 'break'
  src/util.cpp
Labels: c++, codegen

#7150 Apply Namer to Go code gen
  src/idl_gen_go.cpp
  src/namer.h
Labels: golang, c++, codegen

#7161 [TS] Add single-file ts codegen & bazel rule for typescript
  BUILD.bazel
  WORKSPACE
  build_defs.bzl
  include/flatbuffers/idl.h
  package.json
  reflection/BUILD.bazel
  src/flatc.cpp
  src/idl_gen_ts.cpp
  tests/BUILD.bazel
  tests/TypeScriptTest.sh
  tests/my-game/example/monster.js
  tests/test_dir/BUILD.bazel
  tests/test_dir/typescript_include.fbs
  tests/test_dir/typescript_transitive_include.fbs
  tests/tsconfig.json
  tests/typescript_keywords.fbs
  ts/BUILD.bazel
  ts/index.ts
  yarn.lock
Labels: c++, javascript, typescript, codegen, json

#7164 Nameroverloads
  src/idl_gen_go.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/namer.h
Labels: golang, python, c++, rust, codegen

#7167 Namersw
  src/idl_gen_go.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/namer.h
Labels: golang, python, c++, rust, codegen, swift

#7168 Make inclusion of header <optional> opt-out via macro
  include/flatbuffers/stl_emulation.h
Labels: c++

#7171 [Lua] Apply Namer to Lua
  CMakeLists.txt
  src/BUILD.bazel
  src/bfbs_gen.h
  src/bfbs_gen_lua.cpp
  src/bfbs_namer.h
  src/idl_gen_go.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_namer.h
  src/namer.h
Labels: golang, python, c++, rust, codegen, swift, lua

#7174 Annotated Flatbuffer Binary
  CMakeLists.txt
  include/flatbuffers/flatc.h
  include/flatbuffers/reflection.h
  src/BUILD.bazel
  src/annotated_binary_text_gen.cpp
  src/annotated_binary_text_gen.h
  src/binary_annotator.cpp
  src/binary_annotator.h
  src/flatc.cpp
  src/reflection.cpp
  tests/annotated_binary/README.md
  tests/annotated_binary/annotated_binary.afb
  tests/annotated_binary/annotated_binary.bfbs
  tests/annotated_binary/annotated_binary.bin
  tests/annotated_binary/annotated_binary.fbs
  tests/annotated_binary/annotated_binary.json
  tests/annotated_binary/annotated_binary_old.afb
  tests/annotated_binary/annotated_binary_old.fbs
Labels: c++, codegen, documentation, json

#7180 Typo in flatc options (warning-as-errors instead of warnings-as-errors)
  src/flatc.cpp
Labels: c++, codegen

#7182 Adds no-includes flags to the swift code generator
  scripts/generate_code.py
  src/idl_gen_swift.cpp
Labels: python, c++, codegen, swift

#7157 Correctly parse lists of enums in Dart generated code
  dart/test/flat_buffers_test.dart
  dart/test/list_of_enums.fbs
  src/idl_gen_dart.cpp
  tests/DartTest.sh
  tests/monster_test_my_game.example_generated.dart
Labels: c++, codegen, dart

#7181 VerifySizePrefixed (reflection::Schema) and GetAnySizePrefixedRoot added
  include/flatbuffers/reflection.h
  src/reflection.cpp
Labels: c++, codegen

#7148 [TS] Fix generation of struct members in object api
  src/idl_gen_ts.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/MyGame/Example/StructOfStructsOfStructs.cs
  tests/MyGame/Example/StructOfStructsOfStructs.go
  tests/MyGame/Example/StructOfStructsOfStructs.java
  tests/MyGame/Example/StructOfStructsOfStructs.kt
  tests/MyGame/Example/StructOfStructsOfStructs.lua
  tests/MyGame/Example/StructOfStructsOfStructs.php
  tests/MyGame/Example/StructOfStructsOfStructs.py
  tests/MyGame/Example/StructOfStructsOfStructsT.java
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test.ts
  tests/monster_test/mod.rs
  tests/monster_test/my_game/example/struct_of_structs_of_structs_generated.rs
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.lobster
  tests/monster_test_generated.py
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_serialize/mod.rs
  tests/monster_test_serialize/my_game/example/struct_of_structs_of_structs_generated.rs
  tests/my-game/example/struct-of-structs-of-structs.ts
  tests/my-game/example/struct-of-structs.ts
  tests/my-game/example/vec3.ts
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin

#7188 Fuzzed binary annotator
  src/annotated_binary_text_gen.cpp
  src/binary_annotator.cpp
  src/binary_annotator.h
  tests/annotated_binary/annotated_binary.afb
  tests/annotated_binary/annotated_binary.bfbs
  tests/annotated_binary/tests/invalid_string_length.afb
  tests/annotated_binary/tests/invalid_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_length_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_scalars_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_strings_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_structs_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_tables_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_unions_cut_short.afb
  tests/annotated_binary/tests/invalid_vtable_field_offset.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size_short.afb
  tests/fuzzer/.gitignore
  tests/fuzzer/CMakeLists.txt
  tests/fuzzer/flatbuffers_annotator_fuzzer.cc
Labels: c++, codegen

#7187 Namerdart
  dart/test/flat_buffers_test.dart
  dart/test/keyword_test_keyword_test_generated.dart
  include/flatbuffers/util.h
  scripts/generate_code.py
  src/idl_gen_dart.cpp
  src/util.cpp
  tests/KeywordTest/KeywordsInTable.cs
  tests/keyword_test.fbs
  tests/keyword_test/keyword_test/keywords_in_table_generated.rs
  tests/monster_extra_my_game_generated.dart
  tests/monster_test_my_game.example_generated.dart
  tests/test.cpp
Labels: python, c#, c++, rust, codegen, dart

#7195 [swift] Add bazel configuration for Swift
  .bazelci/presubmit.yml
  WORKSPACE
  swift/BUILD.bazel
Labels: swift, CI

#7149 [C#] Fix collision of field name and type name
  scripts/generate_code.py
  src/idl_gen_csharp.cpp
  tests/type_field_collsion.fbs
  tests/type_field_collsion/Collision.cs
Labels: python, c#, c++, codegen

#7194 Apply Namer to Java.
  src/idl_gen_java.cpp
  src/idl_namer.h
  src/namer.h
  tests/MyGame/Example/Monster.java
Labels: java, c++, codegen

#7197 Apply Namer prefix/suffix to other generators
  src/idl_gen_dart.cpp
  src/idl_gen_swift.cpp
  src/idl_namer.h
Labels: c++, codegen, swift, dart
