Repository google/flatbuffers, pull requests merged in 2022-04, with the labels that each got.

#7203 [C++] Static assert on Flatbuffers Version
  include/flatbuffers/reflection_generated.h
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/native_type_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#7206 maximize parallel builds in CI
  .github/workflows/build.yml
  .github/workflows/main.yml
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradle/wrapper/gradle-wrapper.properties
Labels: CI

#7193 Add overloads for C# ByteBuffer/FlatBufferBuilder to allow adding vector blocks from ArraySegments or IntPtr
  net/FlatBuffers/ByteBuffer.cs
  net/FlatBuffers/FlatBufferBuilder.cs
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/ByteBufferTests.cs
  tests/FlatBuffers.Test/FlatBufferBuilderTests.cs
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/TypeAliases.cs
  tests/MyGame/MonsterExtra.cs
  tests/union_vector/Movie.cs
Labels: c#, c++, codegen

#7211 Fix for [C++] flatc generates invalid Code in the default constructor for structs, when --cpp-field-case-style is used #7209
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#7213 [C++] generate sorted #include directives
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#7207 code gen flexbuffer verifier
  BUILD.bazel
  CMakeLists.txt
  android/app/src/main/cpp/flatbuffers/CMakeLists.txt
  include/flatbuffers/flex_flat_util.h
  include/flatbuffers/flexbuffers.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/test_cpp17.cpp
  tests/fuzzer/CMakeLists.txt
  tests/monster_test_generated.h
Labels: c++, codegen

#7222 Started to migrate to target_compile_options
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  benchmarks/cpp/flatbuffers/bench_generated.h
  benchmarks/cpp/flatbuffers/fb_bench.cpp
  benchmarks/cpp/raw/raw_bench.cpp
  samples/sample_bfbs.cpp
  tests/test.cpp
Labels: c++, CI

#7202 Adds implementation flag for swift
  include/flatbuffers/idl.h
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/CodeGenerationTests/test_import.fbs
  tests/FlatBuffers.Test.Swift/CodeGenerationTests/test_import_generated.swift
  tests/FlatBuffers.Test.Swift/CodeGenerationTests/test_no_include.fbs
  tests/FlatBuffers.Test.Swift/CodeGenerationTests/test_no_include_generated.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
Labels: python, c++, codegen, swift

#7221 Adds a way to verify/exposes Entities ids
  src/idl_gen_swift.cpp
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/FlatbuffersErrors.swift
  swift/Sources/FlatBuffers/Root.swift
  swift/Sources/FlatBuffers/Verifier.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersVerifierTests.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/union_vector_generated.swift
Labels: c++, codegen, swift

#7208 Create cpp-linter.yml
  .github/workflows/cpp-linter.yml
Labels: CI

#7234 Remove call toascii
  src/annotated_binary_text_gen.cpp
Labels: c++, codegen

#7231 [Kotlin] Update gradle to 7.4.1 and simplify config files.
  .github/workflows/build.yml
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  kotlin/benchmark/build.gradle.kts
  kotlin/build.gradle.kts
  kotlin/flatbuffers-kotlin/build.gradle.kts
  kotlin/gradle.properties
  kotlin/gradle/libs.versions.toml
  kotlin/gradle/wrapper/gradle-wrapper.jar
  kotlin/gradle/wrapper/gradle-wrapper.properties
  kotlin/gradlew
  kotlin/gradlew.bat
  kotlin/settings.gradle
  kotlin/settings.gradle.kts
Labels: CI

#7228 [Swift] Fixes a bug for create function
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/CodeGenerationTests/test_no_include.fbs
  tests/FlatBuffers.Test.Swift/CodeGenerationTests/test_no_include_generated.swift
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
Labels: c++, codegen, swift

#7238 Allow CreateVectorOfStrings() to work with any string-type.
  include/flatbuffers/flatbuffer_builder.h
  tests/test.cpp
Labels: c++

#7236 [Java] Fix key lookup returning null clashing with default value
  scripts/generate_code.py
  src/idl_gen_java.cpp
  tests/DictionaryLookup/LongFloatEntry.java
  tests/DictionaryLookup/LongFloatMap.java
  tests/JavaTest.java
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Referrable.java
  tests/MyGame/Example/Stat.java
  tests/dictionary_lookup.fbs
Labels: python, java, c++, codegen

#7239 set workflows permissions to read-only
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/stale.yml
Labels: CI

#7243 Make Java namespaces keep case by default
  src/idl_gen_java.cpp
Labels: java, c++, codegen

#7246 Add parameter back to EndVector
  python/flatbuffers/builder.py
Labels: python

#7249 Java namer typo
  src/idl_gen_java.cpp
Labels: java, c++, codegen

#7250 [optimization] Keep the underlying storage capacity when clearing the FlatBufferBuilder
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
Labels: swift

#7252 Add test for nested buffer verifier
  CMakeLists.txt
  tests/test.cpp
Labels: c++

#7255 Swift update performance benchmark infrastructure
  tests/FlatBuffers.Benchmarks.swift/Package.swift
  tests/FlatBuffers.Benchmarks.swift/Sources/FlatBuffers.Benchmarks.swift/main.swift
Labels: swift

#7254 Specialize CreateVector with std::initializer_list
  include/flatbuffers/flatbuffer_builder.h
  tests/test.cpp
Labels: c++

#7256 Handle +/-inf in protos
  src/idl_parser.cpp
  tests/prototest/test.golden
  tests/prototest/test.proto
  tests/prototest/test_include.golden
  tests/prototest/test_suffix.golden
  tests/prototest/test_union.golden
  tests/prototest/test_union_include.golden
  tests/prototest/test_union_suffix.golden
Labels: c++, codegen

#7253 [performance] [swift] Add systematic inlining
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
Labels: swift

#7257 Added Swift to supported languages
  readme.md
Labels: documentation

#7266 fix include order
  include/flatbuffers/verifier.h
  src/binary_annotator.h
Labels: c++, codegen

#7268 Rust: fix a name conflict when building with "no_std" feature
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/verifier.rs
Labels: rust

#7274 [swift] Make swift module public
  swift/BUILD.bazel
Labels: swift

#7245 Namerkot
  src/idl_gen_kotlin.cpp
  src/idl_namer.h
  src/namer.h
Labels: c++, codegen, kotlin
