Repository google/flatbuffers, pull requests merged in 2022-02, with the labels that each got.

#6992 Provide a short help text and default in error case
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
Labels: c++, codegen

#7056 attempt to remove appveyor
  .github/labeler.yml
  appveyor.yml
  conan/build.py
  readme.md
  tests/RustTest.bat
Labels: python, documentation, CI

#7058 clang format on codebase
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/table.h
  include/flatbuffers/util.h
  include/flatbuffers/verifier.h
  src/idl_gen_cpp.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  src/reflection.cpp
  tests/test.cpp
Labels: python, c++, javascript, rust, typescript, codegen, swift

#7059 Fixed long cast to int in flexbufferbuilder.java
  java/com/google/flatbuffers/FlexBuffersBuilder.java
Labels: java

#7063 Updates swift gen licence for grpc code
  grpc/src/compiler/swift_generator.h
Labels: c++, grpc

#7066 add xmlns to .Net
  net/FlatBuffers/FlatBuffers.csproj
Labels: c#

#7067 omit type annotations for dart local variables
  dart/lib/flat_buffers.dart
Labels: dart

#7069 more omit type annotations for dart local variables
  dart/lib/flat_buffers.dart
Labels: dart

#7070 one last dart omit local
  dart/lib/flat_buffers.dart
Labels: dart

#7072 Fixed default value of bool in struct for Swift
  scripts/generate_code.py
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/SwiftTest.sh
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/MutatingBool_generated.swift
  tests/MutatingBool.fbs
Labels: python, c++, codegen, swift

#7073 removed BSD-3-Clause license and Zlib licenses
  android/AndroidManifest.xml
  dart/LICENSE
  grpc/src/compiler/BUILD.bazel
  grpc/src/compiler/config.h
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/cpp_generator.h
  grpc/src/compiler/go_generator.cc
  grpc/src/compiler/go_generator.h
  grpc/src/compiler/python_generator.h
  grpc/src/compiler/schema_interface.h
  grpc/src/compiler/swift_generator.h
  grpc/src/compiler/ts_generator.h
  java/com/google/flatbuffers/Utf8Safe.java
Labels: java, c++, grpc

#7075 update C++ generator to emit scoped enums in vector of unions
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#7077 skip generating reflection.fbs in generate_scripts
  CMakeLists.txt
  scripts/generate_code.py
Labels: python

#7076 fixed comparator for native_inline
  dart/test/flat_buffers_test.dart
  src/idl_gen_cpp.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Monster.php
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/MonsterT.java
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test.bfbs
  tests/monster_test.fbs
  tests/monster_test.schema.json
  tests/monster_test/my_game/example/monster_generated.rs
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_generated.lobster
  tests/monster_test_generated.py
  tests/monster_test_my_game.example_generated.dart
  tests/monster_test_serialize/my_game/example/monster_generated.rs
  tests/monsterdata_test.json
  tests/monsterdata_test.mon
  tests/my-game/example/monster.ts
  tests/rust_usage_test/tests/integration_test.rs
Labels: golang, python, java, c#, c++, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin

#7012 fix go_test implement error
  grpc/tests/go_test.go
Labels: golang, grpc

#7079 replace framework include of flatbuffers
  grpc/src/compiler/java_generator.cc
Labels: c++, grpc

#7080 rust: Bump thiserror version and remove git dependency
  rust/flatbuffers/Cargo.toml
Labels: rust

#7084 Add Parsing Completed function for Rust
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_rust.cpp
Labels: c++, rust, codegen

#7086 [JS] Browser compatible imports
  ts/builder.ts
  ts/byte-buffer.ts
  ts/flatbuffers.ts
  ts/flexbuffers.ts
  ts/flexbuffers/bit-width-util.ts
  ts/flexbuffers/builder.ts
  ts/flexbuffers/reference-util.ts
  ts/flexbuffers/reference.ts
  ts/flexbuffers/stack-value.ts
  ts/flexbuffers/value-type-util.ts
  ts/types.ts
Labels: typescript

#7094 explicitly defined std::allocator
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#7095 [C++] Add CreateVector overload to accept array like
  include/flatbuffers/flatbuffer_builder.h
  tests/test.cpp
Labels: c++

#7099 [TS] Refactor away circular ref
  ts/flexbuffers/reference-util.ts
  ts/flexbuffers/reference.ts
Labels: typescript

#7093 Swift FlatBufferBuilder.sizedByteArray to ByteBuffer.toArray()
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
Labels: swift

#7092 Remove @ExperimentalUnsignedTypes annotation from kotlin code generator.
  src/idl_gen_kotlin.cpp
  tests/MyGame/Example/Ability.kt
  tests/MyGame/Example/Any.kt
  tests/MyGame/Example/AnyAmbiguousAliases.kt
  tests/MyGame/Example/AnyUniqueAliases.kt
  tests/MyGame/Example/Color.kt
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Race.kt
  tests/MyGame/Example/Referrable.kt
  tests/MyGame/Example/Stat.kt
  tests/MyGame/Example/StructOfStructs.kt
  tests/MyGame/Example/Test.kt
  tests/MyGame/Example/TestSimpleTableWithEnum.kt
  tests/MyGame/Example/TypeAliases.kt
  tests/MyGame/Example/Vec3.kt
  tests/MyGame/Example2/Monster.kt
  tests/MyGame/InParentNamespace.kt
  tests/MyGame/MonsterExtra.kt
  tests/optional_scalars/OptionalByte.kt
  tests/optional_scalars/ScalarStuff.kt
  tests/union_vector/Attacker.kt
  tests/union_vector/BookReader.kt
  tests/union_vector/Character.kt
  tests/union_vector/FallingTub.kt
  tests/union_vector/Gadget.kt
  tests/union_vector/HandFan.kt
  tests/union_vector/Movie.kt
  tests/union_vector/Rapunzel.kt
Labels: c++, codegen, kotlin

#7104 Go optional scalars
  src/idl_gen_go.cpp
  src/idl_parser.cpp
  tests/GoTest.sh
  tests/go_test.go
  tests/optional_scalars/OptionalByte.go
  tests/optional_scalars/ScalarStuff.go
Labels: golang, c++, codegen

#7108 Fix minor typo in WhitePaper.md
  docs/source/WhitePaper.md
Labels: documentation

#7115 [TS] Fix generation of reserved words in object api (#7106)
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7107 Add deps attribute to flatbuffer_cc_library
  build_defs.bzl
  tests/BUILD.bazel
  tests/include_build_test.cc
  tests/included_test.fbs
  tests/includer_test.fbs
Labels: c++

#7114 add the missing checkNullConditionnal code in the "GenObjApi" function
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7120 Trigger fuzzing CI only on relevant changes
  .github/workflows/main.yml
Labels: CI

#7127 Use ConvertCase instead of Make{Upper,Lower,Snake} implementations
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  src/bfbs_gen.h
  src/bfbs_gen_lua.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_go.cpp
  src/idl_gen_java.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_lobster.cpp
  src/idl_gen_lua.cpp
  src/idl_gen_php.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  src/util.cpp
  tests/test.cpp
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, kotlin

#7131 Replaced ToDasherCase with ConvertCase
  grpc/src/compiler/ts_generator.cc
  include/flatbuffers/code_generators.h
  include/flatbuffers/util.h
  src/code_generators.cpp
  src/idl_gen_ts.cpp
  src/util.cpp
  tests/optional-scalars/optional-byte.ts
  tests/optional-scalars/scalar-stuff.ts
  tests/optional_scalars.ts
Labels: c++, javascript, grpc, typescript, codegen

#7130 [Rust] Add length checks to arrays and vectors.
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/array.rs
  rust/flatbuffers/src/vector.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: rust

#7133 Prevent name clash
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
Labels: c++, codegen
