Repository google/flatbuffers, pull requests merged in 2022-06, with the labels that each got.

#7269 Started implementation for private flags in rust
  include/flatbuffers/idl.h
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_rust.cpp
  src/idl_parser.cpp
  tests/private_annotation_test.fbs
  tests/private_annotation_test/ab_generated.rs
  tests/private_annotation_test/annotations_generated.rs
  tests/private_annotation_test/any_generated.rs
  tests/private_annotation_test/game_generated.rs
  tests/private_annotation_test/mod.rs
  tests/private_annotation_test/object_generated.rs
  tests/test.cpp
Labels: python, c++, rust, codegen

#7318 Implement optional scalars for Python
  python/flatbuffers/builder.py
  scripts/generate_code.py
  src/idl_gen_python.cpp
  src/idl_parser.cpp
  tests/optional_scalars/OptionalByte.py
  tests/optional_scalars/ScalarStuff.py
  tests/optional_scalars/__init__.py
  tests/py_test.py
Labels: python, c++, codegen

#7281 [Go] Replace deprecated package io/ioutil
  docs/source/GoUsage.md
  tests/go_test.go
Labels: golang, documentation

#7298 [TS] fix ts import path issue
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7325 [golang] Create missing namespace directory structure (#7324)
  src/idl_gen_go.cpp
Labels: golang, c++, codegen

#7340 [TS] Don't generate self-imports with --ts-flat-file
  src/idl_gen_ts.cpp
  typescript.bzl
Labels: c++, javascript, typescript, codegen

#7351 Revert "Implement optional scalars for JSON"
  src/idl_gen_text.cpp
  src/idl_parser.cpp
  tests/optional_scalars.json
  tests/optional_scalars_defaults.json
  tests/test.cpp
Labels: c++, codegen, json

#7348 Only include direct included files
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
Labels: c++, codegen

#7352 Reenable optional json
  src/idl_gen_text.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/optional_scalars.json
  tests/optional_scalars_defaults.json
  tests/test.cpp
Labels: c++, codegen, json

#7359 [Dart] Implement putBool to fix errors when serializing structs with bools
  dart/lib/flat_buffers.dart
  dart/test/bool_structs.fbs
  dart/test/flat_buffers_test.dart
  tests/DartTest.sh
Labels: dart
