Repository google/flatbuffers, pull requests merged in 2022-08, with the labels that each got.

#7403 Compilation issue msys2
  src/util.cpp
Labels: c++, codegen

#7401 Add missing const
  include/flatbuffers/idl.h
Labels: c++

#7271 [TS] fix incorrect reverse order when writting array of structs
  tests/JavaScriptTest.js
  ts/builder.ts
Labels: javascript, typescript

#7343 grpc/compiler: Respect filename suffix and extension during code generation
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/cpp_generator.h
  grpc/src/compiler/schema_interface.h
  scripts/generate_code.py
  src/idl_gen_grpc.cpp
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.h
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test.grpc.fb.cc
  tests/monster_test_suffix/monster_test.grpc.fb.h
  tests/monster_test_suffix/monster_test_suffix.hpp
Labels: python, c++, grpc, codegen

#7350 Fix error msg format when generate GRPC failed
  src/flatc.cpp
Labels: c++, codegen

#7406 Revert "grpc/compiler: Respect filename suffix and extension during code generation"
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/cpp_generator.h
  grpc/src/compiler/schema_interface.h
  scripts/generate_code.py
  src/idl_gen_grpc.cpp
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.h
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test.grpc.fb.cc
  tests/monster_test_suffix/monster_test.grpc.fb.h
  tests/monster_test_suffix/monster_test_suffix.hpp
Labels: python, c++, grpc, codegen

#7409 Compilation issue msys2 #7399
  src/util.cpp
Labels: c++, codegen

#7400 [TS] Use TextEncoder and TextDecoder
  ts/builder.ts
  ts/byte-buffer.ts
Labels: typescript

#7408 Add FLATBUFFERS_STRICT_MODE
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  CMakeLists.txt
  docs/source/Building.md
Labels: documentation, CI

#7405 Add tests for flatc
  tests/flatc/bar/bar.fbs
  tests/flatc/bar/baz/baz.fbs
  tests/flatc/flatc_cpp_tests.py
  tests/flatc/flatc_test.py
  tests/flatc/foo.fbs
  tests/flatc/main.py
Labels: python

#7414 Rebased: grpc/compiler: Respect filename suffix and extension during code generation
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/cpp_generator.h
  grpc/src/compiler/schema_interface.h
  scripts/generate_code.py
  src/idl_gen_grpc.cpp
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.h
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test.grpc.fb.cc
  tests/monster_test_suffix/monster_test.grpc.fb.h
  tests/monster_test_suffix/monster_test_suffix.hpp
Labels: python, c++, grpc, codegen

#7411 Moved TypeScriptTests to python script
  .github/workflows/build.yml
  docs/source/TypeScriptUsage.md
  package.json
  tests/TestAll.sh
  tests/TypeScriptTest.bat
  tests/TypeScriptTest.py
  tests/TypeScriptTest.sh
  tests/monster_test.js
  tests/my-game/example/struct-of-structs.js
  tests/my-game/example/vec3.js
Labels: python, javascript, documentation, json, CI

#7353 [golang] Add support for text parsing with json struct tags
  src/idl_gen_go.cpp
  tests/MyGame/Example/Ability.go
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/MyGame/Example/StructOfStructs.go
  tests/MyGame/Example/StructOfStructsOfStructs.go
  tests/MyGame/Example/Test.go
  tests/MyGame/Example/TestSimpleTableWithEnum.go
  tests/MyGame/Example/TypeAliases.go
  tests/MyGame/Example/Vec3.go
  tests/go_test.go
  tests/optional_scalars/ScalarStuff.go
Labels: golang, c++, codegen

#7421 [golang] Perform keyword escaping after case conversion
  src/idl_gen_go.cpp
Labels: golang, c++, codegen

#7415 [C++] Vector of Tables equality
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/test.cpp
Labels: c++, codegen

#7423 [C++] avoid zero-as-null-pointer warning
  include/flatbuffers/idl.h
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test2_generated.h
  tests/test.cpp
  tests/test_assert.cpp
  tests/test_assert.h
Labels: c++, codegen

#7424 [C++] Make template parameter in stl_emulation.h more explicit to avoid conflicts with cpprestsdk U macro
  include/flatbuffers/stl_emulation.h
Labels: c++

#7428 [C++] Set StructDef::has_key property when deserializing from binary …
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#7430 Remove auto including locale functions
  include/flatbuffers/base.h
Labels: c++

#7436 Update TypeScriptTest.py to work better cross platform
  tests/TypeScriptTest.py
Labels: python

#7437 Add flatc python tests to CI
  .github/workflows/build.yml
  tests/flatc/flatc_test.py
  tests/flatc/main.py
Labels: python, CI

#7434 Fix FlexBuffers JS/TS bug
  tests/JavaScriptFlexBuffersTest.js
  ts/flexbuffers/reference-util.ts
  ts/flexbuffers/reference.ts
Labels: javascript, typescript

#7438 Add checks to verifier
  include/flatbuffers/verifier.h
Labels: c++

#7432 [TypeScript] Fix namespaceless schema generation
  src/idl_gen_ts.cpp
  tests/flatc/flatc_test.py
  tests/flatc/flatc_ts_tests.py
  tests/flatc/foo_with_ns.fbs
  tests/flatc/main.py
  tests/monster_test_generated.ts
  tests/optional_scalars_generated.ts
  tests/union_vector/union_vector_generated.ts
Labels: python, c++, javascript, typescript, codegen

#7435 make_span overloads for pointer to vector (#7374)
  include/flatbuffers/vector.h
  tests/test.cpp
Labels: c++

#7440 Define minimum buffer size
  include/flatbuffers/base.h
  include/flatbuffers/verifier.h
  tests/test.cpp
Labels: c++

#7441 [C#] Rework how sorted vectors are looked up
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Referrable.cs
  tests/MyGame/Example/Stat.cs
Labels: c#, c++, codegen

#7443 Stop using __has_trivial_copy on recent clang versions.
  tests/test.cpp
Labels: c++

#7446 Partial support for --ts-flat-files and --gen-all
  grpc/examples/ts/greeter/src/models/hello-reply.ts
  grpc/examples/ts/greeter/src/models/hello-request.ts
  src/flatc.cpp
  src/idl_gen_ts.cpp
  tests/flatc/bar/baz/baz.fbs
  tests/flatc/flatc_test.py
  tests/flatc/flatc_ts_tests.py
  tests/monster_test_generated.ts
  tests/my-game/example/ability.ts
  tests/my-game/example/any-ambiguous-aliases.ts
  tests/my-game/example/any-unique-aliases.ts
  tests/my-game/example/any.ts
  tests/my-game/example/color.ts
  tests/my-game/example/long-enum.ts
  tests/my-game/example/monster.ts
  tests/my-game/example/race.ts
  tests/my-game/example/referrable.ts
  tests/my-game/example/stat.ts
  tests/my-game/example/struct-of-structs-of-structs.ts
  tests/my-game/example/struct-of-structs.ts
  tests/my-game/example/test-simple-table-with-enum.ts
  tests/my-game/example/test.ts
  tests/my-game/example/type-aliases.ts
  tests/my-game/example/vec3.ts
  tests/my-game/example2/monster.ts
  tests/my-game/in-parent-namespace.ts
  tests/optional-scalars/optional-byte.ts
  tests/optional-scalars/scalar-stuff.ts
  tests/optional_scalars_generated.ts
  tests/union_vector/attacker.ts
  tests/union_vector/book-reader.ts
  tests/union_vector/character.ts
  tests/union_vector/falling-tub.ts
  tests/union_vector/gadget.ts
  tests/union_vector/hand-fan.ts
  tests/union_vector/movie.ts
  tests/union_vector/rapunzel.ts
  tests/union_vector/union_vector_generated.ts
Labels: python, c++, javascript, grpc, typescript, codegen

#7212 Add some extra warnings, tested on GCC 9.4.0
  CMakeLists.txt
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/go_generator.cc
  grpc/src/compiler/java_generator.cc
  grpc/src/compiler/python_generator.cc
  grpc/src/compiler/swift_generator.cc
  grpc/src/compiler/ts_generator.cc
  src/bfbs_gen.h
  src/code_generators.cpp
  src/flatc.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_go.cpp
  src/idl_gen_java.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_parser.cpp
  src/reflection.cpp
  src/util.cpp
  tests/cpp17/test_cpp17.cpp
  tests/fuzzer/test_init.h
  tests/test.cpp
  tests/test_builder.cpp
Labels: golang, python, java, c++, rust, grpc, codegen, swift, dart, json, kotlin

#7450 Generate SLSA signatures for Released zip files
  .github/workflows/build.yml
  docs/source/Building.md
Labels: documentation, CI

#7453 Change to GetTypeName
  src/idl_gen_ts.cpp
  tests/ts/ts-flat-files/monster_test_generated.ts
Labels: c++, javascript, typescript, codegen

#7455 Group anonymous namespaces
  src/code_generators.cpp
  src/idl_parser.cpp
  src/reflection.cpp
  src/util.cpp
Labels: c++, codegen

#7454 Remove old GRPC bash script and convert to python3
  .github/workflows/build.yml
  grpc/examples/generate.sh
  grpc/examples/ts/greeter/src/greeter_generated.ts
  scripts/check-grpc-generated-code.py
  scripts/check-grpc-generated-code.sh
  scripts/generate_code.py
  scripts/generate_grpc_examples.py
  scripts/util.py
Labels: python, grpc, typescript, CI

#7459 [C++] Disabling unpackto optimization
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test2_generated.h
Labels: c++, codegen

#7456 Reworked keep prefix
  .github/workflows/build.yml
  src/idl_gen_cpp.cpp
  tests/flatc/bar/bar_with_foo.fbs
  tests/flatc/flatc_cpp_tests.py
  tests/flatc/flatc_test.py
  tests/flatc/main.py
Labels: python, c++, codegen, CI

#7462 Flatbuffers Version 2.0.7
  CHANGELOG.md
  CMake/Version.cmake
  include/flatbuffers/base.h
  include/flatbuffers/reflection_generated.h
  samples/monster_generated.h
  scripts/generate_code.py
  tests/MyGame/Example/Ability.lua
  tests/MyGame/Example/Any.lua
  tests/MyGame/Example/AnyAmbiguousAliases.lua
  tests/MyGame/Example/AnyUniqueAliases.lua
  tests/MyGame/Example/Color.lua
  tests/MyGame/Example/LongEnum.lua
  tests/MyGame/Example/Monster.lua
  tests/MyGame/Example/Race.lua
  tests/MyGame/Example/Referrable.lua
  tests/MyGame/Example/Stat.lua
  tests/MyGame/Example/StructOfStructs.lua
  tests/MyGame/Example/StructOfStructsOfStructs.lua
  tests/MyGame/Example/Test.lua
  tests/MyGame/Example/TestSimpleTableWithEnum.lua
  tests/MyGame/Example/TypeAliases.lua
  tests/MyGame/Example/Vec3.lua
  tests/MyGame/Example2/Monster.lua
  tests/MyGame/InParentNamespace.lua
  tests/MyGame/OtherNameSpace/FromInclude.lua
  tests/MyGame/OtherNameSpace/TableB.lua
  tests/MyGame/OtherNameSpace/Unused.lua
  tests/TableA.lua
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_bfbs_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/native_type_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: python, c++, documentation, lua

#7469 Use schema include name for keep-prefix
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
Labels: c++, codegen

#7470 [Java] Shallow unused return value in Pack method
  src/idl_gen_java.cpp
  tests/MyGame/Example/Monster.java
Labels: java, c++, codegen

#7474 Disable RTTI and rework use in idl_gen_ts.cpp
  CMakeLists.txt
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7475 Use type traits for specialization
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7477 [C++] Fixed crash when copying table with empty shared strings
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#7476 Version number in file package.json updated to 2.0.7
  package.json
Labels: json

#7480 Include <array> head in stl_emulation.h
  .github/workflows/build.yml
  CMakeLists.txt
  include/flatbuffers/stl_emulation.h
Labels: c++, CI

#7483 Fix typos
  dart/lib/src/builder.dart
  dart/lib/src/reference.dart
  include/flatbuffers/base.h
  include/flatbuffers/buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/stl_emulation.h
  include/flatbuffers/util.h
  include/flatbuffers/vector_downward.h
  include/flatbuffers/verifier.h
  java/com/google/flatbuffers/FlexBuffersBuilder.java
  tests/test.cpp
  ts/builder.ts
Labels: java, c++, typescript, dart

#7487 Refactor test.cpp
  CMakeLists.txt
  tests/BUILD.bazel
  tests/evolution_test.cpp
  tests/evolution_test.h
  tests/flexbuffers_test.cpp
  tests/flexbuffers_test.h
  tests/fuzz_test.cpp
  tests/fuzz_test.h
  tests/is_quiet_nan.h
  tests/json_test.cpp
  tests/json_test.h
  tests/monster_test.cpp
  tests/monster_test.h
  tests/optional_scalars_test.cpp
  tests/optional_scalars_test.h
  tests/parser_test.cpp
  tests/parser_test.h
  tests/proto_test.cpp
  tests/proto_test.h
  tests/reflection_test.cpp
  tests/reflection_test.h
  tests/test.cpp
  tests/util_test.cpp
  tests/util_test.h
Labels: c++

#7479 [C++] support `native_inline` attribute for vector of tables
  CMakeLists.txt
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/native_inline_table_test.fbs
  tests/native_inline_table_test_generated.h
  tests/test.cpp
Labels: c++, codegen

#7489 C++: Add option to skip verifying nested flatbuffers
  include/flatbuffers/verifier.h
  tests/test.cpp
Labels: c++

#7449 [TS/JS] Add rollup and config to generate iife flatbuffers bundle
  .github/workflows/build.yml
  package.json
  rollup.config.js
  yarn.lock
Labels: javascript, json, CI

#7488 Namer applied to Typescript generator
  src/idl_gen_ts.cpp
  src/idl_namer.h
Labels: c++, javascript, typescript, codegen

#7490 Verifier Refinements
  include/flatbuffers/verifier.h
Labels: c++

#7494 Disable Android Build
  .github/workflows/build.yml
Labels: CI

#7497 Updates cocoapods version
  swift/FlatBuffers.podspec
Labels: swift

#7498 [ISSUE-6268] returns NaN insteadof nan
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen
