Repository google/flatbuffers, pull requests merged in 2022-01, with the labels that each got.

#6998 [TS/JS] BigInt implementation
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/JavaScriptTest.js
  tests/TypeScriptTest.bat
  tests/TypeScriptTest.sh
  tests/my-game/example/monster.js
  tests/my-game/example/monster.ts
  tests/my-game/example/referrable.js
  tests/my-game/example/referrable.ts
  tests/my-game/example/stat.js
  tests/my-game/example/stat.ts
  tests/my-game/example/type-aliases.js
  tests/my-game/example/type-aliases.ts
  tests/optional_scalars/scalar-stuff.js
  tests/optional_scalars/scalar-stuff.ts
  tests/union_vector/union_vector.js
  ts/builder.ts
  ts/byte-buffer.ts
  ts/flatbuffers.ts
  ts/flexbuffers/reference-util.ts
  ts/flexbuffers/reference.ts
  ts/long.ts
Labels: c++, javascript, typescript, codegen

#6880 Add initial C# vector of unions support to the documentation.
  docs/source/Tutorial.md
Labels: documentation

#7018 Added verifier alignment checking to table fields
  include/flatbuffers/reflection_generated.h
  include/flatbuffers/table.h
  include/flatbuffers/verifier.h
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  src/reflection.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#6993 Make flatbuffer builder deterministic
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#6989 rust: Allow for usage of flatbuffers in #![no_std] environment
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/src/array.rs
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/endian_scalar.rs
  rust/flatbuffers/src/follow.rs
  rust/flatbuffers/src/lib.rs
  rust/flatbuffers/src/primitives.rs
  rust/flatbuffers/src/push.rs
  rust/flatbuffers/src/vector.rs
  rust/flatbuffers/src/verifier.rs
  rust/flatbuffers/src/vtable_writer.rs
  tests/RustTest.sh
  tests/rust_usage_test/Cargo.toml
  tests/rust_usage_test/tests/integration_test.rs
Labels: rust

#6983 chore: dart 2.0.5 release changes
  dart/CHANGELOG.md
  dart/README.md
  dart/pubspec.yaml
Labels: documentation

#7031 [C++] Emit include for bfbs-gen-embed
  src/idl_gen_cpp.cpp
  tests/monster_test_bfbs_generated.h
Labels: c++, codegen

#7034 Add --warnings-as-errors to flatc compiler.
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_parser.cpp
  tests/test.cpp
Labels: c++, codegen

#7036 Use actions/checkout@v2, which fixes security vulnerability.
  .github/workflows/build.yml
Labels: CI

#7037 Fix comment with line orders - Rust should be last.
  include/flatbuffers/idl.h
Labels: c++

#7041 'flattest': Add --test_path option
  tests/test.cpp
Labels: c++

#7042 Use `${PYTHON_EXECUTABLE}` instead of `py` in cmake
  CMakeLists.txt
  scripts/generate_code.py
Labels: python

#6871 Include a SizePrefixed..HasIdentifier for c++.
  include/flatbuffers/reflection_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#7047 [ts] Builder incorrectly serializing empty strings
  ts/builder.ts
Labels: typescript

#5988 [C++] Support C++ object copies
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/test.cpp
Labels: c++, codegen

#7046 Convert flatbuffers_version_string to inline function
  CMakeLists.txt
  docs/source/Building.md
  grpc/src/compiler/java_generator.cc
  include/flatbuffers/flatbuffers.h
Labels: c++, grpc, documentation

#7051 Fixes a bug where bools arent being nil when marked optional
  src/idl_gen_swift.cpp
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
Labels: c++, codegen, swift
