Repository google/flatbuffers, pull requests merged in 2022-10, with the labels that each got.

#7568 Add support for metadata attributes for enum values (#7567)
  include/flatbuffers/idl.h
  include/flatbuffers/reflection_generated.h
  python/flatbuffers/reflection/EnumVal.py
  reflection/reflection.fbs
  src/idl_parser.cpp
  tests/flatc/enum_val_attributes.fbs
  tests/flatc/flatc_schema_tests.py
  tests/flatc/flatc_test.py
  tests/flatc/main.py
Labels: python, c++, codegen

#7570 Update documentation to mention enum value attributes
  docs/source/Grammar.md
  docs/source/Schemas.md
Labels: documentation

#7575 Turn on clippy for Rust and fix lints for non-generated code
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/endian_scalar.rs
  rust/flexbuffers/src/buffer.rs
  rust/flexbuffers/src/builder/map.rs
  rust/flexbuffers/src/builder/ser.rs
  rust/flexbuffers/src/builder/vector.rs
  rust/flexbuffers/src/lib.rs
  rust/flexbuffers/src/reader/mod.rs
  samples/sample_binary.rs
  tests/RustTest.sh
  tests/rust_usage_test/bin/flatbuffers_alloc_check.rs
  tests/rust_usage_test/bin/monster_example.rs
  tests/rust_usage_test/outdir/build.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: rust

#7585 Fix #7580 by documenting union schema evolution rules
  docs/source/Schemas.md
Labels: documentation

#7571 #ifndef FLATBUFFERS_NO_FILE_TEST guard some test definitions
  tests/test.cpp
Labels: c++

#7574 Update Rust version
  rust/flatbuffers/Cargo.toml
Labels: rust

#7553 Rust fix compilation for no_std targets #2
  rust/flatbuffers/Cargo.toml
  rust/flatbuffers/build.rs
  rust/flatbuffers/src/builder.rs
  rust/flatbuffers/src/lib.rs
  rust/flatbuffers/src/verifier.rs
  tests/RustTest.bat
  tests/RustTest.sh
  tests/rust_no_std_compilation_test/.cargo/config.toml
  tests/rust_no_std_compilation_test/Cargo.toml
  tests/rust_no_std_compilation_test/src/main.rs
  tests/rust_usage_test/Cargo.toml
Labels: rust

#7596 Fix LongEnum definitions
  java/pom.xml
  src/idl_gen_java.cpp
  tests/MyGame/Example/LongEnum.java
Labels: java, c++, codegen

#7595 Make type conversions explicit.
  java/pom.xml
  src/idl_gen_java.cpp
  tests/MyGame/Example/StructOfStructs.java
  tests/MyGame/Example/StructOfStructsOfStructs.java
Labels: java, c++, codegen

#7586 [vector] Allow to iterate with mutables
  include/flatbuffers/array.h
  include/flatbuffers/buffer.h
  include/flatbuffers/vector.h
  tests/monster_test.cpp
Labels: c++

#7581 [TS] Add support for fixed length arrays on Typescript (#5864) (#7021)
  .gitignore
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/ts/JavaScriptComplexArraysTest.js
  tests/ts/TypeScriptTest.py
  tests/ts/arrays_test_complex/arrays_test_complex.fbs
  tests/ts/arrays_test_complex/arrays_test_complex_generated.js
  tests/ts/arrays_test_complex/arrays_test_complex_generated.ts
  tests/ts/reflection/enum-val.js
  tests/ts/reflection/enum-val.ts
  tests/ts/reflection_generated.js
  tests/ts/reflection_generated.ts
  tests/ts/tsconfig.json
  tests/ts/union_vector/movie.ts
Labels: python, c++, javascript, typescript, codegen, json

#7606 Update dart golden files
  dart/test/bool_structs_generated.dart
  dart/test/list_of_enums_generated.dart
  dart/test/monster_test.fbs
  dart/test/monster_test_my_game.example_generated.dart
  dart/test/monsterdata_test.mon
Labels: dart

#7608 Add CreateSharedString to python builder
  python/flatbuffers/builder.py
  tests/py_test.py
Labels: python

#7565 python: object generation prefix and suffix
  src/idl_gen_python.cpp
Labels: python, c++, codegen
