Repository google/flatbuffers, pull requests merged in 2023-03, with the labels that each got.

#7832 Add Code Generator for idl_gen_fbs to parse .proto files
  include/flatbuffers/idl.h
  scripts/generate_code.py
  src/BUILD.bazel
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_fbs.h
Labels: python, c++, codegen

#7842 [CS] Naming collision if field has same name as table and used as key
  src/idl_gen_csharp.cpp
  tests/union_value_collision.fbs
  tests/union_value_collsion/union_value_collision_generated.cs
Labels: c#, c++, codegen

#7848 Add a --java-package-prefix option to flatc
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_java.cpp
Labels: java, c++, codegen

#7840 [Android][Kotlin] fixed build after decomission of jcenter and gradle update
  android/.project
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/cpp/generated/animal_generated.h
  android/app/src/main/java/generated/com/fbs/app/Animal.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  kotlin/benchmark/build.gradle.kts
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlexBuffersBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/JsonBenchmark.kt
  kotlin/build.gradle.kts
  kotlin/gradle/libs.versions.toml
  kotlin/gradle/wrapper/gradle-wrapper.properties
Labels: c++, kotlin

#7822 TS/JS: Export object based classes on entry
  src/idl_gen_ts.cpp
  tests/ts/arrays_test_complex/arrays_test_complex_generated.cjs
  tests/ts/arrays_test_complex/my-game/example.d.ts
  tests/ts/arrays_test_complex/my-game/example.js
  tests/ts/arrays_test_complex/my-game/example.ts
  tests/ts/monster_test.d.ts
  tests/ts/monster_test.js
  tests/ts/monster_test.ts
  tests/ts/monster_test_generated.cjs
  tests/ts/my-game.d.ts
  tests/ts/my-game.js
  tests/ts/my-game.ts
  tests/ts/my-game/example.d.ts
  tests/ts/my-game/example.js
  tests/ts/my-game/example.ts
  tests/ts/my-game/example2.d.ts
  tests/ts/my-game/example2.js
  tests/ts/my-game/example2.ts
  tests/ts/my-game/other-name-space.d.ts
  tests/ts/my-game/other-name-space.js
  tests/ts/my-game/other-name-space.ts
  tests/ts/reflection.d.ts
  tests/ts/reflection.js
  tests/ts/reflection.ts
  tests/ts/typescript_keywords_generated.cjs
  tests/ts/union_vector/union_vector.d.ts
  tests/ts/union_vector/union_vector.js
  tests/ts/union_vector/union_vector.ts
  tests/ts/union_vector/union_vector_generated.cjs
Labels: c++, javascript, typescript, codegen

#7851 Add Java reflection bindings to the distribution
  java/src/main/java/com/google/flatbuffers/reflection/AdvancedFeatures.java
  java/src/main/java/com/google/flatbuffers/reflection/BaseType.java
  java/src/main/java/com/google/flatbuffers/reflection/Enum.java
  java/src/main/java/com/google/flatbuffers/reflection/EnumVal.java
  java/src/main/java/com/google/flatbuffers/reflection/Field.java
  java/src/main/java/com/google/flatbuffers/reflection/KeyValue.java
  java/src/main/java/com/google/flatbuffers/reflection/Object.java
  java/src/main/java/com/google/flatbuffers/reflection/RPCCall.java
  java/src/main/java/com/google/flatbuffers/reflection/Schema.java
  java/src/main/java/com/google/flatbuffers/reflection/SchemaFile.java
  java/src/main/java/com/google/flatbuffers/reflection/Service.java
  java/src/main/java/com/google/flatbuffers/reflection/Type.java
  scripts/generate_code.py
Labels: python, java

#7855 Update filename to `README.md` and improve formatting
  README.md
Labels: documentation

#7854 Fix help output for --java-checkerframework
  src/flatc.cpp
Labels: c++, codegen

#7838 ToCamelCase() when kLowerCamel now converts first char to lower.
  src/idl_gen_kotlin.cpp
  src/util.cpp
  tests/MyGame/Example/Any.kt
  tests/util_test.cpp
Labels: c++, codegen, kotlin

#7871 made changes to the rust docs so they would compile.
  docs/source/Tutorial.md
Labels: documentation

#7872 fix using null string in vector
  net/FlatBuffers/FlatBufferBuilder.cs
  net/FlatBuffers/Table.cs
Labels: c#

#7876 Use Bool for flatbuffers 'bool' instead of Byte in swift
  src/idl_gen_swift.cpp
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/optional_scalars_generated.swift
Labels: c++, codegen, swift

#7880 README.md: PyPI case typo
  README.md
Labels: documentation
