Repository google/flatbuffers, pull requests merged in 2023-11, with the labels that each got.

#8158 update flatbuffers java to be Android API level 23 compatible
  java/src/main/java/com/google/flatbuffers/Utf8Old.java
Labels: java

#8161 Fix CI builds
  .github/workflows/build.yml
  CMakeLists.txt
  include/flatbuffers/flexbuffers.h
  tests/test.cpp
Labels: c++, CI

#8160 chore: Dart 23.5.26 release
  dart/CHANGELOG.md
  dart/README.md
  dart/pubspec.yaml
  dart/test/flat_buffers_test.dart
  dart/test/monster_test.fbs
Labels: documentation, dart

#8155 Fix: detect c++ standard on MSVC for span
  include/flatbuffers/stl_emulation.h
Labels: c++

#8153 Update Compiler.md docs
  docs/source/Compiler.md
Labels: documentation

#8124 Remove msvc pragma warning disable C4351 as it is undocumented
  include/flatbuffers/base.h
Labels: c++

#8120 Fix spelling mistake in FlatBufferBuilder.cs doc comments
  net/FlatBuffers/FlatBufferBuilder.cs
Labels: c#

#8069 Allow CreateString invocation with std::string_view
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#8162 Update build.yml
  .github/workflows/build.yml
Labels: CI

#8135 [Swift] Fixes forward offset verifiable objects within arrays & fixes failing tests
  swift/Sources/FlatBuffers/Verifiable.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersNanInfTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersMoreDefaults.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersVerifierTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/XCTestManifests.swift
  tests/swift/tests/Tests/LinuxMain.swift
Labels: swift

#8090 Add argument to FlatBufferToString for quotes around field names
  include/flatbuffers/minireflect.h
Labels: c++

#8163 Update build.yml
  .github/workflows/build.yml
Labels: CI

#8118 [GO] compiles to much files
  src/idl_gen_go.cpp
Labels: golang, c++, codegen

#8044 Update testReadFromOtherLanguages test to also run on macOS
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
Labels: swift

#8055 Add absolute file names option to BFBS
  include/flatbuffers/idl.h
  include/flatbuffers/util.h
  src/flatc.cpp
  src/idl_parser.cpp
  src/util.cpp
Labels: c++, codegen

#8168 [Swift] Migrating benchmarks to a newer lib.
  benchmarks/swift/Benchmarks/FlatbuffersBenchmarks/FlatbuffersBenchmarks.swift
  benchmarks/swift/Package.swift
  benchmarks/swift/README.md
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/Verifiable.swift
  tests/swift/benchmarks/Sources/benchmarks/main.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersNanInfTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
Labels: swift, documentation

#8174 copy languages for conformance parser
  src/flatc.cpp
Labels: c++, codegen

#7983 Fix python type annotation output when not enabled
  python/flatbuffers/reflection/Enum.py
  python/flatbuffers/reflection/EnumVal.py
  python/flatbuffers/reflection/Field.py
  python/flatbuffers/reflection/Object.py
  python/flatbuffers/reflection/RPCCall.py
  python/flatbuffers/reflection/Schema.py
  python/flatbuffers/reflection/SchemaFile.py
  python/flatbuffers/reflection/Service.py
  src/idl_gen_python.cpp
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/TypeAliases.py
Labels: python, c++, codegen
