Repository google/flatbuffers, pull requests merged in 2023-09, with the labels that each got.

#7864 [TS] Allows object API to set 0 for a null-default scalar.
  src/idl_gen_ts.cpp
  tests/TestAll.sh
  tests/ts/optional-scalars/scalar-stuff.ts
  ts/builder.ts
Labels: c++, javascript, typescript, codegen

#8094 Fully qualify the offset type in FLATBUFFERS_VTABLE_UNDERLYING_TYPE
  include/flatbuffers/base.h
Labels: c++

#8098 Fix nim workflow
  .github/workflows/build.yml
Labels: CI

#8061 [Swift] Overall Improvements
  Package.swift
  swift/Sources/FlatBuffers/ByteBuffer.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
Labels: swift

#7883 Fix misalignment of small structs in a Vector (C++)
  include/flatbuffers/flatbuffer_builder.h
  tests/alignment_test.cpp
  tests/alignment_test.fbs
  tests/alignment_test.json
  tests/alignment_test_after_fix.afb
  tests/alignment_test_after_fix.bin
  tests/alignment_test_before_fix.afb
  tests/alignment_test_before_fix.bin
Labels: c++, json

#8037 Add constexpr for bitmask operators
  include/flatbuffers/flatbuffers.h
Labels: c++

#8067 Fix compiling idl_gen_php.cpp against certain STLs
  src/idl_gen_php.cpp
Labels: c++, codegen, php

#8066 Fix compiling idl_parser.cpp against certain STLs
  src/idl_parser.cpp
Labels: c++, codegen

#8063 corrected a typo
  tests/lobstertest.lobster
Labels: lobster

#8068 Return function to namespace
  include/flatbuffers/base.h
  src/idl_parser.cpp
  tests/test_assert.h
Labels: c++, codegen

#8101 Add const qualifier to non-mutated FlatbufferBuilder parameter
  include/flatbuffers/flatbuffer_builder.h
Labels: c++
