Repository google/flatbuffers, pull requests merged in 2023-02, with the labels that each got.

#7655 Parsing from proto should keep field ID. (fixes #7645)
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_fbs.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/proto_test.cpp
  tests/proto_test.h
  tests/prototest/GenerateProtoGoldens.sh
  tests/prototest/non-positive-id.proto
  tests/prototest/test.golden.fbs
  tests/prototest/test.proto
  tests/prototest/test_id.golden.fbs
  tests/prototest/test_include.golden.fbs
  tests/prototest/test_include_id.golden.fbs
  tests/prototest/test_suffix.golden.fbs
  tests/prototest/test_suffix_id.golden.fbs
  tests/prototest/test_union.golden.fbs
  tests/prototest/test_union_id.golden.fbs
  tests/prototest/test_union_include.golden.fbs
  tests/prototest/test_union_include_id.golden.fbs
  tests/prototest/test_union_suffix.golden.fbs
  tests/prototest/test_union_suffix_id.golden.fbs
  tests/prototest/twice-id.proto
  tests/prototest/use-reserved-id.proto
  tests/test.cpp
Labels: c++, codegen

#7809 Fixed vtable duplication for binary annotator
  src/annotated_binary_text_gen.cpp
  src/binary_annotator.cpp
  src/binary_annotator.h
  tests/annotated_binary/annotated_binary.afb
  tests/annotated_binary/tests/invalid_root_offset.afb
  tests/annotated_binary/tests/invalid_root_table_too_short.afb
  tests/annotated_binary/tests/invalid_root_table_vtable_offset.afb
  tests/annotated_binary/tests/invalid_string_length.afb
  tests/annotated_binary/tests/invalid_string_length_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_array_field_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_field_cut_short.afb
  tests/annotated_binary/tests/invalid_table_field_offset.afb
  tests/annotated_binary/tests/invalid_table_field_size.afb
  tests/annotated_binary/tests/invalid_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_length_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_scalars_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_strings_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_structs_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_tables_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_unions_cut_short.afb
  tests/annotated_binary/tests/invalid_vtable_field_offset.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size_short.afb
  tests/annotated_binary/tests/invalid_vtable_size.afb
  tests/annotated_binary/tests/invalid_vtable_size_short.afb
  tests/monster_test.afb
  tests/monsterdata_test.afb
Labels: c++, codegen

#7811 explicitly declare enum values
  include/flatbuffers/idl.h
  src/idl_gen_swift.cpp
Labels: c++, codegen, swift

#7813 use switch statements for BASE_TYPE_ lookups
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_gen_fbs.cpp
  src/idl_parser.cpp
  tests/fuzz_test.cpp
Labels: c++, codegen

#7820 [Annotated Buffers] Improve efficiency
  include/flatbuffers/flatc.h
  src/annotated_binary_text_gen.cpp
  src/annotated_binary_text_gen.h
  src/flatc.cpp
Labels: c++, codegen

#7819 Sample adjusted for Python3
  samples/sample_binary.py
Labels: python

#7824 Only use absl headers if C++14 is available.
  include/flatbuffers/base.h
Labels: c++

#7823 Move defined table from gen_cpp to idl.h
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
Labels: c++, codegen
