Repository google/flatbuffers, pull requests merged in 2023-04, with the labels that each got.

#7850 [CS] Verifier
  docs/source/CsharpUsage.md
  docs/source/doxyfile
  net/FlatBuffers/FlatBufferVerify.cs
  net/FlatBuffers/FlatBuffers.net35.csproj
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
  tests/FlatBuffers.Test/FlatBuffersFuzzTests.cs
  tests/KeywordTest/KeywordsInTable.cs
  tests/KeywordTest/KeywordsInUnion.cs
  tests/KeywordTest/Table2.cs
  tests/MyGame/Example/Any.cs
  tests/MyGame/Example/AnyAmbiguousAliases.cs
  tests/MyGame/Example/AnyUniqueAliases.cs
  tests/MyGame/Example/ArrayTable.cs
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Referrable.cs
  tests/MyGame/Example/Stat.cs
  tests/MyGame/Example/TestSimpleTableWithEnum.cs
  tests/MyGame/Example/TypeAliases.cs
  tests/MyGame/Example2/Monster.cs
  tests/MyGame/InParentNamespace.cs
  tests/MyGame/MonsterExtra.cs
  tests/namespace_test/NamespaceA/NamespaceB/TableInNestedNS.cs
  tests/namespace_test/NamespaceA/NamespaceB/UnionInNestedNS.cs
  tests/namespace_test/NamespaceA/SecondTableInA.cs
  tests/namespace_test/NamespaceA/TableInFirstNS.cs
  tests/namespace_test/NamespaceC/TableInC.cs
  tests/nested_namespace_test/nested_namespace_test3_generated.cs
  tests/optional_scalars/ScalarStuff.cs
  tests/type_field_collsion/Collision.cs
  tests/union_value_collsion/union_value_collision_generated.cs
  tests/union_vector/Attacker.cs
  tests/union_vector/Character.cs
  tests/union_vector/Gadget.cs
  tests/union_vector/HandFan.cs
  tests/union_vector/Movie.cs
Labels: c#, c++, codegen, documentation

#7888 [TS/JS] Use minvalue from enum if not found
  src/idl_gen_ts.cpp
  tests/ts/arrays_test_complex/arrays_test_complex_generated.cjs
  tests/ts/monster_test_generated.cjs
  tests/ts/my-game/example/vec3.js
  tests/ts/my-game/example/vec3.ts
  tests/ts/typescript_keywords_generated.cjs
  tests/ts/union_vector/union_vector_generated.cjs
Labels: c++, javascript, typescript, codegen

#7821 Add a FileWriter interface
  BUILD.bazel
  CMakeLists.txt
  include/flatbuffers/file_manager.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatc.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/minireflect.h
  include/flatbuffers/util.h
  src/BUILD.bazel
  src/file_binary_writer.cpp
  src/file_name_saving_file_manager.cpp
  src/file_writer.cpp
  src/flatc.cpp
Labels: c++, codegen

#7889 [TS/JS] Upgrade dependencies
  package.json
  yarn.lock
Labels: json

#7903 Fix go_sample.sh
  samples/go.mod
  samples/go_sample.sh
  samples/sample_binary.go
Labels: golang

#7905 Go: add test for FinishWithFileIdentifier
  tests/go_test.go
Labels: golang

#7857 Optionally generate type prefixes and suffixes for python code
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  include/flatbuffers/idl.h
  python/flatbuffers/reflection/Enum.py
  python/flatbuffers/reflection/EnumVal.py
  python/flatbuffers/reflection/Field.py
  python/flatbuffers/reflection/KeyValue.py
  python/flatbuffers/reflection/Object.py
  python/flatbuffers/reflection/RPCCall.py
  python/flatbuffers/reflection/Schema.py
  python/flatbuffers/reflection/SchemaFile.py
  python/flatbuffers/reflection/Service.py
  python/flatbuffers/reflection/Type.py
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.py
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
Labels: python, c++, grpc, codegen

#7904 Support file_identifier in Go
  go/lib.go
  grpc/examples/go/greeter/models/HelloReply.go
  grpc/examples/go/greeter/models/HelloRequest.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/MyGame/Example/TestSimpleTableWithEnum.go
  tests/MyGame/Example/TypeAliases.go
  tests/MyGame/Example2/Monster.go
  tests/MyGame/InParentNamespace.go
  tests/go_test.go
  tests/monsterdata_go_wire.mon.sp
Labels: golang, c++, grpc, codegen

#7907 Go: make generated code more compliant to "go fmt"
  examples/go-echo/hero/Warrior.go
  examples/go-echo/net/Request.go
  examples/go-echo/net/Response.go
  src/idl_gen_go.cpp
  tests/MyGame/Example/Ability.go
  tests/MyGame/Example/Any.go
  tests/MyGame/Example/AnyAmbiguousAliases.go
  tests/MyGame/Example/AnyUniqueAliases.go
  tests/MyGame/Example/Monster.go
  tests/MyGame/Example/Referrable.go
  tests/MyGame/Example/Stat.go
  tests/MyGame/Example/StructOfStructs.go
  tests/MyGame/Example/StructOfStructsOfStructs.go
  tests/MyGame/Example/Test.go
  tests/MyGame/Example/TestSimpleTableWithEnum.go
  tests/MyGame/Example/TypeAliases.go
  tests/MyGame/Example/Vec3.go
  tests/MyGame/Example2/Monster.go
  tests/MyGame/InParentNamespace.go
Labels: golang, c++, codegen

#7910 TS/JS: Use TypeError instead of Error when appropriate
  ts/builder.ts
Labels: typescript

#7869 Make JSON supporting advanced union features
  src/idl_parser.cpp
  tests/json_test.cpp
  tests/json_test.h
  tests/test.cpp
Labels: c++, codegen

#7906 drop glibc from runtime dependencies
  .github/workflows/build.yml
Labels: CI

#7921 Replace deprecated command with environment file
  .github/workflows/build.yml
Labels: CI

#7858 Optionally generate Python type annotations
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  include/flatbuffers/idl.h
  python/flatbuffers/reflection/Enum.py
  python/flatbuffers/reflection/EnumVal.py
  python/flatbuffers/reflection/Field.py
  python/flatbuffers/reflection/KeyValue.py
  python/flatbuffers/reflection/Object.py
  python/flatbuffers/reflection/RPCCall.py
  python/flatbuffers/reflection/Schema.py
  python/flatbuffers/reflection/SchemaFile.py
  python/flatbuffers/reflection/Service.py
  python/flatbuffers/reflection/Type.py
  python/py.typed
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedStruct.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/NestedUnion/Test.py
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.py
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
  tests/test.fbs
Labels: python, c++, grpc, codegen

#7897 additional check for absl::string_view availability
  include/flatbuffers/base.h
Labels: c++

#7926 inject no long for FBS generation to remove logs in flattests
  CMakeLists.txt
  include/flatbuffers/idl.h
  src/BUILD.bazel
  src/idl_gen_fbs.cpp
  src/idl_gen_fbs.h
  tests/BUILD.bazel
  tests/proto_test.cpp
  tests/test_assert.h
Labels: c++, codegen

#7929 fixed some windows warnings
  include/flatbuffers/flatbuffer_builder.h
  src/idl_gen_cpp.cpp
  tests/monster_test.cpp
Labels: c++, codegen
