Repository google/flatbuffers, pull requests merged in 2023-12, with the labels that each got.

#7996 [TS/JS] Upgrade dependencies
  .github/workflows/release.yml
  WORKSPACE
  package.json
  pnpm-lock.yaml
  tests/ts/arrays_test_complex/arrays_test_complex_generated.cjs
  tests/ts/monster_test_generated.cjs
  tests/ts/no_import_ext/optional-scalars.js
  tests/ts/no_import_ext/optional-scalars/optional-byte.js
  tests/ts/no_import_ext/optional-scalars/scalar-stuff.js
  tests/ts/no_import_ext/optional-scalars/scalar-stuff.ts
  tests/ts/pnpm-lock.yaml
  tests/ts/typescript_keywords_generated.cjs
  tests/ts/union_vector/union_vector_generated.cjs
  tsconfig.mjs.json
Labels: javascript, typescript, json

#8181 Introduce convenient implicit operator string_view
  include/flatbuffers/string.h
Labels: c++

#8186 [Python] Add clear method for builder reuse
  python/flatbuffers/builder.py
  tests/PythonTest.sh
  tests/py_test.py
Labels: python

#8185 [TS/JS] Create byte vectors
  tests/ts/JavaScriptTest.js
  ts/builder.ts
Labels: javascript, typescript

#8184 Target .NET Standard 2.1, .NET 6, .NET 8 only
  .github/workflows/build.yml
  .github/workflows/release.yml
  docs/source/CsharpUsage.md
  net/FlatBuffers/ByteBuffer.cs
  net/FlatBuffers/FlatBufferBuilder.cs
  net/FlatBuffers/FlatBuffers.net35.csproj
  net/FlatBuffers/Google.FlatBuffers.csproj
  net/FlatBuffers/Table.cs
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/FlatBuffers.Test/FlatBuffers.Test.csproj
  tests/FlatBuffers.Test/NetTest.bat
  tests/FlatBuffers.Test/NetTest.sh
  tests/FlatBuffers.Test/monsterdata_cstest.mon
  tests/FlatBuffers.Test/monsterdata_cstest_sp.mon
  tests/FlatBuffers.Test/packages.config
Labels: c#, documentation, CI
