Repository google/flatbuffers, pull requests merged in 2023-01, with the labels that each got.

#7740 Fix "'flatbuffers::FieldDef* field' shadows a parameter"
  src/idl_gen_go.cpp
Labels: golang, c++, codegen

#7755 Add pointer reference to sibling union field on FieldDef
  include/flatbuffers/idl.h
  src/idl_parser.cpp
Labels: c++, codegen

#7749 Fix operator==() generated for field of fixed sized array
  include/flatbuffers/array.h
  src/idl_gen_cpp.cpp
  tests/arrays_test_generated.h
  tests/key_field/key_field_sample_generated.h
  tests/test.cpp
Labels: c++, codegen

#7658 [Kotlin] Improve field nullability based on (required)
  src/idl_gen_kotlin.cpp
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Stat.kt
Labels: c++, codegen, kotlin

#7726 Ensure that empty modules can build in TypeScript isolatedModules mode
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7705 [C++] Add Command-Line Flag to Suppress MIN and MAX Enums
  docs/source/Compiler.md
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen, documentation

#7763 Annotated Binaries emit field names instead of type names
  src/binary_annotator.cpp
  src/binary_annotator.h
  tests/annotated_binary/annotated_binary.afb
  tests/annotated_binary/tests/invalid_string_length.afb
  tests/annotated_binary/tests/invalid_string_length_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_array_field_cut_short.afb
  tests/annotated_binary/tests/invalid_struct_field_cut_short.afb
  tests/annotated_binary/tests/invalid_table_field_offset.afb
  tests/annotated_binary/tests/invalid_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_length_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_scalars_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_strings_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_structs_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_tables_cut_short.afb
  tests/annotated_binary/tests/invalid_vector_union_type_value.afb
  tests/annotated_binary/tests/invalid_vector_unions_cut_short.afb
  tests/annotated_binary/tests/invalid_vtable_field_offset.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size.afb
  tests/annotated_binary/tests/invalid_vtable_ref_table_size_short.afb
  tests/monsterdata_test.afb
Labels: c++, codegen

#7764 emit global scoped ::flatbuffers in c++
  include/flatbuffers/reflection_generated.h
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/alignment_test_generated.h
  tests/arrays_test_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/cpp17/generated_cpp17/optional_scalars_generated.h
  tests/cpp17/generated_cpp17/union_vector_generated.h
  tests/evolution_test/evolution_v1_generated.h
  tests/evolution_test/evolution_v2_generated.h
  tests/key_field/key_field_sample_generated.h
  tests/monster_extra_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
  tests/namespace_test/namespace_test1_generated.h
  tests/namespace_test/namespace_test2_generated.h
  tests/native_inline_table_test_generated.h
  tests/native_type_test_generated.h
  tests/optional_scalars_generated.h
  tests/union_vector/union_vector_generated.h
Labels: c++, codegen

#7751 Fix [C#] Object API - Invalid Property Name used in UnPackTo for unio…
  scripts/generate_code.py
  src/idl_gen_csharp.cpp
  tests/FlatBuffers.Test/FlatBuffers.Core.Test.csproj
  tests/union_value_collision.fbs
  tests/union_value_collsion/union_value_collision_generated.cs
Labels: python, c#, c++, codegen

#7748 [TS] Add option for removing typescript import flag using --ts-no-import-ext
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_ts.cpp
  tests/ts/TypeScriptTest.py
  tests/ts/no_import_ext/optional-scalars/optional-byte.js
  tests/ts/no_import_ext/optional-scalars/optional-byte.ts
  tests/ts/no_import_ext/optional-scalars/scalar-stuff.js
  tests/ts/no_import_ext/optional-scalars/scalar-stuff.ts
  tests/ts/no_import_ext/optional_scalars.js
  tests/ts/no_import_ext/optional_scalars.ts
  tests/ts/no_import_ext/optional_scalars_generated.js
  tests/ts/no_import_ext/optional_scalars_generated.ts
  tests/ts/tsconfig.json
Labels: python, c++, javascript, typescript, codegen, json

#7766 Minor improvement
  include/flatbuffers/detached_buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flexbuffers.h
  include/flatbuffers/vector_downward.h
Labels: c++

#7770 Refactor FlatC to receive `FlatCOptions`
  include/flatbuffers/flatc.h
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/flatc_main.cpp
Labels: c++, codegen

#7771 Defined CodeGenerator Interface and implement C++
  BUILD.bazel
  CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#7774 Fix a typo in a Python test name
  tests/py_test.py
Labels: python

#7775 [Kotlin] Control the generation of reflection with --reflect-names
  samples/SampleBinary.kt
  src/idl_gen_kotlin.cpp
  tests/DictionaryLookup/LongFloatEntry.kt
  tests/DictionaryLookup/LongFloatMap.kt
  tests/MyGame/Example/Ability.kt
  tests/MyGame/Example/Any.kt
  tests/MyGame/Example/AnyAmbiguousAliases.kt
  tests/MyGame/Example/AnyUniqueAliases.kt
  tests/MyGame/Example/Color.kt
  tests/MyGame/Example/LongEnum.kt
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/Race.kt
  tests/MyGame/Example/Referrable.kt
  tests/MyGame/Example/Stat.kt
  tests/MyGame/Example/StructOfStructs.kt
  tests/MyGame/Example/StructOfStructsOfStructs.kt
  tests/MyGame/Example/Test.kt
  tests/MyGame/Example/TestSimpleTableWithEnum.kt
  tests/MyGame/Example/TypeAliases.kt
  tests/MyGame/Example/Vec3.kt
  tests/MyGame/Example2/Monster.kt
  tests/MyGame/InParentNamespace.kt
  tests/MyGame/MonsterExtra.kt
  tests/flatc/flatc_kotlin_tests.py
  tests/flatc/main.py
  tests/optional_scalars/OptionalByte.kt
  tests/optional_scalars/ScalarStuff.kt
  tests/union_vector/Attacker.kt
  tests/union_vector/BookReader.kt
  tests/union_vector/Character.kt
  tests/union_vector/FallingTub.kt
  tests/union_vector/Gadget.kt
  tests/union_vector/HandFan.kt
  tests/union_vector/Movie.kt
  tests/union_vector/Rapunzel.kt
Labels: python, c++, codegen, kotlin

#7773 Fix Python host-endianness dependencies
  python/flatbuffers/flexbuffers.py
  tests/py_flexbuffers_test.py
  tests/py_test.py
Labels: python

#7752 [TS]: builder, Fix requiredField(). Verity that the field is present in the vtable (#7739)
  tests/required_strings.fbs
  tests/ts/JavaScriptRequiredStringTest.js
  tests/ts/TypeScriptTest.py
  tests/ts/required-strings/foo.js
  tests/ts/required-strings/foo.ts
  tests/ts/required_strings_generated.js
  tests/ts/required_strings_generated.ts
  ts/builder.ts
Labels: python, javascript, typescript

#7768 Fix some identity/equality confusion in Python tests
  tests/py_test.py
Labels: python

#7718 Fix binary output different in different platform
  .github/workflows/build.yml
  include/flatbuffers/util.h
  scripts/check-grpc-generated-code.py
  scripts/check_generate_code.py
  scripts/generate_code.py
  scripts/generate_grpc_examples.py
  scripts/util.py
Labels: python, c++, CI

#7741 [C++] Enable using struct and array of struct as key
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
  tests/key_field/key_field_sample.fbs
  tests/key_field/key_field_sample_generated.h
  tests/key_field_test.cpp
  tests/key_field_test.h
  tests/test.cpp
Labels: c++, codegen

#7797 Refactor languages to use CodeGenerator interface.
  CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/flatc.h
  src/BUILD.bazel
  src/flatc_main.cpp
  src/idl_gen_binary.cpp
  src/idl_gen_binary.h
  src/idl_gen_cpp.cpp
  src/idl_gen_cpp.h
  src/idl_gen_csharp.cpp
  src/idl_gen_csharp.h
  src/idl_gen_dart.cpp
  src/idl_gen_dart.h
  src/idl_gen_go.cpp
  src/idl_gen_go.h
  src/idl_gen_java.cpp
  src/idl_gen_java.h
  src/idl_gen_json_schema.cpp
  src/idl_gen_json_schema.h
  src/idl_gen_kotlin.cpp
  src/idl_gen_kotlin.h
  src/idl_gen_lobster.cpp
  src/idl_gen_lobster.h
  src/idl_gen_lua.cpp
  src/idl_gen_lua.h
  src/idl_gen_php.cpp
  src/idl_gen_php.h
  src/idl_gen_python.cpp
  src/idl_gen_python.h
  src/idl_gen_rust.cpp
  src/idl_gen_rust.h
  src/idl_gen_swift.cpp
  src/idl_gen_swift.h
  src/idl_gen_ts.cpp
  src/idl_gen_ts.h
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin

#7800 Clean up extra white spaces
  src/idl_gen_cpp.cpp
  tests/key_field/key_field_sample_generated.h
Labels: c++, codegen

#7802 Code generator refactor bug fix
  src/flatc_main.cpp
Labels: c++, codegen

#7803 Refactor usage message
  include/flatbuffers/flatc.h
  src/flatc.cpp
  src/flatc_main.cpp
Labels: c++, codegen

#7808 Rename LICENSE.txt to LICENSE
  CMake/PackageDebian.cmake
  LICENSE
  readme.md
Labels: documentation

#7805 Fix std::span autodetection
  include/flatbuffers/stl_emulation.h
Labels: c++

#7806 Final refactor for bfsb_generator* and text generator
  BUILD.bazel
  CMakeLists.txt
  android/app/src/main/cpp/flatbuffers/CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/flatc.h
  src/BUILD.bazel
  src/bfbs_gen.h
  src/bfbs_gen_lua.cpp
  src/bfbs_gen_lua.h
  src/bfbs_gen_nim.cpp
  src/bfbs_gen_nim.h
  src/flatc.cpp
  src/flatc_main.cpp
  src/idl_gen_binary.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_go.cpp
  src/idl_gen_java.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_lobster.cpp
  src/idl_gen_lua.cpp
  src/idl_gen_php.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_text.cpp
  src/idl_gen_text.h
  src/idl_gen_ts.cpp
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin, nim
