Repository google/flatbuffers, pull requests merged in 2023-05, with the labels that each got.

#7932 Add binary schema reflection
  CMakeLists.txt
  build_defs.bzl
  src/idl_gen_cpp.cpp
  tests/BUILD.bazel
  tests/monster_test_generated.h
  tests/test.cpp
Labels: c++, codegen

#7935 FlatBuffers 64 for C++
  CMakeLists.txt
  include/flatbuffers/array.h
  include/flatbuffers/base.h
  include/flatbuffers/buffer.h
  include/flatbuffers/flatbuffer_builder.h
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/idl.h
  include/flatbuffers/reflection.h
  include/flatbuffers/reflection_generated.h
  include/flatbuffers/table.h
  include/flatbuffers/vector.h
  include/flatbuffers/vector_downward.h
  include/flatbuffers/verifier.h
  java/src/main/java/com/google/flatbuffers/reflection/BaseType.java
  java/src/main/java/com/google/flatbuffers/reflection/Field.java
  python/flatbuffers/reflection/BaseType.py
  python/flatbuffers/reflection/Field.py
  reflection/reflection.fbs
  src/annotated_binary_text_gen.cpp
  src/binary_annotator.cpp
  src/binary_annotator.h
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_text.cpp
  src/idl_parser.cpp
  tests/64bit/evolution/v1.fbs
  tests/64bit/evolution/v1_generated.h
  tests/64bit/evolution/v2.fbs
  tests/64bit/evolution/v2_generated.h
  tests/64bit/offset64_test.cpp
  tests/64bit/offset64_test.h
  tests/64bit/test_64bit.afb
  tests/64bit/test_64bit.bfbs
  tests/64bit/test_64bit.bin
  tests/64bit/test_64bit.fbs
  tests/64bit/test_64bit.json
  tests/64bit/test_64bit_bfbs_generated.h
  tests/64bit/test_64bit_generated.h
  tests/BUILD.bazel
  tests/MyGame/Example/Monster.php
  tests/evolution_test.cpp
  tests/fuzzer/.gitignore
  tests/fuzzer/CMakeLists.txt
  tests/fuzzer/flatbuffers_64bit_fuzzer.cc
  tests/fuzzer/flatbuffers_annotator_fuzzer.cc
  tests/parser_test.cpp
  tests/test.cpp
  tests/test_builder.cpp
  tests/test_builder.h
Labels: python, java, c++, codegen, php, json

#7933 TS/JS: Upgrade package.json dependencies
  package.json
  pnpm-lock.yaml
  tests/ts/arrays_test_complex/arrays_test_complex_generated.cjs
  tests/ts/foobar/tab.ts
  tests/ts/monster_test_generated.cjs
  tests/ts/typescript_keywords_generated.cjs
  tests/ts/union_vector/union_vector_generated.cjs
Labels: typescript, json

#7946 fix out-of-source builds with cmake
  .github/workflows/build.yml
  CMakeLists.txt
  tests/BUILD.bazel
  tests/test.cpp
Labels: c++, CI

#7948 removed extern code generation declarations preferring direct includes
  .github/labeler.yml
  CMakeLists.txt
  include/flatbuffers/code_generator.h
  include/flatbuffers/code_generators.h
  include/flatbuffers/idl.h
  src/BUILD.bazel
  src/bfbs_gen_lua.cpp
  src/code_generators.cpp
  src/idl_gen_binary.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_go.cpp
  src/idl_gen_java.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_lobster.cpp
  src/idl_gen_lua.cpp
  src/idl_gen_lua.h
  src/idl_gen_php.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_text.cpp
  src/idl_gen_ts.cpp
  tests/proto_test.cpp
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin, CI

#7949 fixed bfbs gen to pass extra options
  goldens/generate_goldens.py
  goldens/lua/Galaxy.lua
  goldens/lua/Universe.lua
  goldens/nim/Galaxy.nim
  goldens/nim/Universe.nim
  include/flatbuffers/code_generator.h
  src/bfbs_gen.h
  src/bfbs_gen_lua.cpp
  src/bfbs_gen_nim.cpp
  src/flatc.cpp
  src/idl_gen_binary.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_dart.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_go.cpp
  src/idl_gen_java.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_lobster.cpp
  src/idl_gen_php.cpp
  src/idl_gen_python.cpp
  src/idl_gen_rust.cpp
  src/idl_gen_swift.cpp
  src/idl_gen_text.cpp
  src/idl_gen_ts.cpp
Labels: golang, python, java, c#, c++, javascript, rust, typescript, codegen, swift, lua, dart, lobster, php, json, kotlin, nim

#7957 Change SizedPrefixed verifier to be <= provided size
  include/flatbuffers/flatbuffers.h
  include/flatbuffers/verifier.h
  tests/monster_test.cpp
Labels: c++

#7958 fix(TS): fixed incorrect function name when importing unionTo functions
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#7954 feat(C++): Support underlying_type for union
  CMakeLists.txt
  include/flatbuffers/idl.h
  src/idl_gen_cpp.cpp
  src/idl_parser.cpp
  tests/BUILD.bazel
  tests/evolution_test.cpp
  tests/parser_test.cpp
  tests/test.cpp
  tests/union_underlying_type_test.fbs
  tests/union_underlying_type_test_generated.h
Labels: c++, codegen, lua

#7961 feat: Support union underlying type for TS/JS
  src/idl_gen_ts.cpp
  src/idl_parser.cpp
  tests/parser_test.cpp
  tests/ts/JavaScriptUnionUnderlyingTypeTest.js
  tests/ts/TypeScriptTest.py
  tests/ts/tsconfig.json
Labels: python, c++, javascript, typescript, codegen, json

#7962 README.md: SemVer case typo
  README.md
Labels: documentation

#7963 chore: fixed broken script: RustTest.bat
  .github/workflows/build.yml
  tests/RustTest.bat
Labels: CI

#7966 Switch to using alias instead of a typedef for FlatBufferBuilder
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#7964 fix(rust): fixed rust namer isses, resolve #7865 and ##7782
  scripts/generate_code.py
  src/idl_namer.h
  tests/rust_namer_test.fbs
  tests/rust_namer_test/mod.rs
  tests/rust_namer_test/rust_namer_test/field_table_generated.rs
  tests/rust_namer_test/rust_namer_test/field_union_generated.rs
  tests/rust_namer_test/rust_namer_test/game_message_generated.rs
  tests/rust_namer_test/rust_namer_test/game_message_wrapper_generated.rs
  tests/rust_namer_test/rust_namer_test/player_input_change_generated.rs
  tests/rust_namer_test/rust_namer_test/player_spectate_generated.rs
  tests/rust_namer_test/rust_namer_test/player_stat_event_generated.rs
  tests/rust_namer_test/rust_namer_test/root_table_generated.rs
  tests/rust_usage_test/tests/integration_test.rs
Labels: python, c++, rust, codegen

#7960 Fix python tests
  .github/workflows/build.yml
  grpc/examples/python/greeter/models/HelloReply.py
  grpc/examples/python/greeter/models/HelloRequest.py
  python/flatbuffers/reflection/Enum.py
  python/flatbuffers/reflection/EnumVal.py
  python/flatbuffers/reflection/Field.py
  python/flatbuffers/reflection/KeyValue.py
  python/flatbuffers/reflection/Object.py
  python/flatbuffers/reflection/RPCCall.py
  python/flatbuffers/reflection/Schema.py
  python/flatbuffers/reflection/SchemaFile.py
  python/flatbuffers/reflection/Service.py
  python/flatbuffers/reflection/Type.py
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/PythonTest.sh
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
Labels: python, c++, grpc, codegen, CI

#7967 switch back to having T explicitly defined in CreateVector
  include/flatbuffers/flatbuffer_builder.h
Labels: c++

#7968 don't emit flatbuffers include in bfbs generated output
  src/idl_gen_cpp.cpp
  tests/64bit/test_64bit_bfbs_generated.h
  tests/monster_test_bfbs_generated.h
Labels: c++, codegen

#7969 Add Kotlin multiplatform support
  .github/labeler.yml
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  android/.project
  include/flatbuffers/idl.h
  kotlin/benchmark/build.gradle.kts
  kotlin/benchmark/monster_test_java.fbs
  kotlin/benchmark/monster_test_kotlin.fbs
  kotlin/benchmark/src/jvmMain/java
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlatbufferBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlexBuffersBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/JsonBenchmark.kt
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/UTF8Benchmark.kt
  kotlin/build.gradle.kts
  kotlin/flatbuffers-kotlin/build.gradle.kts
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Buffers.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/ByteArray.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlatBufferBuilder.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Flatbuffers.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlexBuffers.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlexBuffersBuilder.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/FlexBuffersInternals.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Utf8.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/json.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/Asserts.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/BuffersTest.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/ByteArrayTest.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/FlatBufferBuilderTest.kt
  kotlin/flatbuffers-kotlin/src/commonTest/kotlin/com/google/flatbuffers/kotlin/FlexBuffersTest.kt
  kotlin/flatbuffers-kotlin/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/ByteArray.kt
  kotlin/flatbuffers-kotlin/src/jvmTest/kotlin/com/google/flatbuffers/kotlin/Utf8Test.kt
  kotlin/flatbuffers-kotlin/src/nativeMain/kotlin/com/google/flatbuffers/kotlin/ByteArray.kt
  kotlin/gradle.properties
  kotlin/gradle/libs.versions.toml
  src/BUILD.bazel
  src/flatc_main.cpp
  src/idl_gen_kotlin.h
  src/idl_gen_kotlin_kmp.cpp
  src/idl_namer.h
  src/idl_parser.cpp
  src/namer.h
  tests/KotlinTest.sh
Labels: c++, codegen, kotlin, CI

#7977 Add `ForceVectorAlignment64` and test
  CMakeLists.txt
  include/flatbuffers/flatbuffer_builder.h
  src/idl_gen_cpp.cpp
  tests/64bit/offset64_test.cpp
  tests/64bit/offset64_test.h
  tests/64bit/test_64bit.fbs
  tests/64bit/test_64bit_bfbs_generated.h
  tests/64bit/test_64bit_generated.h
  tests/test.cpp
Labels: c++, codegen

#7982 Small optimization on "deserialization" and fix on benchmarks again
  kotlin/benchmark/build.gradle.kts
  kotlin/benchmark/src/jvmMain/kotlin/com/google/flatbuffers/kotlin/benchmark/FlatbufferBenchmark.kt
  kotlin/flatbuffers-kotlin/src/commonMain/kotlin/com/google/flatbuffers/kotlin/Flatbuffers.kt
  src/idl_gen_kotlin_kmp.cpp
Labels: c++, codegen, kotlin
