Repository google/flatbuffers, pull requests merged in 2024-04, with the labels that each got.

#8274 Avoid ODR violations with flatbuffers::Verifier.
  include/flatbuffers/verifier.h
Labels: c++

#8275 Improve error handling on Object API name collision.
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#8014 [Kotlin] Add workflow to release kotlin multiplatform version
  .github/workflows/release.yml
  kotlin/convention-plugins/build.gradle.kts
  kotlin/convention-plugins/src/main/kotlin/convention.publication.gradle.kts
  kotlin/flatbuffers-kotlin/build.gradle.kts
  kotlin/settings.gradle.kts
Labels: CI

#7990 Remove npm/rules_js dependency for C++ only use cases
  .bazelignore
  .bazelrc
  BUILD.bazel
  WORKSPACE
  tests/BUILD.bazel
  tests/bazel_repository_test_dir/.bazelrc
  tests/bazel_repository_test_dir/.gitignore
  tests/bazel_repository_test_dir/BUILD
  tests/bazel_repository_test_dir/README.md
  tests/bazel_repository_test_dir/WORKSPACE
  tests/bazel_repository_test_dir/pulls_in_flatbuffers_test.cpp
  tests/bazel_repository_test_template.sh
  tests/defs.bzl
  tests/ts/BUILD.bazel
  tests/ts/bazel_repository_test_dir/BUILD.bazel
  tests/ts/bazel_repository_test_dir/README.md
  tests/ts/bazel_repository_test_dir/WORKSPACE
  tests/ts/bazel_repository_test_dir/independent_deps_test.js
  tests/ts/bazel_repository_test_dir/package.json
  tests/ts/bazel_repository_test_dir/pnpm-lock.yaml
  tests/ts/test_dir/BUILD.bazel
  ts/BUILD.bazel
  ts/repositories.bzl
Labels: c++, javascript, documentation, json
