Repository google/flatbuffers, pull requests merged in 2024-09, with the labels that each got.

#8383 docs: update README.md
  README.md
Labels: documentation

#8410 Use actions/upload-artifact@v4 on CI
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/scorecards.yml
Labels: CI

#8411 Attempt to fix Rust CI
  rust/flatbuffers/Cargo.toml
  rust/flexbuffers/Cargo.toml
Labels: rust
