Repository google/flatbuffers, pull requests merged in 2024-05, with the labels that each got.

#8292 [Python] Fix various codegen problems
  src/idl_gen_python.cpp
  tests/FromInclude.py
  tests/MyGame/OtherNameSpace/FromInclude.py
  tests/MyGame/OtherNameSpace/TableB.py
  tests/MyGame/OtherNameSpace/Unused.py
  tests/MyGame/OtherNameSpace/__init__.py
  tests/PythonTest.sh
  tests/TableA.py
  tests/__init__.py
Labels: python, c++, codegen

#8298 [gRPC] Add new options to control the gRPC code generation
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/cpp_generator.h
  include/flatbuffers/idl.h
  src/flatc.cpp
  src/idl_gen_grpc.cpp
Labels: c++, grpc, codegen

#8319 Update build.yml to ubuntu-24.04
  .github/workflows/build.yml
Labels: CI

#8321 Update build.yml
  .github/workflows/build.yml
Labels: CI

#8309 Add missing opertors to VectorIterator
  include/flatbuffers/vector.h
Labels: c++

#8290 dart: Fix incorrect write in Float64 write method
  dart/lib/flat_buffers.dart
  dart/test/flat_buffers_test.dart
Labels: dart

#8263 Added automatic publishing to crates.io on publish
  .github/workflows/release.yml
Labels: CI

#8322 Update release.sh
  rust/flexbuffers/Cargo.toml
  scripts/release.sh
Labels: rust

#8223 Fix operator== for flatbuffers::optional
  include/flatbuffers/stl_emulation.h
Labels: c++

#8221 [C++] Make code compile with -Wfloat-equal
  include/flatbuffers/base.h
Labels: c++

#8229 [C++] Allow using FLATBUFFERS_MIN_BUFFER_SIZE in other namespaces
  include/flatbuffers/base.h
Labels: c++

#8312 [Python] Generate `.pyi` stub files when `--python-typing` is on.
  BUILD.bazel
  CMakeLists.txt
  MODULE.bazel
  MODULE.bazel.lock
  include/codegen/BUILD.bazel
  include/codegen/python.cc
  include/codegen/python.h
  include/flatbuffers/idl.h
  src/BUILD.bazel
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/FromInclude.py
  tests/MyGame/Example/ArrayStruct.pyi
  tests/MyGame/Example/ArrayTable.pyi
  tests/MyGame/Example/NestedStruct.pyi
  tests/MyGame/Example/NestedUnion/Any.pyi
  tests/MyGame/Example/NestedUnion/Color.pyi
  tests/MyGame/Example/NestedUnion/NestedUnionTest.pyi
  tests/MyGame/Example/NestedUnion/Test.pyi
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.pyi
  tests/MyGame/Example/NestedUnion/Vec3.pyi
  tests/MyGame/Example/TestEnum.pyi
  tests/MyGame/MonsterExtra.pyi
  tests/MyGame/OtherNameSpace/FromInclude.py
  tests/MyGame/OtherNameSpace/TableB.py
  tests/MyGame/OtherNameSpace/Unused.py
  tests/TableA.py
Labels: python, c++, codegen

#8228 [Swift] Sets Swift minimum support to 5.8
  .bazelci/presubmit.yml
  .github/workflows/build.yml
  Package.swift
  Package@swift-5.5.swift
  benchmarks/swift/Benchmarks/FlatbuffersBenchmarks/FlatbuffersBenchmarks.swift
  grpc/examples/swift/Greeter/Sources/client/main.swift
  grpc/examples/swift/Greeter/Sources/server/main.swift
  samples/sample_binary.swift
  swift.swiftformat
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/Constants.swift
  swift/Sources/FlatBuffers/Enum.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/FlatBufferObject.swift
  swift/Sources/FlatBuffers/FlatBuffersUtils.swift
  swift/Sources/FlatBuffers/FlatbuffersErrors.swift
  swift/Sources/FlatBuffers/Int+extension.swift
  swift/Sources/FlatBuffers/Message.swift
  swift/Sources/FlatBuffers/Mutable.swift
  swift/Sources/FlatBuffers/NativeObject.swift
  swift/Sources/FlatBuffers/Offset.swift
  swift/Sources/FlatBuffers/Root.swift
  swift/Sources/FlatBuffers/String+extension.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/TableVerifier.swift
  swift/Sources/FlatBuffers/VeriferOptions.swift
  swift/Sources/FlatBuffers/Verifiable.swift
  swift/Sources/FlatBuffers/Verifier.swift
  tests/swift/Wasm.tests/.swift-version
  tests/swift/Wasm.tests/Package.swift
  tests/swift/Wasm.tests/Sources/Wasm/Wasm.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/tests/Package.swift
  tests/swift/tests/Sources/SwiftFlatBuffers/main.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersMonsterWriterTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersNanInfTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersStructsTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersUnionTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatBuffersVectorsTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersDoubleTests.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersMoreDefaults.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersVerifierTests.swift
Labels: grpc, swift, CI

#8324 [C++] Update the validator to skip structs in namespaces other than the current one.
  src/idl_gen_cpp.cpp
Labels: c++, codegen

#8323 [BinaryAnnotator] Add more options that control the generation of `.afb` files
  .gitignore
  src/annotated_binary_text_gen.cpp
  src/annotated_binary_text_gen.h
  src/binary_annotator.cpp
  src/binary_annotator.h
Labels: c++, codegen
