Repository google/flatbuffers, pull requests merged in 2024-08, with the labels that each got.

#8377 Add parentheses in FLATBUFFERS_MAX_BUFFER_SIZE, FLATBUFFERS_MAX_64_BUFFER_SIZE to avoid preprocessor definition collision
  include/flatbuffers/base.h
Labels: c++

#8369 Add "empty()" to vector
  include/flatbuffers/vector.h
Labels: c++

#8366 Remove unused comment and fix typo.
  swift/Sources/FlatBuffers/ByteBuffer.swift
  swift/Sources/FlatBuffers/NativeObject.swift
Labels: swift

#8372 Upgrade Rust dependencies
  rust/flatbuffers/Cargo.toml
  rust/flexbuffers/Cargo.toml
Labels: rust

#8370 [jumbo] Add begin()/end() to DetachedBuffer.
  include/flatbuffers/detached_buffer.h
Labels: c++

#8363 Add a unit test for odd-sized small structs (for #8117)
  tests/alignment_test.cpp
  tests/alignment_test.fbs
Labels: c++
