Repository google/flatbuffers, pull requests merged in 2024-10, with the labels that each got.

#8330 [Swift] Fixes spelling mistake in the word position
  samples/monster_generated.swift
  src/idl_gen_swift.cpp
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/Mutable.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/Verifier.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/tests/CodeGenerationTests/test_no_include_generated.swift
  tests/swift/tests/Sources/SwiftFlatBuffers/fuzzer_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/MutatingBool_generated.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
Labels: c++, codegen, swift

#8413 [Swift] Addresses a bug where verifier skips capacity when verifying ID on buffers
  swift/Sources/FlatBuffers/FlatbuffersErrors.swift
  swift/Sources/FlatBuffers/Verifier.swift
  tests/swift/tests/Tests/FlatBuffers.Test.SwiftTests/FlatbuffersVerifierTests.swift
Labels: swift

#8412 Update grpc-core version
  grpc/flatbuffers-java-grpc/pom.xml
Labels: grpc

#8426 FlexBuffers: support "natural utf8" output in ToString
  include/flatbuffers/flexbuffers.h
Labels: c++
