Repository google/flatbuffers, pull requests merged in 2025-07, with the labels that each got.

#8517 [TS] Fix relative paths for exports
  src/idl_gen_ts.cpp
  tests/long_namespace.fbs
  tests/longer_namespace.fbs
  tests/ts/TypeScriptTest.py
  tests/ts/com/company/test.ts
  tests/ts/com/company/test/person.ts
  tests/ts/longer-namespace/a/b/c.d.ts
  tests/ts/longer-namespace/a/b/c.js
  tests/ts/longer-namespace/a/b/c.ts
  tests/ts/longer-namespace/a/b/c/person.d.ts
  tests/ts/longer-namespace/a/b/c/person.js
  tests/ts/longer-namespace/a/b/c/person.ts
  tests/ts/tsconfig.json
Labels: python, c++, javascript, typescript, codegen, json

#8634 Bugfix/new decode flag
  docs/source/flatc.md
  scripts/generate_code.py
Labels: python, documentation

#8623 Use correct default type for str
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedStruct.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/MonsterExtra.py
  tests/monster_test_generated.py
Labels: python, c++, codegen

#8592 Fixed typo in quick_start.md
  docs/source/quick_start.md
Labels: documentation

#8549 Fix typo in code comment
  src/binary_annotator.cpp
Labels: c++, codegen

#8602 Update README logo path
  README.md
Labels: documentation

#8625 [Python] Avoid include own type
  include/codegen/python.cc
  include/codegen/python.h
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayStruct.pyi
  tests/MyGame/Example/ArrayTable.pyi
  tests/MyGame/Example/NestedStruct.pyi
  tests/MyGame/Example/NestedUnion/Any.pyi
  tests/MyGame/Example/NestedUnion/NestedUnionTest.pyi
  tests/MyGame/Example/NestedUnion/Test.pyi
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.pyi
  tests/MyGame/Example/NestedUnion/Vec3.pyi
  tests/MyGame/MonsterExtra.pyi
Labels: python, c++, codegen

#8637 [Swift] Fixes inlining & module importing
  grpc/examples/swift/Greeter/Sources/Model/greeter_generated.swift
  samples/monster_generated.swift
  src/idl_gen_swift.cpp
  swift/Sources/FlatBuffers/Constants.swift
  swift/Sources/FlatBuffers/Enum.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/Mutable.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/Verifiable.swift
  swift/Sources/FlatBuffers/_InternalByteBuffer.swift
  swift/Sources/FlexBuffers/Utils/Constants.swift
  swift/Sources/FlexBuffers/Utils/Value.swift
  swift/Sources/FlexBuffers/Utils/functions.swift
  swift/Sources/FlexBuffers/Writer/FlexBuffersWriter.swift
  swift/Sources/FlexBuffers/_InternalByteBuffer.swift
  tests/swift/Tests/Flatbuffers/MutatingBool_generated.swift
  tests/swift/Tests/Flatbuffers/monster_test_generated.swift
  tests/swift/Tests/Flatbuffers/more_defaults_generated.swift
  tests/swift/Tests/Flatbuffers/nan_inf_test_generated.swift
  tests/swift/Tests/Flatbuffers/optional_scalars_generated.swift
  tests/swift/Tests/Flatbuffers/union_vector_generated.swift
  tests/swift/Tests/Flatbuffers/vector_has_test_generated.swift
  tests/swift/Wasm.tests/Tests/FlatBuffers.Test.Swift.WasmTests/monster_test_generated.swift
  tests/swift/fuzzer/CodeGenerationTests/test_import_generated.swift
Labels: c++, grpc, codegen, swift

#8624 Fix Enum type definition
  src/idl_gen_python.cpp
  tests/MyGame/Example/NestedUnion/Any.pyi
  tests/MyGame/Example/NestedUnion/Color.pyi
  tests/MyGame/Example/TestEnum.pyi
Labels: python, c++, codegen

#8515 Fix JavaScript typo in mkdocs.yml
  docs/mkdocs.yml
Labels: documentation

#8626 [Python] Avoid double flatbuffers include in pyi files
  src/idl_gen_python.cpp
  tests/MyGame/Example/ArrayStruct.pyi
  tests/MyGame/Example/ArrayTable.pyi
  tests/MyGame/Example/NestedStruct.pyi
  tests/MyGame/Example/NestedUnion/Any.pyi
  tests/MyGame/Example/NestedUnion/Color.pyi
  tests/MyGame/Example/NestedUnion/NestedUnionTest.pyi
  tests/MyGame/Example/NestedUnion/Test.pyi
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.pyi
  tests/MyGame/Example/NestedUnion/Vec3.pyi
  tests/MyGame/Example/TestEnum.pyi
  tests/MyGame/MonsterExtra.pyi
Labels: python, c++, codegen

#8566 doc: PHP fread typo
  docs/source/languages/php.md
Labels: documentation

#8643 [Swift] Allows keepingCapacity for the underlying memory
  Package.swift
  swift/Sources/FlatBuffers/Enum.swift
  swift/Sources/FlatBuffers/FlatBufferBuilder.swift
  swift/Sources/FlatBuffers/Mutable.swift
  swift/Sources/FlatBuffers/Struct.swift
  swift/Sources/FlatBuffers/Table.swift
  swift/Sources/FlatBuffers/_InternalByteBuffer.swift
  swift/Sources/FlexBuffers/Utils/Value.swift
  swift/Sources/FlexBuffers/Utils/functions.swift
  swift/Sources/FlexBuffers/Writer/FlexBuffersWriter.swift
  swift/Sources/FlexBuffers/_InternalByteBuffer.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersMonsterWriterTests.swift
  tests/swift/Tests/Flexbuffers/FlexBuffersReaderTests.swift
  tests/swift/Tests/Flexbuffers/Mocks.swift
Labels: swift

#8615 [Python] Enhance object API `__init__` with typed keyword arguments
  src/idl_gen_python.cpp
  tests/MyGame/Example/Ability.py
  tests/MyGame/Example/ArrayStruct.py
  tests/MyGame/Example/ArrayStruct.pyi
  tests/MyGame/Example/ArrayTable.py
  tests/MyGame/Example/ArrayTable.pyi
  tests/MyGame/Example/Monster.py
  tests/MyGame/Example/NestedStruct.py
  tests/MyGame/Example/NestedStruct.pyi
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
  tests/MyGame/Example/NestedUnion/NestedUnionTest.pyi
  tests/MyGame/Example/NestedUnion/Test.py
  tests/MyGame/Example/NestedUnion/Test.pyi
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.py
  tests/MyGame/Example/NestedUnion/TestSimpleTableWithEnum.pyi
  tests/MyGame/Example/NestedUnion/Vec3.py
  tests/MyGame/Example/NestedUnion/Vec3.pyi
  tests/MyGame/Example/Referrable.py
  tests/MyGame/Example/Stat.py
  tests/MyGame/Example/StructOfStructs.py
  tests/MyGame/Example/StructOfStructsOfStructs.py
  tests/MyGame/Example/Test.py
  tests/MyGame/Example/TestSimpleTableWithEnum.py
  tests/MyGame/Example/TypeAliases.py
  tests/MyGame/Example/Vec3.py
  tests/MyGame/Example2/Monster.py
  tests/MyGame/InParentNamespace.py
  tests/MyGame/MonsterExtra.py
  tests/MyGame/MonsterExtra.pyi
  tests/monster_test_generated.py
  tests/optional_scalars/ScalarStuff.py
Labels: python, c++, codegen

#8645 Fix start page: Backwards and Forwards Compatibility
  docs/source/index.md
Labels: documentation
