Repository google/flatbuffers, pull requests merged in 2025-06, with the labels that each got.

#8619 [TS] Enum value default null
  src/idl_gen_ts.cpp
  tests/ts/my-game/example/monster.js
  tests/ts/my-game/example/monster.ts
  tests/ts/union-underlying-type/d.js
  tests/ts/union-underlying-type/d.ts
  tests/ts/union_vector/movie.js
  tests/ts/union_vector/movie.ts
Labels: c++, javascript, typescript, codegen

#8620 [TS] Upgrade deps
  .eslintrc.js
  .github/workflows/build.yml
  MODULE.bazel
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Labels: json, CI

#8500 Avoid outputting Python files for already generated types
  src/idl_gen_python.cpp
  tests/FromInclude.py
  tests/MyGame/OtherNameSpace/FromInclude.py
  tests/MyGame/OtherNameSpace/TableB.py
  tests/MyGame/OtherNameSpace/Unused.py
  tests/MyGame/OtherNameSpace/__init__.py
  tests/TableA.py
  tests/__init__.py
Labels: python, c++, codegen

#8551 Decode bytes to strings in Python Object API
  include/flatbuffers/idl.h
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_python.cpp
  tests/MyGame/Example/NestedUnion/NestedUnionTest.py
Labels: python, c++, codegen

#8622 [Swift] Adds windows support
  .github/workflows/build.yml
  Package.swift
  grpc/examples/swift/Greeter/Sources/Model/greeter.grpc.swift
  grpc/src/compiler/swift_generator.cc
  scripts/generate_code.py
  tests/swift/Tests/Flatbuffers/ByteBufferTests.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersMonsterWriterTests.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersNanInfTests.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersStructsTests.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersTests.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersUnionTests.swift
  tests/swift/Tests/Flatbuffers/FlatBuffersVectorsTests.swift
  tests/swift/Tests/Flatbuffers/FlatbuffersDoubleTests.swift
  tests/swift/Tests/Flatbuffers/FlatbuffersMoreDefaults.swift
  tests/swift/Tests/Flatbuffers/FlatbuffersVerifierTests.swift
  tests/swift/Tests/Flatbuffers/MutatingBool_generated.swift
  tests/swift/Tests/Flatbuffers/monster_test.grpc.swift
  tests/swift/Tests/Flatbuffers/monster_test_generated.swift
  tests/swift/Tests/Flatbuffers/monsterdata_test.mon
  tests/swift/Tests/Flatbuffers/more_defaults_generated.swift
  tests/swift/Tests/Flatbuffers/nan_inf_test_generated.swift
  tests/swift/Tests/Flatbuffers/optional_scalars_generated.swift
  tests/swift/Tests/Flatbuffers/union_vector_generated.swift
  tests/swift/Tests/Flatbuffers/vector_has_test_generated.swift
  tests/swift/Tests/Flexbuffers/FlexBuffersJSONTests.swift
  tests/swift/Tests/Flexbuffers/FlexBuffersReaderTests.swift
  tests/swift/Tests/Flexbuffers/FlexBuffersStringTests.swift
  tests/swift/Tests/Flexbuffers/FlexBuffersWriterTests.swift
  tests/swift/Tests/Flexbuffers/Mocks.swift
  tests/swift/fuzzer/CodeGenerationTests/test_import.fbs
  tests/swift/fuzzer/CodeGenerationTests/test_import_generated.swift
  tests/swift/fuzzer/CodeGenerationTests/test_no_include.fbs
  tests/swift/fuzzer/CodeGenerationTests/test_no_include_generated.swift
  tests/swift/fuzzer/Package.swift
  tests/swift/fuzzer/Sources/fuzzer/fuzzer.fbs
  tests/swift/fuzzer/Sources/fuzzer/fuzzer_generated.swift
  tests/swift/fuzzer/Sources/fuzzer/main.swift
  tests/swift/tests/SwiftTest.sh
Labels: python, c++, grpc, swift, CI
