Repository google/flatbuffers, pull requests merged in 2025-08, with the labels that each got.

#8655 Fix native_type non-native_inline fields, add tests
  scripts/generate_code.py
  src/idl_gen_cpp.cpp
  tests/native_type_test.fbs
  tests/native_type_test_generated.h
  tests/test.cpp
Labels: python, c++, codegen

#8664 Doc fix verifier example code for cpp
  docs/source/languages/cpp.md
Labels: documentation

#8656 docs: fix broken link in readme
  docs/README.md
Labels: documentation

#8665 Fix: Actually call ValidateOptions
  src/flatc.cpp
Labels: c++, codegen

#8684 fix(go/grpc): avoid panic on short FlatBuffers input
  go/grpc.go
Labels: golang

#8669 Bugfix: grpc supress incorrect warning
  include/flatbuffers/grpc.h
Labels: c++

#8666 gRPC callbackService support added
  CHANGELOG.md
  CMakeLists.txt
  grpc/README.md
  grpc/src/compiler/cpp_generator.cc
  grpc/src/compiler/cpp_generator.h
  grpc/tests/BUILD
  grpc/tests/grpctest_callback_client_compile.cpp
  grpc/tests/grpctest_callback_compile.cpp
  include/flatbuffers/idl.h
  scripts/generate_code.py
  src/flatc.cpp
  src/idl_gen_grpc.cpp
  tests/monster_test.grpc.fb.cc
  tests/monster_test.grpc.fb.h
  tests/monster_test_callback.grpc.fb.cc
  tests/monster_test_callback.grpc.fb.h
  tests/monster_test_generated.grpc.fb.cc
  tests/monster_test_generated.grpc.fb.h
  tests/monster_test_suffix/ext_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/filesuffix_only/monster_test.grpc.fb.cc
  tests/monster_test_suffix/monster_test.grpc.fb.cc
Labels: python, c++, grpc, codegen, documentation

#8593 [C#] Fix union verifier
  net/FlatBuffers/FlatBufferVerify.cs
  tests/FlatBuffers.Test/FlatBuffersExampleTests.cs
Labels: c#
