Repository google/flatbuffers, pull requests merged in 2025-01, with the labels that each got.

#8430 Fix crash for TypeScript enum in substruct
  src/idl_gen_ts.cpp
Labels: c++, javascript, typescript, codegen

#8476 fix typo in tutorial
  docs/source/quick_start.md
Labels: documentation

#8477 A couple of small updates to the docs
  docs/source/evolution.md
  docs/source/schema.md
Labels: documentation

#8486 Add imports for bazel
  MODULE.bazel.lock
  grpc/tests/BUILD
  tests/BUILD.bazel
  tests/bazel_repository_test_dir/BUILD
Labels: grpc

#8102 Rust full reflection
  rust/flatbuffers/src/lib.rs
  rust/flatbuffers/src/vector.rs
  rust/flatbuffers/src/verifier.rs
  rust/reflection/.gitignore
  rust/reflection/Cargo.toml
  rust/reflection/src/lib.rs
  rust/reflection/src/reflection_generated.rs
  rust/reflection/src/reflection_verifier.rs
  rust/reflection/src/safe_buffer.rs
  rust/reflection/src/struct.rs
  tests/rust_reflection_test/.gitignore
  tests/rust_reflection_test/Cargo.toml
  tests/rust_reflection_test/src/lib.rs
Labels: rust

#8468 Fix a minor typo in flatc --help output
  src/flatc.cpp
Labels: c++, codegen

#8497 Add bazel ci
  .bazelrc
  .github/workflows/build.yml
  MODULE.bazel
Labels: CI

#8502 Improve Bazel CI
  .bazelci/presubmit.yml
  MODULE.bazel
  WORKSPACE
Labels: CI

#8505 Add support for Bazel 7 and 8 in Bazel CI
  .bazelci/presubmit.yml
  WORKSPACE
  WORKSPACE.bzlmod
  tests/ts/bazel_repository_test_dir/WORKSPACE
  ts/BUILD.bazel
Labels: CI

#8507 Test external modules explicitly in CI
  .bazelci/presubmit.yml
  .bazelignore
  MODULE.bazel
  WORKSPACE
  tests/BUILD.bazel
  tests/bazel_repository_test_template.sh
  tests/defs.bzl
  tests/ts/BUILD.bazel
Labels: CI

#8508 Bump the versions of all aspect Bazel dependencies
  .bazelrc
  MODULE.bazel
  WORKSPACE
  tests/bazel_repository_test_dir/WORKSPACE.bzlmod
  tests/ts/bazel_repository_test_dir/.bazelrc
  tests/ts/bazel_repository_test_dir/MODULE.bazel
  tests/ts/bazel_repository_test_dir/WORKSPACE
  tests/ts/bazel_repository_test_dir/WORKSPACE.bzlmod
  ts/package.json
  ts/repositories.bzl
Labels: json

#8509 Remove Bazel WORKSPACE setup.
  .bazelci/presubmit.yml
  BUILD.bazel
  WORKSPACE
  WORKSPACE.bzlmod
  build_defs.bzl
  tests/bazel_repository_test_dir/README.md
  tests/bazel_repository_test_dir/WORKSPACE
  tests/bazel_repository_test_dir/WORKSPACE.bzlmod
  tests/ts/bazel_repository_test_dir/WORKSPACE
  tests/ts/bazel_repository_test_dir/WORKSPACE.bzlmod
  ts/BUILD.bazel
  ts/repositories.bzl
Labels: documentation, CI

#8510 Add Bazel instructions to docs
  docs/source/building.md
Labels: python, java, c#, c++, javascript, rust, grpc, typescript, codegen, swift, documentation, lua, json, kotlin, CI, nim

#8488 [C++] Avoid adding semicolon after a statement
  samples/monster_generated.h
  src/idl_gen_cpp.cpp
  tests/64bit/test_64bit_generated.h
  tests/cpp17/generated_cpp17/monster_test_generated.h
  tests/monster_test_generated.h
  tests/monster_test_suffix/ext_only/monster_test_generated.hpp
  tests/monster_test_suffix/filesuffix_only/monster_test_suffix.h
  tests/monster_test_suffix/monster_test_suffix.hpp
Labels: c++, codegen
